<p style="text-align: center;"><a href="./TY.html" style="font-family: Times; font-size: medium; text-align: center;"><img src="/i.imgur.com/yuQkoa7.png" width="500" height="537" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;">&nbsp;</p>
<h2 style="font-family: Times; text-align: center;"><em>hey... &quot;<strong>Us?</strong>&quot;&nbsp; is that you?</em></h2>
<p style="font-family: Times; font-size: medium;">&nbsp;</p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./ARFAXAD.html"><img src="/i.imgur.com/WXgJ4Aw.png" width="500" height="293" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href=".acebook.com/admdbrn"><img src="/i.imgur.com/4aCybMV.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="400" height="359" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><em><a href="./CLIMAX.html">climax</a>&nbsp;and&nbsp;<a href="./APPARITION.html">he<strong>ari</strong>ng</a></em>, on the&nbsp;<a href=".hor.lamc.la/">trial of Christ</a>.</p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./CLIMAX.html"><img src="/i.imgur.com/XRL5nwF.png" width="501" height="307" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;">&nbsp;</p>
<p style="font-family: Times; font-size: medium; text-align: center;">@ Operations Center ... I MATH.&nbsp;&nbsp;<em><a href="./SPEECH.html">Opsimath</a></em>. @TOP, Computer Science, too;&nbsp;<em><a href="./SPEECH.html">TOPICS</a></em>.<em><br type="_moz" />
</em></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./PERSEUS.html"><img src="/i.imgur.com/Tw0fB4g.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="500" height="448" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./FIRST.html"><img src="/i.imgur.com/kSs6woL.png" width="501" height="258" alt="" /></a></p>
<h1 style="font-family: Times; text-align: center;">&nbsp;</h1>
<h1 style="font-family: Times; text-align: center;"><em><a href="./SECORDANOLIVED.html">Hello? Is anyone out there?</a></em></h1>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./TY.html"><img src="/i.imgur.com/BybYEsT.jpg" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href=".//ALLTA.html"><img src="/i.imgur.com/UYLnmP9.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./WISDATAM.html"><img src="/i.imgur.com/nWayE76.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="500" height="1196" alt="" /></a></p>
<p style="font-family: Times; font-size: medium;">&nbsp;</p>
<p>&nbsp;</p>
