<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div style="text-align: center;">
<h1 class="m_2612051645941153562gmail-firstHeading" id="m_2612051645941153562gmail-firstHeading" lang="en" style="background: none; border-bottom: 1px solid rgb(162, 169, 177); line-height: 1.3; margin: 0px 0px 0.25em; overflow: visible; padding: 0px; text-align: center; text-indent: 0px; width: auto;"><span class="m_2612051645941153562gmail-Hani" style='color: rgb(51, 51, 51); font-family: "linux libertine", georgia, times, serif; font-size: 1.2em;'><span style="color: rgb(204, 0, 0); font-family: arial, sans-serif; font-size: x-large;">木</span></span><span style='color: rgb(53, 28, 117); font-family: "linux libertine", georgia, times, serif; font-size: 1.8em;'>湖</span></h1>
<div style="text-align: center; text-indent: 0px;">&nbsp;
<h1 class="m_2612051645941153562gmail-firstHeading" id="m_2612051645941153562gmail-firstHeading" lang="en" style='background: none; color: black; font-family: "linux libertine", georgia, times, serif; font-size: 1.8em; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 1.3; margin: 0px 0px 0.25em; overflow: visible; padding: 0px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; width: auto; word-spacing: 0px;'><span class="m_2612051645941153562gmail-Hani"><a href=".it.ly/2p0foz6" style="font-size: 1.8em;"><img alt="" id="BLOGGER_PHOTO_ID_6523428555372154770" src="/i.imgur.com/GVVjWkL.png" style="border-width: 0px; border-style: solid;" /></a></span></h1>
<h1 class="m_2612051645941153562gmail-firstHeading" lang="en" style='background: none; color: black; font-family: "linux libertine", georgia, times, serif; font-size: 1.8em; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 1.3; margin: 0px 0px 0.25em; overflow: visible; padding: 0px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; width: auto; word-spacing: 0px;'>&nbsp;</h1>
<h1 class="m_2612051645941153562gmail-firstHeading" lang="en" style='background: none; color: black; font-family: "linux libertine", georgia, times, serif; font-size: 1.8em; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 1.3; margin: 0px 0px 0.25em; overflow: visible; padding: 0px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; width: auto; word-spacing: 0px;'><a href=".it.ly/2hgHksE"><img src="/i.imgur.com/w5tQF9q.png" style="height: 255px; width: 500px;" /></a><a href=".it.ly/2h1Gb81"><img src="/i.imgur.com/wNRLJGr.png" style="height: 184px; width: 500px;" /></a></h1>
<p>&nbsp;</p>
<div>
<div dir="ltr" style="background-color: white; text-indent: 0px;">
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">Nearly in tears, something like simultaneous joy for the visible reaction, for the giant leap forward from the place we have been stuck in for so long... and genuinely sad that I&#39;ve been so focused on&nbsp;<i style="font-style: normal;">seeing any reaction</i>&nbsp;at all, at piercing the darkness <a href=".it.ly/2AXkeWo">hiding miracles</a> and <a href=".it.ly/2p0VbJe">Heaven&#39;s door</a>... that I&#39;ve really failed to convey the uplifting presentation that I have hoped for--and asked for.&nbsp; I really am sorry that we&#39;ve fallen into this&nbsp;<a href=".it.ly/2p0VdAQ" style="color: #1155cc; font-style: normal;" target="_blank"><span style='font-family: "arial narrow" , sans-serif;'>Downward Spiral</span></a>, symphonic-ally indicated to be &quot;not an accident;&quot; I hope it&#39;s clear from the&nbsp;<a href=".it.ly/2oZoJXV" style="color: #1155cc; font-style: normal;" target="_blank"><span style='font-family: "arial narrow" , sans-serif;'>amount of work on the &quot;rail road&quot;</span></a>&nbsp;that this is not at all &quot;<span style='font-family: "arial narrow" , sans-serif; font-style: normal;'><a href=".it.ly/2gU3qq2" style="color: #1155cc;" target="_blank">the end of the world</a></span>&quot; it&#39;s very clearly the end of Hell and the beginning of a path, a well lit road to the place that we have always called Heaven.&nbsp; The myth of Thor at Ragnarok ties to American Pie&#39;s &quot;<i><a href=".it.ly/2zP1gAY">I couldn&#39;t take one more step</a>&quot; </i>and my heart is glowing with new hope seeing Pope Francis break the first small hole in the <i>Wall of Jericho.</i></span></span>
<div style="font-style: normal;">&nbsp;</div>
<span class="m_2612051645941153562gmail-Hani"> </span>
<div>
<div style="font-style: normal;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">There are wonderful things in store for us--miracles will happen--literally what I see being given to us is the greatest miracle I could imagine--it is the end of sickness and hunger, the end of murder, and a glowing opportunity showing us how to use this message of Exodus to overcome the technological and systemic obstacles standing between us and true democracy.&nbsp; Imagine Dragons sings &quot;<a href=".it.ly/2p0gI4R">it&#39;s a revolution, I suppose</a>&quot; and really what we are looking at here is evolution, it&#39;s being in exactly the right place, at exactly the right time; to literally become the founders and the builders of Heaven.</span></span></div>
<div style="font-style: normal;">&nbsp;</div>
<div style="font-style: normal; text-align: center;"><a href=".alo.s.lamc.la?AE60A491FD10716C"><img src="/i.imgur.com/ZNLndme.png" style="height: 171px; width: 500px;" /></a></div>
<p><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">I am not saying that this is an &quot;easy thing to do,&quot; I am suggesting that we have a significant amount of help, that we&#39;ve literally been <i>Chosen</i> to fulfill this plan; and that doing &quot;this thing&quot; is really both what we want to do, and need to do.&nbsp; <i>Luke</i>, this is your destiny.</span></span></p>
</div>
</div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">That might mean different things to each one of us; I&#39;m not sure how much thought everyone else has put into the question of &quot;what will Heaven be like&quot; but here in this place we are being shown very clearly, at least I am--that the social gap between here and there is very large; I have trouble communicating and interacting with what I know is a large group of people working very hard to help us see how new technologies and new horizons opened by clearly linking in our minds the connection between virtual reality and what Heaven can be.&nbsp; Th<a href=".it.ly/2Ieoq4e" style="font-style: normal;">e map we&#39;ve</a> be<a href=".it.ly/2p0VbJe" style="font-style: normal;">en give</a>n, woven in <i>every major religious work in all of our history</i>, from the books of <a href=".it.ly/2p0BykJ">Genesis and Exodus, to the Promised Land in Joshua and whole of the New Testament</a> delivers a walk through to the road now visualized as a &quot;video game.&quot;&nbsp; In this new world, it becomes significantly easier to solve the greatest problems our civilization has--Jesus&nbsp;<a href=".it.ly/2kSGoyp" style="color: #1155cc; font-style: normal;" target="_blank">healed the sick</a>&nbsp;and then turned&nbsp;<a href=".it.ly/2p0BykJ" style="color: #1155cc; font-style: normal;" target="_blank">stone to bread</a>&nbsp;and then musically hear that we are &quot;<span style='font-family: "arial narrow" , sans-serif; font-style: normal;'>Going the Distance</span>&quot; and ending world hunger is now a Cake walk and it&#39;s &quot;easy <a href=".it.ly/2p0Ae1e" style="font-style: normal;">as American Pie</a>.&quot;&nbsp; I&#39;m trying to show us how clear it is that these bands and their songs are designed to help us connect the Sega Genesis and the Rock of Ages and the idea of being able to press a button and having food appear, and <a href=".it.ly/2pnlwET" style="font-style: normal;">cancer and AIDS disappear</a>; that&#39;s what we&#39;re getting.&nbsp;&nbsp;</span></span><br />
<br />
&nbsp;
<div class="separator" style="clear: both; text-align: center;"><span class="m_2612051645941153562gmail-Hani"><a href=".it.ly/2IgnX1w"><img border="0" data-original-height="232" data-original-width="466" src="/i.imgur.com/J99pX8F.png" /></a></span></div>
<span class="m_2612051645941153562gmail-Hani"> </span></div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;">
<div style="font-weight: 400;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">Integrating this &quot;blessing in disguise&quot; or amazingly opportune turn of events into our every day lives is going to take time and effort--this is &quot;<i>what it is</i>&quot; this is building Heaven; seeing that we love our home that we&#39;ve made, and with this new information we will love even more--and the future will be protected from the suffering we&#39;ve gone through because we didn&#39;t know we could <i><a href=".it.ly/2yJzZKJ">flip a switch and end all pain</a></i>.&nbsp; It&#39;s in Genesis 3:16 though, see us as walking backwards back into Eden, see us as the great generation that ascends and entire civilization, the gate opened opened and surrounding the entirety of our Earth with Holy Light.</span></span></div>
<div style="font-weight: 400;">&nbsp;</div>
<span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><span style="font-weight: 400;">More than that this story and this event helps to reinforce the fundamental values of democracy and freedom that really are </span><a href=".it.ly/2p4A9K2" style="font-weight: 400;">the shield of Perseus</a><span style="font-weight: 400;">; this set up to show us very clearly that while this message and this technology are secret no election or vote of any kind has any worth or veracity; that we&#39;ve allowed every single right guaranteed by the Bill of Rights to be &quot;legislated away&quot; in what we can only imagine are good faith efforts to skirt the very difficult process of amending the Constitution to integrate new technologies into law.&nbsp; The problem here is that process is difficult for a reason, and these &quot;hacks&quot; that have abrogated bail and &quot;fair trial&quot; and &quot;privacy&quot; and really symptoms of a hidden slavery that is the heart of the Exodus; the great chain of Revelation--<a href=".it.ly/2oXdOOi">the strings of Pinocchio... &quot;</a></span><i><a href=".it.ly/2oXdOOi"><span style="font-weight: 400;">cros</span>sing</a></i><span style="font-weight: 400;"><a href=".it.ly/2oXdOOi">&quot;</a> the whole of our sea.&nbsp; Blessing in disguise is the theme of Exodus; here in this place where we are to be the beginning of true freedom, and there&#39;s significant light on the road to using the technology responsible for the &quot;Wall of Jericho&quot; and the &quot;darkness of Exodus&quot; hiding the light of the sun... in order to <a href=".it.ly/2pnlwET">cure</a> us o<a href=".it.ly/2AXkeWo">f &quot;harm&quot; in Pharm</a>acy and of <a href=".it.ly/2oZoNH9">schizophrenia and of addiction</a> and of terrorism... but we need to talk about how, how to visualize these things and how to integrate them into our way of life.</span></span></span><br />
<br />
&nbsp;
<div style="text-align: center;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><span style="font-weight: 400;"><img src="/i.imgur.com/1d3OAlr.png" /></span></span></span></div>
<span class="m_2612051645941153562gmail-Hani"> </span></div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">Working together to do actually do these things is literally the greatest opportunity I can imagine--and yet we&#39;re all here together, and I know that there are so many of us that are just &quot;pretending not see it&quot; looking the other way in the face of something that is simply not morally <i>ignorable</i>.&nbsp; This map shows us very <a href=".it.ly/2yIGhu9">bluntly</a> that stopping murder and rape is a moral mandate, there is simply no question at all whether or not it has to be done; the only thing to discuss is how, and the only question is &quot;<i>how soon can it be done?</i>&quot; You should<span style="font-style: normal;">&nbsp;</span><i style="font-style: normal;">glean</i>&nbsp;from Minority Report that there m​ight be a subconscious or perhaps a semi-sub-vocal fear of change, and of moving too quickly; but really we aren&#39;t moving at all today--and it appears very obvious to me that there are innocent children dying in what is a hidden war over this disclosure.&nbsp; I&#39;ve written this message at least four times, this explanation of the wonderful possibilities and the map signed in God&#39;s hand.</span></span></div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">There is something to be troubled over, I&nbsp;<span style='font-family: "arial black" , sans-serif;'><a href=".it.ly/2hgHksE" style="color: #1155cc;">am disturbed</a></span>&nbsp;as well; we all know this should be on the news, and it&#39;s really time we did something about it.&nbsp; I&#39;m going to start writing a little bit more about my dance with Medusa, and my strange connection to the &quot;c&quot;through the &quot;i&quot; of Ra; this thing that the two words medicine; see the i and c superimpose to the letter &quot;e&quot; and whatever this thing is, it appear s to be keeping the world from reacting rationally and logically.&nbsp; It appears to me, through my interaction with people around me everywhere I go; and through the internet that a great many people have more information than I&#39;ve written, and I really do not understand how it is that nothing is being done.&nbsp; I am pessimistically assuming that I will get very little traffic to these messages, that I&#39;m going to try not using the &quot;<i><a href=".it.ly/2znKuo0" style="color: #1155cc;" target="_blank">hammer</a></i>&quot; of Thor (see it <a href=".it.ly/2DGcNAO">is &quot;ha massmailer&quot; in a series of &quot;ha&quot; keyed words from harem to harm</a> that all connect to modern information <a href=".it.ly/2kukgem">technology concepts and stories from my youth</a>) to send to the world; and that&#39;s just more fuel for my belief that there&#39;s something very wrong.&nbsp; This process and this thing we are building together will bring new law; to protect the sanctity of our minds and bodies, to ensure that never again will darkness fall and never again will advanced weapons be used nefariously against innocent people.&nbsp; Transparency and competition in this space will lead to even more miraculous solutions; things unfathomable to me and you today--but tomorrow, tomorrow they&#39;ll bring positive change on the same level as &quot;<a href=".it.ly/2p4A9K2">cell phones.</a>&quot;</span></span><br />
&nbsp;</div>
<div style="text-align: justify;">
<div style="text-align: center;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><a href=".it.ly/2p3E0Xo"><img border="0" data-original-height="501" data-original-width="439" height="320" src="/i.imgur.com/Ng9COGS.png" width="280" /></a></span></span></div>
<div style="text-align: center;">&nbsp;</div>
</div>
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani">I really do feel like everyone is &quot;<a href=".it.ly/2itcx0I">behind my blue eyes</a>&quot; watching this message being written, and not taking any action--and neither of those things are &quot;good&quot; whatever this thing is that stands between you and I, it&#39;s making me feel like the world around me is fake; and honestly you can&#39;t have grown up here in this world and not be amazed by this message, and awed by what is about to happen--it&#39;s really not possible.&nbsp; That&#39;s what you&#39;re missing, being <a href=".it.ly/2IdMGU1">amazed and awed</a>... it feels <a href=".it.ly/2p4A9K2">like Invasion of the Body Snatcher</a>, <a href=".it.ly/2p0VbJe">instead</a>.</span></span></div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="color: #222222; font-family: arial, sans-serif; font-size: small; font-style: normal; font-weight: 700; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;">
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><span style="font-weight: 400;">I hope you see clearly, reaction--any reaction at all, really--brings a bright day; and not seeing this message makes everyone look very, very wrong.&nbsp; That&#39;s not going to change,</span><span style='font-family: "arial" , sans-serif; font-weight: 400;'>&nbsp;</span><i style='font-family: "arial" , sans-serif; font-weight: 400;'>ignoring this message is wrong</i><span style="font-weight: 400;">; we really must talk about what is being presented, and how it might happen--miraculously--perhaps as we approach this first commemorative holiday of</span><span style='font-family: "arial" , sans-serif; font-weight: 400;'>&nbsp;</span><a href=".it.ly/2p0VbJe" style='color: rgb(17 , 85 , 204); font-family: "arial" , sans-serif; font-weight: 400;' target="_blank">Norther</a><span style="font-weight: 400;">.&nbsp; The truth, the true &quot;location&quot; of our world cannot be ignored away; and every day that passes is one more day of Hell; a very curable problem--it takes&nbsp;<span style='font-family: "arial narrow" , sans-serif;'><a href=".it.ly/2p1806f" style="color: #1155cc;">nothing</a></span>&nbsp;<span style='font-family: "arial narrow" , sans-serif;'><a href=".it.ly/2IgOYSw" style="color: #1155cc;">more</a></span>&nbsp;<span style='font-family: "times new roman" , serif;'>than</span></span><span style='font-family: "arial narrow" , sans-serif;'>&nbsp;<a href=".it.ly/2p0m4x3" style="color: #1155cc;"><span style="font-weight: 400;">the truth, and&nbsp;</span>you</a></span><span style="font-weight: 400;">.</span></span></span></div>
</div>
<div style="text-align: center;">
<div style="color: #222222; font-size: small; font-style: normal; letter-spacing: normal; text-transform: none; white-space: normal; word-spacing: 0px;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><span style="font-weight: 400;"><a href=".it.ly/2p3EEUO"><img alt="" border="0" height="205" id="BLOGGER_PHOTO_ID_6523428564299391010" src="/i.imgur.com/M6Smgnf.png" width="400" /></a></span></span></span></div>
<div style="color: #222222; font-size: small; font-style: normal; letter-spacing: normal; text-transform: none; white-space: normal; word-spacing: 0px;">&nbsp;</div>
<div style="text-align: justify;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><span style="color: #222222; font-size: x-small;">I<span style="font-weight: normal;"> wish I could make an e-mail that would sing to your heart, but this is what I have; </span></span><i style="color: #222222; font-size: small; font-weight: normal; letter-spacing: normal; text-transform: none; white-space: normal; word-spacing: 0px;"><a href=".it.ly/2IgP1Oc">all the music</a></i><span style="color: #222222; font-size: x-small;"><span style="font-weight: normal;">, to help you see the light.&nbsp; The title of this e-mail is my &quot;decoding&quot; of the Matrix&#39;s Cypher of the word &quot;troubling&quot; and the <TR> key that comes from HTML and means something like the &quot;category of Jeopardy&quot; is one of the most interesting of the linguistic keys--it&#39;s asking the reader a question, &quot;what do you think about this?&quot; and you can usually see clues or his answer in the actual word.&nbsp; <span style="font-size:12px;">This hidden language, just like the hidden messages in music ... is everywhere--there&#39;s proof of intelligent design in every single word, in every character of every language from the occidental </span></span><span style="font-size:12px;"><span style="font-weight: 400;">glyphs</span><span style="font-weight: normal;">&nbsp;at the very beginning to the cross hidden in the word &quot;Christ&quot; and &quot;what goes up must come own&quot; tucked away where you&#39;d expect to find it, even if you are &quot;New to n.&quot;&nbsp; It uses our modern acronyms and slang, things like &quot;bling&quot; and &quot;hmu&quot; as well as a statistically huge portion of information technology acronyms from IT in <a href=".it.ly/2IcGr2U">Trinity</a> to <i>charity</i> where you can also see the &quot;char&quot;-acter reference that also appears in Christ.</span></span></span></span><br />
<br />
<span style="font-size:12px;"><span class="m_2612051645941153562gmail-Hani"><span style="color: rgb(34, 34, 34);"><span style="font-weight: normal;"><a href=".it.ly/2IgnX1w">The map continues to talk</a> about things like quickly and feasibly curing the world of homelessness, rape and murder, and very significantly curing a lack of true liberty... and it is literally never ending--the map, that is.</span></span></span></span></span><br />
&nbsp;
<div style="text-align: center;"><span class="m_2612051645941153562gmail-Hani"><span class="m_2612051645941153562gmail-Hani"><span style="color: #222222; font-size: x-small;"><span style="font-weight: normal;"><a href=".it.ly/2IgnX1w"><img src="/i.imgur.com/L9CKiVr.png" /></a></span></span></span></span><br />
&nbsp;
<div class="separator" style="clear: both; text-align: center;"><span class="m_2612051645941153562gmail-Hani"><a href=".it.ly/2IgP8JC" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img data-original-height="393" data-original-width="537" src="/i.imgur.com/iXukFie.png" style="border-width: 0px; border-style: solid; height: 366px; width: 500px;" /></a></span></div>
<div class="separator" style="clear: both; text-align: center;">
<blockquote>
<p style="text-align: justify;">I&#39;m sorry, I really don&#39;t know how&nbsp;explicit&nbsp;I have to be with these things; I&#39;d normally assume that maybe some people would take interest in the &quot;<a href=".it.ly/2p0LYRl">Black Mirror White Christmas</a>&quot; ... pearl, and it&#39;s link to &quot;Wish You Were Here&quot; and watch the episode if they haven&#39;t seen it--nearly all of what Black Mirror does appears to be a sort of key, finishing or adding more &quot;discussion&quot; to what is literally &quot;this message.&quot;&nbsp;&nbsp;</p>
<p style="text-align: justify;">It&#39;s an interesting commentary on what &quot;discussion&quot; has turned into in this place; this world where I can&#39;t really seem to get any of you to reply to me directly and give me any feedback at all (something I am asking you for, right now) ... that what we have is a sort of &quot;reflection of light&quot; back and forth shining on you--this world that refuses to acknowledge what is being presented to you is a map to turning simulated reality in to Heaven.&nbsp; I think they&#39;re doing a good job of &quot;re-presenting&quot; or clarifying the imagery of Pink Floyd&#39;s video--which is a depiction of an actual story, something I spent <a href=".it.ly/2kukgem">quite a bit of time thinking</a> about in that place in Kentucky where all I did was &quot;<a href=".it.ly/2oZoNH9">think</a>&quot;&nbsp; about past futures.</p>
</blockquote>
</div>
</div>
<p><span class="m_2612051645941153562gmail-Hani"><span style="font-size:14px;"><span class="m_2612051645941153562gmail-Hani"><span style="color: rgb(34, 34, 34);"><span style="font-weight: normal;">Anyway, what pops into the Eye of Ra is a sort of intersection between &quot;Lucy in the sky with diamonds&quot; and &quot;Ruby on Rails&quot; there&#39;s a whole bundle of light connection the information technology building blocks of Heaven with lyrics of the Beatles and America the Beautiful ... like &quot;above the strawberry fields, Adam sees Great Plains&quot; for FRX forms and <i>automagically</i> &quot;improving&quot; user interfaces ... all the way to hearing Dave Matthews &quot;<a href=".it.ly/2DF69L2">ish</a>&quot; the words just a little bit, j</span></span></span></span></span></p>
<p><span class="m_2612051645941153562gmail-Hani"><span style="font-size:14px;"><span class="m_2612051645941153562gmail-Hani"><span style="color: rgb(34, 34, 34);"><span style="font-weight: normal;">ust for emphasis... &quot;</span></span></span></span><span style="font-size:16px;"><span class="m_2612051645941153562gmail-Hani"><span style="color: rgb(34, 34, 34);"><span style="font-weight: normal;"><i><a href=".it.ly/2h2Da7u">this land was made</a></i></span></span></span></span><span style="font-size:14px;"><span class="m_2612051645941153562gmail-Hani"><span style="color: rgb(34, 34, 34);"><span style="font-weight: normal;"><i><a href=".it.ly/2h2Da7u">.</a>&quot;</i></span></span></span></span></span></p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href=".it.ly/2p1vo3T"><img alt="" id="BLOGGER_PHOTO_ID_6509587097429058226" src="/i.imgur.com/ZesRzaR.png" style="border-width: 0px; border-style: solid; width: 500px; height: 241px;" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2oZoNH9"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6509587120891907186" src="/i.imgur.com/6bOWF4K.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2p0BykJ"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6509587127515594562" src="/i.imgur.com/X7yo4nV.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2pnlwET"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6509587104722060450" src="/i.imgur.com/Qm4y6oW.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2kuke6e"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6509587130361080738" src="/i.imgur.com/xLutPTs.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2kSGoyp"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6509587109710987970" src="/i.imgur.com/r8YTeYk.png" /></a></p>
<p style="text-align: center;"><span style="color:#ADD8E6;"><b>disclanatsing</b></span></p>
<p style="text-align: center;"><a href=".it.ly/2IgPlMU"><img src="/i.imgur.com/sXrRDaG.png" /></a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script async="async" src=".latform.twitter.com/widgets.js" charset="utf-8"></script>
