<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<meta charset="utf-8" />
<div dir="ltr" style='color: rgb(51, 51, 51); font-family:
"Open Sans", sans-serif; font-size: 16px; font-style:
normal; font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2; text-align:
start; text-indent: 0px; text-transform: none; white-space:
normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width:
0px; background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div style="text-align: center;">
<div style="text-align: center;">
<div style="text-align: center;"><a href=".ww.instagram.com/p/BbiROr4gb4X/?taken-by=yitsheyzeus" style="text-decoration: none; color: rgb(65,
131, 196);"><img height="400" src="/i.imgur.com/OjDpCTO.png" style="max-width: 100%;" width="296" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".ix.s.lamc.la" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="AT MATRIX" border="0" height="142" src="/i.imgur.com/gAm0D4L.png" style="max-width: 100%;" width="320" /></a><br />
<br />
<i>how many calculations do you think it takes to simulate the impact of a bullet?</i></div>
<div style="text-align: center;">&nbsp;</div>
</div>
</div>
<div style="text-align: center;"><a href=".ww.youtube.com/watch?v=Fr_CHOxSyc8&amp;index=5&amp;list=PLgYKDBgxsoMNvBS6k4NffQQnobyUqXuMh" style="text-decoration: none; color: rgb(65, 131,
196);"><img src="/i.imgur.com/cNW3P9D.png" style="max-width: 100%; height: 267px; width:
499px;" /></a></div>
<div style="text-align: center;">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div hspace="streak-pt-mark" style='color: rgb(51, 51, 51);
font-family: "Open Sans", sans-serif; font-size: 16px;
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: start; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial; max-height: 1px;'><img alt="" src="/i.imgur.com/JivDfbB.png" style="max-width: 100%; max-height: 0px; overflow: hidden;
width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
<center style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2; text-indent:
0px; text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>
<div style="width: 600px;">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div style="text-align: center;">
<div><a href="./" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" src="/i.imgur.com/HqfVC9E.png" style="max-width: 100%; width: 288px; height:
165px;" /></a></div>
<div>&nbsp;</div>
<div><span style="font-size: 36px;">we&#39;re not in<span>&nbsp;</span><a href="./the_letter_why.html" style="text-decoration: none; color: rgb(65,
131, 196);">AM</a>o<a href="./SERDEN.html" style="text-decoration: none; color: rgb(65,
131, 196);">Z</a><span>&nbsp;</span>anymore</span><br />
<br />
<a href="./CLIMAX.html"><span style="font-size: 36px;"><meta charset="utf-8" /> <img alt="ATARI ADDED TO TENNESSEE." src="/i.imgur.com/w4ICHtm.png" style="border-width: 0px; border-style: solid; width: 485px; height: 443px;" /></span></a><br />
<br />
[ trouble viewing this? see it online at<span>&nbsp;</span><span style="font-size: 20px;"><a href="./CLIMAX.html" style="text-decoration: none; color: rgb(65,
131, 196);"><strong>xe.s.lamc.la</strong></a></span><span>&nbsp;</span>]</div>
<div>&nbsp;</div>
<div><a href="./MYLIFE.html" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" src="/i.imgur.com/MubMmAu.png" style="max-width: 100%; width: 500px; height:
379px;" /></a></div>
<div>&nbsp;</div>
<div style="text-align: justify;">In the<span>&nbsp;</span><span style='font-family: "comic sans ms",
cursive;'>year</span><span>&nbsp;</span>2015, the sanity of this message and the defense of &quot;lack of free will&quot; were put on trial, the judge who presided over the case is depicted above, and the heart of the words &quot;apparition&quot; and &quot;hearing&quot; described in this message.&nbsp;<span>&nbsp;</span><em>No verdict was returned</em>, as American Pie predicted--and adds that work of art to the growing list of songs that connect &quot;Superman&quot; and &quot;crazy&quot; to what amounts to nothing short of the sanity of the entirety of our world being called into question ffor it&#39;s inability to react to this message--and it&#39;s apparent desire to simply &quot;not see it.&quot;&nbsp; I&#39;ve placed my old narrative of the musical prelude to the case, something of a &quot;defense&quot; at the end of this message.&nbsp; I do hope you&#39;ll read it--it was well received.&nbsp; During that trial, the court system I was a part of, in Bro<strong>ward</strong> County where the elected public defender is the one and only &quot;Help me Ho<strong>ward</strong>&quot; was being covered by Al Jazeera America--who did a face to face interview with me after one of our proceedings.&nbsp; While the interview probably wasn&#39;t noteworthy, I do imagine that the transcripts from our modern day &quot;<span style="font-size: 12px;"><strong>LET MY PEOPLE GO</strong></span>&quot; will be of significant interest both now and in the future.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">At &quot;ward&quot; and Atari, you really can&#39;t deny you&#39;re looking at the Trial of Christ, maybe throw in the 3 Doors Down <a href=".ww.youtube.com/watch?v=xPU8OAjjS4k">lyrics from Kryptonite</a>:&nbsp;<em>&quot;if I go crazy, will you still call me Superman</em>?&quot;&nbsp; I&#39;m definately not crazy by the way, and the only criteria used to determine that by the numerous forensic psychologists who interviewed me were &quot;religious delusions of grandeur&quot; ... which, <em>I mean</em>.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">
<div style="text-align: justify;">Al Jazeera America was shut down while this story was being investigated.&nbsp;</div>
</div>
<div>&nbsp;</div>
<div><a href="./IOWA.html" style="text-decoration: none; color: rgb(65,
131, 196);"><strong><img alt="" src="/i.imgur.com/OYSadno.png" style="max-width: 100%; width: 500px;height: 133px;" /></strong></a></div>
<div>&nbsp;</div>
<div><strong>HEADED FOR<span>&nbsp;</span><a href="./IOWA.html"><span style="font-size: 24px;"><span style='font-family: "comic sans
ms", cursive;'><em>KANSAS</em></span></span></a>, TOTO</strong><strong>?</strong></div>
<div>&nbsp;</div>
<div>&nbsp; &nbsp; &nbsp;<a href=".mega.september2016.com/" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" id="BLOGGER_PHOTO_ID_6495017500754793394" src="/i.imgur.com/n2W40zy.png" style="max-width: 100%; border-width: 0px;
border-style: solid; width: 200px; height:
78px;" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<div>&nbsp;<a href="./FOUR.html" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" border="0" height="228" id="BLOGGER_PHOTO_ID_6504720606627991826" src="/i.imgur.com/n0LyAYY.png" style="max-width: 100%;" width="400" /></a></div>
</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-size: 20px;"><strong><span style='color: blue; font-family: "arial
black", sans-serif;'>T&nbsp; &nbsp;U&nbsp; &nbsp;R&nbsp; &nbsp;N&nbsp; &nbsp; &nbsp;A&nbsp; &nbsp;R&nbsp; &nbsp;O&nbsp; &nbsp;U&nbsp; &nbsp;N&nbsp; &nbsp;D</span></strong></span></div>
<div style="text-align: center;"><a href="./WHO.html" style="text-decoration: none; color: rgb(65, 131,
196);"><img alt="" id="BLOGGER_PHOTO_ID_6493698130835343954" src="/i.imgur.com/3xHfjI9.png" style="max-width: 100%; border-width: 0px;
border-style: solid; width: 500px; height:
202px;" /></a></div>
<div style="text-align: center;">
<div style="text-align: justify;">
<p style="text-align: center;"><a href="./MEDUSA.html" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" border="0" height="217" id="BLOGGER_PHOTO_ID_6495017512814991698" src="/i.imgur.com/JtrJhy7.png" style="max-width: 100%;" width="500" /></a>​&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p style="text-align: center;"><a href=".mega.september2016.com/" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" border="0" height="164" id="BLOGGER_PHOTO_ID_6495017525045310226" src="/i.imgur.com/PP1bLMz.png" style="max-width: 100%;" width="508" /></a></p>
</div>
<div style="text-align: justify;"><strong><span style='font-family: "arial black",
sans-serif;'><a href="./ERICHOW.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">WORDS</a></span></strong>&nbsp;that I recently have connected to the concept of&nbsp;<em><a href="./MEDUSA.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">Medusa and the Abomination of Desolation</a>;&nbsp;</em>echoing from the song that more than any other is the one I&#39;ve been&nbsp;<span style='font-family: "arial
narrow", sans-serif;'><a href=".ww.youtube.com/watch?v=f6ku2J6eT3I" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">waiting for you to hear</a></span>; Bonnie Tyler&#39;s&nbsp;<em><span style='font-family:
"arial narrow", sans-serif;'><a href=".ww.youtube.com/watch?v=lcOxhH8N3Bo" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">Total Eclipse of the Heart,</a></span></em>&nbsp;&quot;<em>and&nbsp;<a href="./MEDUSA.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">together we can</a>&nbsp;take it to the end of&nbsp;<a href="./2017-06-14-enders-game-prometheus-locke-and.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">the line</a>, cuz we&#39;ll&nbsp;<strong><a href=".to.shiningbright.online/" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">enver</a></strong>&nbsp;<a href=".n.wikipedia.org/wiki/Enver_Hoxha" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">be wrong</a>&nbsp;together.&quot;</em>&nbsp; With he<strong>ari</strong>ng I hope&nbsp;<span style='font-family: "comic sans ms",
sans-serif;'><a href="./2017-06-09-sound-horn-of-revelation-keys-of.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">you can</a>&nbsp;see&nbsp;<a href="./2017-08-07-cyan-ymene-mor-see-why-an.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">it</a>&nbsp;</span><span style="font-family: arial, helvetica,
sans-serif;">is truly a story that has woven the events of my life into our history and every single word in a way that is startling to say the least.&nbsp; At first it&#39;s easy to&nbsp;</span><span style='font-family: "arial black",
sans-serif;'><a href=".adragonbreath.blogspot.com/2017/10/trick-or-re-p-e-at.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">dispel</a></span><span style="font-family: arial, helvetica,
sans-serif;">&nbsp;as hu</span><a href=".ww.docdroid.net/ZkbjdNU/antagonizingpainxe.pdf" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">bris</a><span style="font-family:
arial, helvetica, sans-serif;">&nbsp;or fantasy, but as the occurrences and examples continue to pile high in our&nbsp;</span><a href="./2017-06-09-verily-i-say-unto-you-ver-means-to-see.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">actual Tower</a><span style="font-family: arial, helvetica,
sans-serif;">&nbsp;of Babel it slowly becomes undeniable, just as this language that connects Shakespeare to&nbsp;</span><a href="./2017-08-27-new-jerusalem.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank"><span style='font-family:
"arial black", sans-serif;'>Rodney</span></a><span style="font-family: arial, helvetica,
sans-serif;">&nbsp;<a href=".ww.disney.com/" rel="noopener" style="text-decoration: none;
color: rgb(65, 131, 196);" target="_blank">and</a>&nbsp;Stephen&nbsp;</span><a href="./MEDUSA.html?nRkNX/" rel="noopener" style="text-decoration: none;
color: rgb(65, 131, 196);" target="_blank">King</a><span style="font-family: arial, helvetica,
sans-serif;">&nbsp;shows us purposing shining through more than just Osiris and&nbsp;</span><a href="./2017-08-07-cyan-ymene-mor-see-why-an.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">Shu&#39;s feather of light and darkness</a><span style="font-family: arial, helvetica,
sans-serif;">&nbsp;and Yankee Doodle&#39;s &quot;macaroni-c&quot; phallic imagery; I stare out at a sea of silence with more contempt than I&#39;d like to have--wondering when you will agree with me that no matter how we&#39;ve gotten here or what&#39;s happened outside our existence than the things this message etches into history in the hand and name of Jesus Christ are more than worthy of&nbsp;<a href="./awlist4296878/MJHea/h/John_Legend_s_All_of_Me_.htm" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">the legend</a>.</span></div>
<div style="text-align: justify;">&nbsp;</div>
<div><span style="font-family: arial, helvetica,
sans-serif;"><a href=".merica.aljazeera.com/articles/2016/2/6/mental-health-court-florida-criticism.html" style="text-decoration: none; color: rgb(65,
131, 196);"><img alt="" src="/i.imgur.com/kIPMJ3K.png" style="max-width: 100%; width: 500px;
height: 537px;" /></a></span></div>
<div>&nbsp;</div>
<div><span style="font-family: arial, helvetica,
sans-serif;">hey, <a href=".witter.com/roxsaberi"><em>Roxana</em></a>&nbsp;;x&nbsp; Psych evals from the case&nbsp;<a href=".igshare.com/s/679fccff28cbb989d655"><em>here</em></a>.</span><br />
&nbsp;</div>
<div style="text-align: justify;">If you are &quot;<a href="./ERICHOW.html" style="text-decoration: none; color: rgb(65,
131, 196);">new to n</a>,&quot; I mean these messages, you can seen a archive of<span>&nbsp;</span><a href=".roups.google.com/a/reallyhim.com/forum/#%21forum/saludas/LETTHEREB" style="text-decoration: none; color: rgb(65,
131, 196);">older ones here</a>, and the most recent which is fairly &quot;encompassing&quot;<span>&nbsp;</span><a href="./DAS.html" style="text-decoration: none; color: rgb(65,
131, 196);">here</a>.&nbsp; Something very much needs to happen soon, if you have questions or you&#39;d like to contact me you can reach me<span>&nbsp;</span><em>via text&nbsp;</em>at 954-667-8083....&nbsp;<em><a href=".ww.youtube.com/watch?v=jFg_8u87zT0" style="text-decoration: none; color: rgb(65,
131, 196);">ask anything</a>.</em></div>
</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;">Briefly, I see many<span>&nbsp;</span><a href="./WHO.html" style="text-decoration: none; color: rgb(65,
131, 196);">words as a sort of m</a>ap through<span>&nbsp;</span><a href="./TION.html" style="text-decoration: none; color: rgb(65,
131, 196);">time</a>, a documentation perhaps of their meaning... &quot;apparition&quot; shows the change wrought by Ari in a similar way that the &quot;<a href="./2017-08-28-eureka.html" style="text-decoration: none; color: rgb(65,
131, 196);">Nintendo</a>&quot; shows the change wrought by the heart of Creation, by this message of the X of Xbox.&nbsp; Like &quot;hearing&quot; this e-mail shows my personal definition of the source of the name of the band &quot;Smashmouth&quot; in a sort of process of Revelation that is uniquely compelling and central to this story of the delivery o</span><a href="./2017-06-08-kismet-kiss-me-taylor.html" style="text-decoration: none; color: rgb(65, 131,
196);">f t</a><span style="font-family: arial,
helvetica, sans-serif;">he k</span><a href="./2017-09-29-duck-duck-golden-egg.html" style="text-decoration: none; color: rgb(65, 131,
196);">ey to m</a><span style="font-family: arial,
helvetica, sans-serif;">essage of Creation that is our world; and&nbsp;</span><em>these words</em><span style="font-family: arial, helvetica, sans-serif;">. Needless to say I am awed each and every time I see a band name or a&nbsp;</span><strong><span style='font-family: "arial black",
sans-serif;'>word</span></strong><span style="font-family: arial, helvetica, sans-serif;">&nbsp;or a a person&#39;s link back so perfectly to the heart of this message.</span></div>
</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".en.september2016.com/" style="text-decoration: none; color: rgb(65, 131,
196);"><img alt="" border="0" height="458" id="BLOGGER_PHOTO_ID_6493698145470746706" src="/i.imgur.com/rWULNAS.png" style="max-width: 100%;" width="640" /></a></div>
<div style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></div>
<div style="text-align: center;">
<div style="text-align: justify;">To tell you that I stand here proverbially screaming at the top of my lungs for&nbsp;<a href="./GATE.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">well over a year</a>&nbsp;now trying to point out that between our society and Heaven is more than &quot;Doors&quot;&nbsp; but what appears to be more than a significant and noticeable lack of regard for the truth and for &quot;freedom&quot; in sum beginning with thought and communication and at that point we&#39;ve lost already barring some kind of miraculous change.&nbsp; I have a difficult message to deliver, one that we know well has the potential to do damage, yet here from my vantage it&#39;s beyond clear that the things that are being spoken must be said, and more than that they demand a response--more than words, but action.&nbsp; &nbsp;It might not be&nbsp;<a href="./2017-08-25-loch-lives-here-so-does-b-of-bon-jovi.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank"><em>so very transparent&nbsp;</em>to you</a>&nbsp;but I see clearly that the humor and &quot;a<strong>pp</strong>arent scan<a href="./2017-07-06-lets-go-skinny-dipping-come-on-itll-be_6.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">d<strong>al</strong></a>&quot; are designed specifically as aids&nbsp;<strong>to help</strong>&nbsp;use the tools of Creation that we would&nbsp;<a href="./2017-09-16-imagine-your-last-supper-and-your-last.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">do well to reco</a>gnize are&nbsp;<a href="./2017-06-14-enders-game-prometheus-locke-and.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">mind control</a>&nbsp;to help soften the blow, to slow the fuse of a fire that must be kindled... it simply must.&nbsp;&nbsp;&nbsp;With reflection it is a fire that mythology and religion tie very clearly to technology with Prometheus and freedom and life at the Eternal Flame&nbsp;<a href="./2017-08-12-proof-of-time-travel-should-be-enough.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">and the Burning Bush</a>&nbsp;and as we stare out at the abyss, the darkness of Exodus that has&nbsp;<a href="./MEDUSA.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">come as a designed response to a m</a>essage that is&nbsp;<a href=".n.wikipedia.org/wiki/Samael" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">without doubt</a>&nbsp;<em>the S<a href=".ww.docdroid.net/ZbHBl0H/asmodai.pdf" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank"><strong>word</strong>&nbsp;of Sam</a>ael&nbsp;</em>do see that it is freedom itself that God and his son have placed as the cornerstone of Heaven, as the most important first step to achieving a future that flourishes.&nbsp; See it as &quot;a test&quot; or as some kind of Judgement if it helps you to walk over the invisible line from&nbsp;<strong>oblivion</strong>&nbsp;back to civilization; Jesus Christ stands before you with the words &quot;behold&nbsp;<em>he is coming</em>&quot; to remind you that this is very much&nbsp;<strong>happ</strong>ening.</div>
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="text-align: center;"><a href=".to.shiningbright.online/" style="text-decoration: none; color: rgb(65, 131,
196);"><img alt="" border="0" height="395" id="BLOGGER_PHOTO_ID_6493698150855058594" src="/i.imgur.com/AMsu8O8.png" style="max-width: 100%;" width="400" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">
<div style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;">It is more than &quot;</span><strong><span style='font-family: "arial black",
sans-serif;'>he-ari-ng</span></strong><span style="font-family: arial, helvetica, sans-serif;">&quot;&nbsp; an(</span><strong><span style='font-family:
"arial black", sans-serif;'><a href=".en.september2016.com/" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">d</a></span></strong><span style="font-family: arial, helvetica, sans-serif;">) apparition ringing this very lou<a href="./2017-06-09-hammer.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">d connection between Thor&#39;s Hammer an</a>d the Liberty Bell to remind us all that it is not just morning but freedom itself that is broken; that word linking back to the middle name and primary moniker of the judge in what is&nbsp;</span><a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">without doubt the Trial of Jesus Christ</a><span style="font-family: arial, helvetica, sans-serif;">&nbsp;depicted anachronistically and prophetically in the New Testament., in the book of Judges and in a significant number of songs from &quot;</span><span style='font-family: "arial narrow",
sans-serif;'><a href=".ww.youtube.com/watch?v=xPU8OAjjS4k" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">if I go crazy will you still call me Superman</a></span><span style="font-family:
arial, helvetica, sans-serif;">&quot; to American Pie&#39;s explanation of exactly why &quot;</span><span style='font-family: "arial narrow",
sans-serif;'><a href=".ww.youtube.com/watch?v=uAsV5-Hv-7U" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">no verdict was returned</a></span><span style="font-family: arial, helvetica, sans-serif;">&quot; and it really should not even have to be spoken, but believe very much that calling my testimony &quot;crazy&quot; is without doubt&nbsp;</span><strong><span style='font-family: "arial black",
sans-serif;'>your Kryptonite</span><span style="font-family: arial, helvetica,
sans-serif;">.</span></strong><span style="font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp;Truly standing between you and freedom, between the hungry and &quot;<a href="./2017-08-28-eureka.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">bread for the wise</a>&quot; and the sick and &quot;<a href=".itly.com/a/warning?hash=2fEFxiW&amp;url=http%3A%2F%2Fwho.reallyhim.com%2F" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">heal</a>&nbsp;<a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">the</a>&nbsp;<a href="./2017-10-15-the-cure.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">world</a>&quot; is the mental health of a planet that appears to be very much &quot;happy&quot; with living in a delusion&nbsp;<a href=".to.shiningbright.online/" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">as children are shot</a>&nbsp; in order to ensure this disclosure is not lost.&nbsp; I see very clearly that we are staring at a &quot;civilization incubator&quot; placing high on a flaming pedestal the juxtaposition of using&nbsp;<a href="./2017-09-16-imagine-your-last-supper-and-your-last.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">this mind control technology</a>&nbsp;either to cause mur<a href="./2017-08-14-waiting-for-that-green-light.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">der, or</a>&nbsp;<a href=".itly.com/a/warning?hash=2fEFxiW&amp;url=http%3A%2F%2Fwho.reallyhim.com%2F" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">to end it</a>&nbsp; and a world that seems unable or unwilling &quot;to comment.&quot;</span><br />
&nbsp;</div>
<div style="text-align: center;"><a href="./GATE.html" style="text-decoration: none; color: rgb(65, 131,
196);"><img class="tl-email-image" src="/i.imgur.com/UEtpbN7.png" style="max-width: 100%; height: 297px; width:
500px;" /></a></div>
<div style="text-align: center;"><a href="./DESSERT.html" style="text-decoration: none; color: rgb(65, 131,
196);"><img alt="" src="/i.imgur.com/0L7jH2J.png" style="max-width: 100%; width: 500px; height:
176px;" /></a></div>
&nbsp;

<div style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;">Likewise it is more<span>&nbsp;</span><a href="./2017-07-20-da-gate-to-peace-and-prosperity-is-hey.html" style="text-decoration: none; color: rgb(65,
131, 196);">than</a><span>&nbsp;</span><a href="./bygod3.html" style="text-decoration: none; color: rgb(65,
131, 196);">the</a><span>&nbsp;</span><a href=".to.shiningbright.online/" style="text-decoration: none; color: rgb(65,
131, 196);">word</a><span>&nbsp;</span>&quot;art&quot; connecting Arthur and Thor; and<span>&nbsp;</span><a href="./archive.aweber.com/awlist4296878/7.AUq/h/This_is_our_You_and_I_verse_.htm" style="text-decoration: none; color: rgb(65,
131, 196);">more</a><span>&nbsp;</span><a href="./GATE.html" style="text-decoration: none; color: rgb(65,
131, 196);">than</a>John Hancock and a round table weaving this story of an Exodus from slavery with &quot;technocracy&quot; and the strong highlight of self-rule that comes from things like the Mayflower Compact and the Magna Carta... and here&nbsp;<a href="./2017-09-29-duck-duck-golden-egg.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">to our ess</a>ianic Constitution.... more than the words &quot;<a href=".ye.september2016.com/" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">the election is not to Die Bold</a>&quot; and a sense of right and wrong that has demanded a single person act alone&nbsp;<em>to deliver this message</em>&nbsp;to the entire Universe.</span></div>
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="text-align: center;"><a href=".it.ly/2jIRf0U" style="text-decoration:
none; color: rgb(65, 131, 196);"><img alt="" border="0" height="224" id="BLOGGER_PHOTO_ID_6493698165004684802" src="/i.imgur.com/jPkykr4.png" style="max-width: 100%;" width="640" /></a><br />
<a href=".ye.september2016.com/" style="text-decoration: none; color: rgb(65, 131,
196);"><img alt="" border="0" height="390" id="BLOGGER_PHOTO_ID_6493698172106637794" src="/i.imgur.com/UISMOzE.png" style="max-width: 100%;" width="640" /></a></div>
<div style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></div>
<div style="text-align: center;">
<div style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;">You must understand that is standing between us and the&nbsp;</span><a href="..s.lamc.la/" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">disclosure</a><span style="font-family:
arial, helvetica, sans-serif;">&nbsp;that&nbsp;</span><a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">we are in &quot;the Matrix&quot;</a><span style="font-family: arial, helvetica, sans-serif;">&nbsp;paired with&nbsp;<a href="./2017-06-09-verily-i-say-unto-you-ver-means-to-see.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">verifiab</a>le&nbsp;<a href="./ERICHOW.html" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">proof beyond doubt and</a>&nbsp;a message from God that ties &quot;</span><a href=".tb.september2016.com/" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">KISS</a><span style="font-family: arial,
helvetica, sans-serif;">&quot; and &quot;</span><a href=".itly.com/a/warning?hash=2fEFxiW&amp;url=http%3A%2F%2Fwho.reallyhim.com%2F" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">The Who</a><span style="font-family: arial,
helvetica, sans-serif;">&quot; and &quot;</span><a href=".ure.shiningbright.online/" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">The Cure</a><span style="font-family:
arial, helvetica, sans-serif;">&quot; to the&nbsp;</span><a href="./2017-06-09-sound-horn-of-revelation-keys-of.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">end of possession and beginning of liber<strong>ty</strong></a><span style="font-family: arial, helvetica, sans-serif;">&nbsp;is a decidedly inhuman force that is using&nbsp;</span><a href="./2017-06-14-enders-game-prometheus-locke-and.html" rel="noopener" style="text-decoration: none; color: rgb(65, 131,
196);" target="_blank">these very same tools</a><span style="font-family: arial, helvetica, sans-serif;">&nbsp;to confuse, divide, and inject false &quot;acquiescence&quot; into a&nbsp; divide that is really a matter of nothing less than good and evil obscured by a lack of sight and discussion.&nbsp; A shining beacon of the turning point in history that ends darkness and begins the process of building Heaven and healing the world is the Second Coming, and it too stands here&nbsp;</span><em><span style='font-family: "arial narrow",
sans-serif;'><a href=".ww.youtube.com/watch?v=gazW7MOqHzQ" rel="noopener" style="text-decoration: none; color: rgb(65,
131, 196);" target="_blank">at the door.</a>&nbsp;&nbsp;</span><span style="font-family: arial, helvetica,
sans-serif;">See that there are no sides here, there is the truth, and there is oblivion.</span></em></div>
<div style="text-align: justify;">&nbsp;</div>
</div>
<div style="text-align: center;"><a href=".tb.september2016.com/" style="text-decoration: underline; color: rgb(65,
131, 196);"><img alt="" id="BLOGGER_PHOTO_ID_6493698187828064866" src="/i.imgur.com/9NcEzyf.png" style="max-width: 100%; border-width: 0px;
border-style: solid; width: 500px; height: 479px;" /></a></div>
</div>
</div>
</div>
</div>
</div>
</center>
