<script type="text/javascript" src=".7.addthis.com/js/300/addthis_widget.js#pubid=ra-576e94bdb4f80253"></script>
<!-- Local fallback for Font Awesome -->
<script>
            if ($(".fa").css("font-family") !== "FontAwesome") {
                $('<link rel="stylesheet" type="text/css" href="_FontAwesome/css/font-awesome.css">').prependTo('head');
            }
        </script>
<script src="highlight.js"></script>
<script src="book.js"></script>
<center>
<a href=".yerc.slack.com/join/shared_invite/MjM2NDM2Mjc3Nzk4LTE1MDQ0MDE3NzQtMmU5NjI1N2VmOQ"><img id="m_-2406931458228765498m_7062753601417727326gmail-m_258112447631369337m_2341308960067590409m_4521999671932699583gmail-m_-6182954198820330264gmail-m_521289457461777515m_1359743985997052155m_2062399313490225364m_7360525420591546646gmail-m_8529246844601195244m_9215003909091997886gmail-BLOGGER_PHOTO_ID_6461560460613524370" src="./it/book/irmax_files/image-780690.png" alt="" width="350" height="275" border="0" /></a>
<br />
<center style="font-size:small;">content similar to this is available as an online PDF here <a href="./asmodai.pdf">asmodai.pdf</a>  Also, sign up for "EL'S DAILY REASON IT AD."  I mean <a href="./lists/">"DAILY BREAD" here.</a></center>
<br />
</center>
<div style="width: 70%; padding=10px; margin: 0 auto;" id="disqus_thread"></div> <script> /** * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS. * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: .isqus.com/admin/universalcode/#configuration-variables */  
var disqus_config = function () { 
this.page.url = LAMC.LA; // Replace PAGE_URL with your page's canonical URL variable 
this.page.identifier = LAMC.LA; // Replace PAGE_IDENTIFIER with your page's unique identifier variable 
}; 
(function() { // DON'T EDIT BELOW THIS LINE 
var d = document, s = d.createElement('script'); s.src = '//lamcla.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })(); </script> <noscript>Please enable JavaScript to view the <a href=".isqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<br />
<br />

<div id="disqus_thread" style="width: 70%; padding=10px; margin: 0 auto;">&nbsp;<a href="..bp.blogspot.com/-LIWRmMnr4uI/WawTAQ2UG5I/AAAAAAAAFf4/mI5DLopC6icod-4C0E4YchBWIjo-VcGMQCK4BGAYYCw/s1600/image-780690.png" target="_blank" rel="noopener" data-saferedirecturl=".ww.google.com/search?hl=en&amp;q=..bp.blogspot.com/-LIWRmMnr4uI/WawTAQ2UG5I/AAAAAAAAFf4/mI5DLopC6icod-4C0E4YchBWIjo-VcGMQCK4BGAYYCw/s1600/image-780690.png&amp;source=gmail&amp;ust=1505066719727000&amp;usg=AFQjCNFXGOUg-AQFa-SlGVteWTkCCStlVA">
</a></div>