<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div style="text-align: center;"><span style="font-family:times new roman,times,serif;"><em>there&#39;s a (c) rheasen (ation) for the seesan &amp; &quot;an&quot;&#39;s search for po$itive energy</em></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./THREETAG.html"><img alt="" border="0" height="300" id="BLOGGER_PHOTO_ID_6501660106779033170" src="/i.imgur.com/5iUUdne.png" width="400" /></a><br />
&nbsp;</div>
<div style="text-align: center;"><a href="./MUASEEKHART.html"><img alt="" border="0" height="200" id="BLOGGER_PHOTO_ID_6501660116518190530" src="/i.imgur.com/6pAa6bL.png" width="193" /></a>&nbsp;<a href=".mega.september2016.com/CHALK.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660117941202226" src="/i.imgur.com/ghGHi6S.png" style="border-width: 0px; border-style: solid; width: 221px; height: 200px;" /></a></div>
<div style="text-align: center;"><a href="./BIANCA.html"><img alt="" border="0" height="22" id="BLOGGER_PHOTO_ID_6501660124582404850" src="/i.imgur.com/Oo4Ybki.png" width="400" /></a><br />
&nbsp;</div>
<div style="text-align: center;"><a href="./DESSERT.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660123146512786" src="/i.imgur.com/Oo4Ybki.png" /></a><br />
&nbsp;</div>
<div style="text-align: center;"><a href=".ww.amazon.com/Signs-Revelation-Adam-Marshall-Dobrin/dp/1320419739"><img alt="" id="BLOGGER_PHOTO_ID_6501660129748855794" src="/i.imgur.com/4CEuPV3.png" style="border-width: 0px; border-style: solid; width: 500px; height: 26px;" /></a></div>
<div style="text-align: center;"><a href="./ADAMSROD.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660138937796898" src="/i.imgur.com/sLYupna.png" style="border-width: 0px; border-style: solid; width: 233px; height: 150px;" /></a>&nbsp;<a href="./DESSERT.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660139625491042" src="/i.imgur.com/YudnEDq.png" style="border-width: 0px; border-style: solid; width: 225px; height: 150px;" /></a></div>
<div style="text-align: center;"><a href="./OMEALFHT.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660150423731554" src="/i.imgur.com/UXXXW27.png" style="border-width: 0px; border-style: solid; width: 500px; height: 123px;" /></a></div>
<div style="text-align: center;"><a href="./WHO.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660153352484098" src="/i.imgur.com/Lerv1gK.png" style="border-width: 0px; border-style: solid; width: 500px; height: 74px;" /></a></div>
<div style="text-align: center;"><a href=".ww.amazon.com/Adam-Marshall-Dobrin/e/B00CO8P9BQ"><img alt="" id="BLOGGER_PHOTO_ID_6501660155821690578" src="/i.imgur.com/jTwKQSo.png" style="border-width: 0px; border-style: solid; width: 500px; height: 161px;" /></a></div>
<div style="text-align: center;"><a href="./INTRODUCTION.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660157538916258" src="/i.imgur.com/vg4PrQm.png" style="border-width: 0px; border-style: solid; width: 500px; height: 648px;" /></a></div>
<div style="text-align: center;"><a href=".ww.netflixprize.com/community/forum.html?voidanswer"><img alt="" id="BLOGGER_PHOTO_ID_6501660162875751634" src="/i.imgur.com/5SF2eda.png" style="border-width: 0px; border-style: solid; width: 436px; height: 48px;" /></a>&nbsp;<a href="./MYLIFE.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660166045405282" src="/i.imgur.com/QXst5kk.png" style="border-width: 0px; border-style: solid; width: 48px; height: 48px;" /></a></div>
<div style="text-align: center;"><b><span style="font-size: xx-small;"><a href=".ww.netflixprize.com/community/forum.html" target="_blank">w w w . n e t f l i x p r i z e . c o m / c o m m u n i t y / f o r u m . h t m l ? v o i d a n s w e r</a></span></b></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".ww.amazon.com/Adam-Marshall-Dobrin/e/B00CO8P9BQ"><img alt="" id="BLOGGER_PHOTO_ID_6501660165869461554" src="/i.imgur.com/l8hTZ4d.png" style="border-width: 0px; border-style: solid; width: 400px; height: 291px;" /></a>
<div id="gmail-m_-1093708169705907308gmail-m_-5650725953434773571gmail-m_-7361802040429384055gmail-m_8461893246393434987gmail_isrhro8ue9gx" style="display: inline-block;">&nbsp;</div>
</div>
<div style="text-align: center;">
<div><i><span style="font-family: times new roman, serif;">buy a copy before Christmas and i&#39;ll sign it.</span></i></div>
<div>&nbsp;</div>
</div>
<div style="text-align: center;">&nbsp;<a href="./NITY.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660172367739138" src="/i.imgur.com/6QpYBuu.png" /></a><a href=".hop.spreadshirt.com/opawaken/"><img alt="" border="0" height="200" id="BLOGGER_PHOTO_ID_6501660175880925570" src="/i.imgur.com/BTh74jn.png" width="173" /></a><a href=".hop.spreadshirt.com/opawaken/we+the+people+hold+these+truths+to+be+self+evident-A13388768"><img src="/i.imgur.com/SwsIFS0.png" style="width: 123px; height: 155px;" /></a></div>
<div style="text-align: center;"><a href="./YW.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660177953344418" src="/i.imgur.com/yCfwoht.png" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".mega.september2016.com/KEYNES.html" style='color: rgb(65 , 131 , 196); font-family: "open sans" , sans-serif; font-size: 16px;' target="_blank"><img alt="" border="0" height="219" id="gmail-m_-1093708169705907308gmail-m_-5650725953434773571gmail-m_-7361802040429384055gmail-m_5441117886654157530gmail-m_3161510432079989077gmail-BLOGGER_PHOTO_ID_6495374828466879426" src="/i.imgur.com/6BmlMiK.png" style="margin-right: 0px; max-width: 100%;" width="132" /></a><span style='background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); font-family: "open sans" , sans-serif; font-size: 16px;'>&nbsp;</span><a href="./THREETAG.html" style='color: rgb(65 , 131 , 196); font-family: "open sans" , sans-serif; font-size: 16px;' target="_blank"><img alt="" border="0" height="219" id="gmail-m_-1093708169705907308gmail-m_-5650725953434773571gmail-m_-7361802040429384055gmail-m_5441117886654157530gmail-m_3161510432079989077gmail-BLOGGER_PHOTO_ID_6495374840916972066" src="/i.imgur.com/sKObQTc.png" style="margin-right: 0px; max-width: 100%;" width="191" /></a><span style='background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); font-family: "open sans" , sans-serif; font-size: 16px;'>&nbsp;</span><a href=".mgur.com/VXIKWh0?92BC3C6482F415D5" style='color: rgb(65 , 131 , 196); font-family: "open sans" , sans-serif; font-size: 16px;' target="_blank"><img alt="" border="0" height="219" id="gmail-m_-1093708169705907308gmail-m_-5650725953434773571gmail-m_-7361802040429384055gmail-m_5441117886654157530gmail-m_3161510432079989077gmail-BLOGGER_PHOTO_ID_6495374845309595762" src="/i.imgur.com/juCWBhQ.png" style="margin-right: 0px; max-width: 100%;" width="147" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./HADID.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660184433342578" src="/i.imgur.com/4XC8dNp.png" /></a><a href=".ww.youtube.com/watch?v=fV4DiAyExN0"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660183208015122" src="/i.imgur.com/4wI6u6g.png" /></a><a href="./RIGELA.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660189183607490" src="/i.imgur.com/f4TaWS3.png" /></a><br />
&nbsp;</div>
<div style="text-align: center;"><a href="./HASHEMESHB.html"><img alt="" id="BLOGGER_PHOTO_ID_6501660192675452178" src="/i.imgur.com/qqdvEWF.png" style="border-width: 0px; border-style: solid; width: 508px; height: 33px;" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./TIME.html"><img alt="" height="167" id="gmail-BLOGGER_PHOTO_ID_6498786791053111634" src="/i.imgur.com/e3mCQHn.png" style="border-style: solid; border-width: 0px; margin-right: 0px;" width="445" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".ww.youtube.com/watch?v=ayKvaV9JVCA"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6501660193310889218" src="/i.imgur.com/Nfs9ajC.png" /></a>​</div>
<div style="text-align: center;"><a href="./HASHEMESHB.html"><img border="0" height="320" src="/i.imgur.com/kEik9vZ.png" style="border: 0px; margin: 0px; padding: 0px;" width="304" /></a></div>
<div style="text-align: center;">&nbsp;</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px;"><img alt="" src="/i.imgur.com/qQhY0XE.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px;"><img alt="" src="/i.imgur.com/AsRIsBe.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px;"><img alt="" src="/i.imgur.com/g3CLCGw.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px;"><img alt="" src="/i.imgur.com/aP5NVRs.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
