<p>
<meta charset="utf-8" />    &nbsp;  
</p>
<div align="center"><a href=".it.ly/2OC2ROf" style='text-decoration-line: none; color: rgb(65, 131, 196); font-family: "Open Sans", sans-serif; font-size: 16px;'><img width="180" src="/i.imgur.com/f1LED0M.png" style="max-width: 100%;" alt="" /></a><span style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px;'>&nbsp;</span></div>
<div align="center">&nbsp;</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /> <font size="+3"><i>how.<br />
</i></font><a href=".it.ly/2vcMS0X"><img src="/i.imgur.com/iMywlUS.png" alt="here is wisdom .." width="566" height="356" border="0" /></a><br />
<br />
<div align="justify"><i>What it boils down to is a message encoded in every single word--linking together things like the shining SOL to the <a href=".it.ly/2OCUphy"><b>dim</b></a> torch of the Statue of Liberty; a message here to aid us in preventing mental slavery--the stuff of the Plague of Darkness--something that we seem to be failing to see past.&nbsp; It's here though, and it's statistically impossible for &quot;civilization&quot; to continue and fail to see and react to this message, one that is designed not just to add &quot;TY&quot; to the sword of Arthur and see it as &quot;freedom&quot; ... but also <a href=".it.ly/2vcMUWD"><b>heal the sick</b></a> and <a href=".it.ly/2vbbyHh"><b>end world hunger</b></a> and do it all with nothing more than a disclosure of the truth--that the &quot;Earth is in Heaven&quot; and that means we can do all these things ... with <a href=".it.ly/2vhHzNZ">the flick of your little finger</a>.<br />
<br />
It's a matter of &quot;sight&quot; of the fact that we seem to be globally failing to act logically--and to see that this breakdown of logic is something that ... well, it's the whole of the problem.&nbsp; The solution is seeing the &quot;road to Heaven&quot; encoded in Seagate and in Watergate and in Margate (where I'm writing from today) ... and then again in <b>hard drive</b> where the Holy &quot;Ha&quot; of Hebrew shines bright on both &quot;drive&quot; and &quot;rd.&quot;<br />
<br />
The first set of clues that it really is every word (and every letter, too) was numbered e-mail 76 in my internal system--and because of that I tie it to the 76'ers and the gas station ... and of course to year of our nations birth, and through that another year <a href=".it.ly/2vbDDhl">important</a> to seeing Christopher Columbus walk on water to ensure that Heaven is ... actually built.&nbsp; That's what this is really all about, the plan etched in the word planet and the world itself--NASDAQ (da Q... da Q .. well the answer, it's the New American Standard for tzedaqah for the Universe) and &quot;<a href=".it.ly/2veA3mG">my life</a>&quot; and it's the reason &quot;find and replace&quot; has everything to do with the Shofar and <a href=".it.ly/2va1KgA">how we can actually accomplish these things</a> ... in ou<a href=".it.ly/2OC3583">r lifetime</a>.<br />
<br />
So we're not &quot;unclear&quot; ... <b>the how</b> is &quot;hello Adam&quot; and the way to get there is &quot;call a reporter&quot; ... you know, we can't expect them to just know everything.&nbsp; Like, go to your local newspaper's website,pick up the phone and call the editor.&nbsp; You, I'm talking to ... you.<br />
</i><br />
<i>
<meta charset="utf-8" /> 
</i>
<div align="center"><i>Glorified and sanctified be God&rsquo;s great name throughout the world</i><br />
<i>which He has created according to His will.</i><br />
<br />
<i>May He establish His kingdom in your lifetime and during your days,</i><br />
<i>and within the life of the entire House of Israel, speedily and soon;</i><br />
<i>and say, Amen.</i><br />
<br />
<i>May His great name be blessed forever and to all eternity.</i><br />
<br />
<font size="+2"><i><a href=".it.ly/2OCUCBm">WWJD</a>? <a href=".it.ly/2OCUFNy">Sing</a>... like a canary (or a <a href=".it.ly/2OBPflS">Cardinal</a>) ;)</i></font></div>
<i><br />
</i></div>
<i>
<meta charset="utf-8" /> <a href=".it.ly/2OFeggm"><img src="/i.imgur.com/7kNyj3Z.png" alt="SOL, SEE OUR
LIGHT TO TORCHES" width="565" height="248" border="0" /></a> 
</i> 


</div>
<div align="center">&nbsp;</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><i>
<meta charset="utf-8" />stand beside her... and guide he-r... 
</i>


</div>
<div align="center">&nbsp;</div>
<div style="text-align: justify;">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><i>
<meta charset="utf-8" />it takes only a few moments to see the Holy Trinity encoded in the first Patriarch's name, the Hebrew for father (ab) the Sun God of Ancient Egypt, and the Ha that defines the covenant with God--and the meaning of his eldest's name.&nbsp; Isaac--which means &quot;he laughs.&quot;&nbsp; The same pattern of ancient religious keys peppers everything from the Ka of Horus to Veruka Salt and Willy Wonka; the answer to the question &quot;Is Ra El...&quot; it too comes to us from hidden logically impossible to deny equivalencies encoded in the Bible and proving without doubt... similar anachronism as this early rendition of the Trinity.
</i>


</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">In the prophetic name Elisha, comparing &quot;the&quot; in both Spanish and Hebrew; <em>to help everyone</em>, connected through the English &quot;is&quot; and showing us fairly clearly that there's not only a link between Isaac and the Coven's ant of Abraham; but also with El... the King of the Gods in the ancient Hebrew religion.&nbsp; Point in fact, you can see &quot;Yo N&quot; in the Hebrew name of Christ, El Elyon--and that same pattern shines bright in the heart of Washington and China and the Hebrew for &quot;day&quot; which is &quot;Yom&quot; and you might see a real link between the Hebrew for &quot;sun&quot; which is Hashemesh and the Greek personification of day; Hemera.&nbsp; Him, too, connects; so ... &quot;hello mess_____&quot; ... the &quot;hi M&quot; is another pretty obvious meaning of &quot;El.&quot;</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">The reasons though are less clear without <a href=".ve.s.lamc.la">further investigation</a>; the light of Ra comes not just from the Latin name for our sun, but also from the anachronistically named Sons of Liberty--whose gift of forethought shines through the emancipation of the slaves and women's suffrage; something we should see very clearly as not the case or their &quot;actual intent&quot; when they decid<a href=".ir.s.lamc.la">ed to pour the tea party into the Boston Harbor to ensure that their lack of representation correlated... near 1:1 with exactly how we should feel today</a> in this place where we've really lost sight of what this influence, the reason and the method tying this message to everything we do and our entire history... to what it proves about your &quot;representation&quot; when you walk into a ballot box, or ... you know, call a reporter.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">I don't believe religion is the opiate of the masses; I do believe that it's promises are very clearly being fulfilled through this disclosure, and hopefully through our active participation in taking a more active role in how democracy continues to form ... hopefully bringing it to the word &quot;flourish&quot; in the age of technology--an age that we should see is just about as &quot;random&quot; or &quot;fluke&quot; in occurrence as the Apple falling on Newton's head at Trinity College or electromagnetism being discovered in that same place.&nbsp; Since <em>I like &quot;trinities&quot; so much</em>, don't be bohr-d as we discover <a href="..s.lamc.la">that Quantum Magic</a> too came from Trinity Buoy Wharf--and that it's something of a Locke and Keynes on the &quot;<a href=".roups.google.com/a/reallyhim.com/forum/#!searchin/saludas/nard%7Csort:date/saludas/cY93j_hxcoc/54-9Xn72AAAJ">nard road</a>&quot; out of the darkness and on to the road to Shamayim; through Seagate and Stargate and Watergate and the logical connections that these stories and points of light guide us towards.&nbsp; Hopefully you see &quot;free speech&quot; and speaking ... connected to becoming stars.</div>
<div align="center">&nbsp;</div>
<div align="center"><a href="./MUASEEKHART.html">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><i>
<meta charset="utf-8" /></i> <img src="/i.imgur.com/0i29Iyp.png" width="549" height="223" alt="" /> 


</a><i>
<meta charset="utf-8" /></i></div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><i>
<meta charset="utf-8" /> <br />
what goes up must come down?                                    
</i><br />
<br />
<a href=".it.ly/2OCUIsI"><img src="/i.imgur.com/IS2KR8v.png" alt='ARE YOU NEW TO THE
"WHAT GOES UP MSUT COME DOWN"' width="501" height="345" border="0" /></a><br />
<br />
<i> for uhhhhhhh...</i><br />
<img src="/i.imgur.com/KJc1539.png" alt="" /><br />
<br />
<strong><em>Christ's sake.&nbsp; </em></strong> 


</div>
<div align="center">&nbsp;</div>
<div style="text-align: justify;">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />Honestly, <em><a href=".it.ly/2OBTTQY">the &quot;t&quot; here is the birthsign of ... A.D.</a></em> (&amp;B) pointing NE.&nbsp; It's mildly significant because the D.O.B. of 12/8 is &quot;immaculate&quot; and distinct from the commonly held 25th--though encoded in ... David's stone and ... Christ.&nbsp;&nbsp;                                                                                    


</div>
<h2 style="text-align: center;">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><em>&quot;<a href=".it.ly/2OEzURR">like a stone.</a>&quot; (south to...)</em><br />
<br />
<meta charset="utf-8" /> <a href=".it.ly/2OE2P8l"><img src="/i.imgur.com/Zgf6hqt.png" alt="VERNON OLIVER AND
YOU SHALL SEE" width="500" height="681" border="0" /></a><br />
<br />
<meta charset="utf-8" /> 




</h2>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<div align="justify"><font style="color: rgb(51, 51, 51);
font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;" face="Courier New,
Courier, monospace" size="-2"><b><a href=".it.ly/2OCs8b3" style="text-decoration:
none; color: rgb(65, 131, 196);">SIGNAL</a><span>&nbsp;</span>v.<span>&nbsp;</span><a href=".it.ly/2OBPhKw" style="text-decoration:
none; color: rgb(65, 131, 196);">NOIZE</a></b></font><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>, it takes not a linguistic savant to see that the intelligent message woven across languages and throughout the entirety of our civilization from the &quot;</span><a href=".it.ly/2OBPwoU" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'><i>fulc</i><i>ire</i></a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>&quot; of Latin and the Hebrew word for fate, &quot;</span><a href=".it.ly/2vbtCkj" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'><i>kismet</i></a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>&quot; ... that the level of thought and the breadth of influence that has gone into weaving this message is without doubt or<span>&nbsp;</span></span><i style='color:
rgb(51, 51, 51); font-family: "Open Sans",
sans-serif; font-size: small; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>controversy</i><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>tacit proof of the actual Creation of our civilization.&nbsp; Staring at every single one of us, every day; a message from God comparable to SETI receiving a &quot;tagged commentary&quot; on every single thing and every aspect of our world, lives and future.<br />
<br />
What you are looking at is the beginning of a message <a href=".it.ly/2OBPm0M">designed to tie the Matrix to Minority Report</a> ... and end school shootings--freeing us from the fear of murder.&nbsp; To help us see how addiction can easily be conquered and depression and schizophrenia--all by seeing exactly how it is that this cypher of the Matrix has been woven, written, and hidden--all part of a grand scheme to help us expand our minds and easily pass through a gate of dar<a href=".it.ly/2OAnQAO">kness that might have</a> had you <a href=".it.ly/2vaPX1m">voting for &quot;OK Google&quot; or SIRI</a> to be our next president.<br />
</span></div>





</div>
<div align="center">&nbsp;</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><br />
<meta charset="utf-8" /> <a href=".it.ly/2vbtH7B"><img src="/i.imgur.com/X3iZpRn.png" alt="hellos, j e ll o?" width="500" height="762" border="0" /></a><br />
<a href=".it.ly/2vaPZq0"><img src="/i.imgur.com/JmeBtXh.png" alt="HO, LT" width="500" height="196" /></a> 





</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><br />
<meta charset="utf-8" />
<div align="justify"><b style='color: rgb(51, 51, 51);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;'><font face="Courier New,
Courier, monospace" size="-2">D</font></b><font style="color: rgb(51, 51, 51); font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;" face="Courier New, Courier,
monospace" size="-2"><b>ON</b>'T SHOOT</font><b style='color:
rgb(51, 51, 51); font-family: "Open Sans",
sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'><font face="Courier
New, Courier,
monospace" size="-2"><span>&nbsp;</span>THE MES</font></b><font style="color: rgb(51, 51, 51); font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;" face="Courier New, Courier,
monospace" size="-2">SENGER</font><b style='color: rgb(51, 51,
51); font-family: "Open Sans", sans-serif;
font-size: small; font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; letter-spacing: normal;
orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'><font face="Courier
New, Courier, monospace" size="-2">(S)</font></b><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>, it appears that in one single action the whole of the message urges each and every one of us to scream at<span>&nbsp;</span></span><i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;'>the top</i><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>of our &quot;lungs&quot; to acknowledge and discuss it's existence... and forcing shut our mouths with a combination of fear, or anger ... enticement and shame ... with just enough to ensure we have reached the end of the darkness with these next words &quot;finale first,&quot; written through a process of Revelation strikingly similar to the quickening of Highlander and the de-Pinocc</span><b style='color: rgb(51,
51, 51); font-family: "Open Sans", sans-serif;
font-size: small; font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; letter-spacing: normal;
orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>hio</b><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>zation of Johnny<span>&nbsp;</span></span><b style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>5</b><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>as seen and reflected through the Eyes of Ra or Horus or ... the Aegis of Perseus ... well, without doubt in the sometimes dripp</span><a href=".it.ly/2vaQ1hC" title="M I
SS I ASS I PP Y" style='text-decoration: none; color: rgb(65,
131, 196); font-family: "Open Sans", sans-serif;
font-size: small; font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: justify;
text-indent: 0px; text-transform: none; white-space: normal;
widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'>y</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span></span><a href=".it.ly/2vbtIZd" style='text-decoration: none;
color: rgb(65, 131, 196); font-family: "Open Sans",
sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255);'>pen</a><span style='color: rgb(51, 51, 51);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial; display: inline
!important; float: none;'><span>&nbsp;</span>of<span>&nbsp;</span></span><i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;'>Arthor</i><span style='color:
rgb(51, 51, 51); font-family: "Open Sans",
sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>... in H</span><a href=".it.ly/2OBdzV3" style='text-decoration: none;
color: rgb(65, 131, 196); font-family: "Open Sans",
sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255);'>eb</a><span style='color: rgb(51, 51, 51);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial; display: inline
!important; float: none;'>r</span><a href=".it.ly/2vaQ3Gg" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
small; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'>ew</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>...<span>&nbsp;</span></span><i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;'>the hand</i><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: small; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>, the Yad of God.</span></div>
<br />
<a href=".it.ly/2vbtMIr"><img src="/i.imgur.com/6A7I3Lg.png" alt="O R G Y ? DISCOVER.
P I M L ... BISQUICK" width="506" height="469" border="0" /></a><br />
<br />
<meta charset="utf-8" />
<meta charset="utf-8" />
<div align="justify"><span style='color: rgb(51, 51, 51);
font-family: "Open Sans", sans-serif; font-size:
16px; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial; display: inline
!important; float: none;'>Not every song is about me; but<span>&nbsp;</span></span><i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;'>that one</i><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>--Carly Simon's certainly really is, Odin's eye in Perseus' shield and some more clarity on how Icarus and carpenter relate to McCarthy and macaroni; and we're off to the races to see just how much of the music and the symphony is very clearly designed to relate to you all what God's will is when it comes to &quot;</span><a href=".it.ly/2vbtOjx" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
16px; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'>what</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>we<span>&nbsp;</span></span><a href=".it.ly/2vaQ6BW" style='text-decoration: none; color: rgb(65, 131, 196);
font-family: "Open Sans", sans-serif; font-size:
16px; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255);'>should do</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>&quot; and it's pretty clear f</span><a href=".it.ly/2vaQ8d2" style='text-decoration: none;
color: rgb(65, 131, 196); font-family: "Open Sans",
sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255);'>rom Bread and Cake and Gene Roddenberry's name</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>that<span>&nbsp;</span></span><i style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;'>ending hunger</i><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>is high on the list, along wi</span><a href=".it.ly/2vaQdxm" style='text-decoration: none;
color: rgb(65, 131, 196); font-family: "Open Sans",
sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255);'>th ending murder and putting roses</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>not just at Blink-182's stairway but also in the barrel of Live's gun and also Guns and Roses; and of course the Doors--congealing around this message tying the sunken city at the Straits of Gibraltar to Groom Lake and to IDE's and rides ... and<span>&nbsp;</span></span><a href=".it.ly/2OCUJwM" style='text-decoration: none;
color: rgb(65, 131, 196); font-family: "Open Sans",
sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255);'>to Amy Adams and Rachel McAdams</a><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'><span>&nbsp;</span>too--and the idea that separating the &quot;Holy C&quot; from &quot;him&quot; in the letter &quot;d&quot; and the word &quot;disclose&quot; are etched into the primary Greek letter that once contained my initials in its center ... before &quot;AMC theaters&quot; being<span>&nbsp;</span></span><i style='color:
rgb(51, 51, 51); font-family: "Open Sans",
sans-serif; font-size: 16px; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing:
normal; orphans: 2; text-align: justify; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;'>heated<span>&nbsp;</span></i><span style='color: rgb(51, 51, 51); font-family: "Open
Sans", sans-serif; font-size: 16px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: justify; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial; display: inline !important;
float: none;'>by the &quot;light of angels&quot; or the light above or the light around; really whatever you'd prefer to call it.</span></div>
<br />
<meta charset="utf-8" /> <a href=".it.ly/2OyR7fg"><img src="/i.imgur.com/NMpMg5u.png" alt="KISSY KISSY?
TOXICITY? TO KISS... OR TO BE KISSED." width="501" height="298" border="0" /></a><br />
<br />
<i>also <a href=".mzn.to/2OyRbf0"><b>buy a book</b></a> tho, k?&nbsp; (<font size="-1">it's sure to b a collectors item</font>)</i><br />
<meta charset="utf-8" />
<meta charset="utf-8" /> <a href=".it.ly/2OEzVVV"><img src="/i.imgur.com/ZtN2Z0i.png" alt="DO HADID DID I? OH,
IM DUMB." width="682" height="429" border="0" /></a><br />
<br />
<meta charset="utf-8" /> <a href=".it.ly/2vhHAS3"><img src="/i.imgur.com/RHaoKUW.png" alt="THE CITY, I SEE THECITY" width="500" height="586" border="0" /></a><br />
<br />
<meta charset="utf-8" /> <a href=".it.ly/2OEbOXq"><img src="/i.imgur.com/RflMsoU.png" alt="SLAMDAY." width="504" height="340" border="0" /></a><br />
<br />
<br />
<meta charset="utf-8" /> <a href=".it.ly/2vbu2an"><img src="/i.imgur.com/rnZu56P.png" alt="SAY... HOLA AD!" width="571" height="441" border="0" /></a><br />
<br />















</div>
<div align="center">&nbsp;</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><i>high-five... these AIDS of the book of Names will <b>heal the world</b></i> 














</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><br />
<br />
<meta charset="utf-8" /> <a href=".it.ly/2vbu3er"><img src="/i.imgur.com/hS1XVgc.png" alt="HI FIVE THESE AIDSOF ThE BOOK OF NAMES WILL CURE CANCER ToO" width="499" height="139" border="0" /></a><br />
















</div>
<div align="center">
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /> 















</div>
<div align="center">&nbsp;</div>
<div align="center"><a href=".it.ly/2vhHB8z" style='font-family: "Open Sans", sans-serif; font-size: 16px; text-decoration-line: none; color: rgb(65, 131, 196);'><img src="/i.imgur.com/lxpzXeA.png" alt="DR. DAVID HULK
BANTHISTER HYDE" width="500" height="224" style="max-width: 100%;" /></a></div>
<div align="center" style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px;'><br />
<div align="justify">In the back of my mind I sorty of have the sometimes fleeting understanding that &quot;I'm doing this to us.&quot;&nbsp; I've taken a sort of polar counter position to the idea that Jesuoseph needs to be perfect and without free will ... or the idea that Taylor echoes well with &quot;don't try to be perfect, it's never enough&quot; in this place where I'm still very sure that the Pen is something of a &quot;spinning top&quot; or a tool to point out not just the map but to actually help us get on the road.&nbsp; I have a long history of research and first hand experience with the technology at hand--the stuff behind &quot;the show&quot; and &quot;the silence&quot; and &quot;the slavery&quot; -- without doubt you can attribute not just the &quot;tomes&quot; of information striking me like lightning, but also my problem with jails and with drugs and with all the other antiquated and backwards things that we don't yet see are part of a &quot;press and release&quot; that hopefully helps us very quickly build a better world.<br />
<br />
I see the world sees scandal and embarassment as the source of the silence--and I think you're pretty short sighted and &quot;in the dark&quot; to actually believe that there's some kind of unanimous decision here not to become the immortal buiders of Heaven because my niece-in-law (she's actually not cousin IT) has a cute butt...</div>
<div align="justify">&nbsp;</div>
<div><a href=".it.ly/2veHwSM" style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/VndsfKO.png" width="500" height="375" alt="BUSH MA LC TRIX" style="max-width: 100%;" /></a></div>
<div align="justify"><br />
Anyway, I know what's going on here is that I'm &quot;distracting&nbsp;<i>you</i>&quot; from 6,000 years of simulated disease and wars of the scarcity of truth and worst of all over the thing that's really behind today's total lack of action and response to a message that makes it pretty clear to me that the idea of the Medusian collective is in itself a control mechanism--and that you probably believe it's you or somehow &quot;all of you&quot; behind this thing that is doing nothing but silencing ... you, and what you really think... as we're sort of rising up and waking a little groggy from a deep slumber, a giant being awoken.&nbsp; I see behind the scenes how the &quot;pointer&quot; of Pendragon touches on all kinds of social issues from sexism to racism to a shunning of fun and a fear of technology (and the opposite of all those things) and I know ... just from my fear being completely erased in 2012 through a repeated series of events that scared the shit out of me ... that's how this &quot;Creation&quot; thing and slavery and ... neuroscience all coalesce around this disclosure that we could be pressing a button and ending addiction (and also blessings on tap, at Al and Anna's bliss) ... if we had the courage to begin fighting for the things we know to be right.&nbsp; For instance, we all know pain shouldn't be simulated; and it's pretty clear from the obvious reverse engineering of our entire brains (shown through this message, its global delivery, and probably more than I know) that takes very little to actively suppress the neurons associated with pain--even in reality it takes nothing more than an oscillating magnetic field. &nbsp; More on Methodwon and Buspirone later.</div>
<div align="justify">&nbsp;</div>
<div style="text-align: center;"><a href=".ww.youtube.com/watch?v=8U9YRPY6rrY"><img src="/i.imgur.com/mdxFpmW.png" width="500" height="300" alt="" /></a></div>
<div style="text-align: justify;"><br />
<br />
There's Macaroni in these words, a sort of true magic that ties to th<a href=".it.ly/2vdwJrX" style="text-decoration-line: none; color: rgb(65, 131, 196);">el idea of Jedi Mind Tricks</a>&nbsp;that get's us through the long night and to &quot;day&quot; and that's really what this is all about.&nbsp; We're on a path to the place where &quot;Jedi Mind Tricks&quot; scream atrocity (at the heart of the city) ... and where having our opinions and beliefs secretly changed is something actually worth opening our mouths and screaming about ... because the day that we begin to actually control the process is the first day that we're truly free--and that there's ever been such a thing as &quot;free will.&quot;&nbsp; Have&nbsp;<a href=".it.ly/2va1LBa" style="text-decoration-line: none; color: rgb(65, 131, 196);">courage</a>, and&nbsp;<a href=".it.ly/2OC62FN" style="text-decoration-line: none; color: rgb(65, 131, 196);">serenity</a>; and know we are rapidly approaching the day when it won't just be me shouting that ... &quot;shouting&quot; is the way past the sh and the way out slavery.&nbsp;</div>
<div style="text-align: justify;">&nbsp;</div>
<a href=".it.ly/2v7VRR9" style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/kibOern.png" alt="DO P C N AM ES
SUS IN US" width="500" height="424" border="0" style="max-width: 100%;" /></a></div>
<div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px; text-align: center;'>&nbsp;</div>
<div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px; text-align: center;'>achu, f<em>aster.&nbsp;&nbsp;</em>
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" />
<meta charset="utf-8" /><i>A dam gate, then?</i><br />


















</div>
<div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px; text-align: center;'>&nbsp;</div>
<p style="text-align: center;"><a href=".it.ly/2OC65B9" style='font-family: "Open Sans", sans-serif; font-size: 16px; text-decoration-line: none; color: rgb(65, 131, 196);'><img src="/i.imgur.com/RaJG9BI.png" alt="... WHAT I WANNADO ..." width="300" height="359" border="0" style="max-width: 100%;" /></a></p>
<div align="justify" style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px;'>
<div align="center"><br />
&quot;<i>if you will <a href=".ww.amazon.com/share-your-wine-kissy-nacha/dp/1724727044/ref=sr_1_1?ie=UTF8&amp;qid=1533868006&amp;sr=8-1&amp;keywords=share+your+wine+dobrin"><strong>share your wine</strong></a>...</i>&quot; -Dave J. Matthews</div>
<div align="center">&nbsp;</div>
<div align="center"><a href=".it.ly/2v6Uz8U" style="color: rgb(65, 131, 196);"><img src="/i.imgur.com/mjUgzjU.png" width="460" height="200" alt="FINALE, IN AL ... IRS AND DARK2RIGHT" style="max-width: 100%;" /></a></div>
<div align="center">&nbsp;</div>
<div id="content" class="content" style="margin-left: auto; margin-right: auto; max-width: 750px; padding-bottom: 50px;">
<p style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;"><a href=".it.ly/2OC67cf" title="RENDER CAESART'S CITY ON THE PAINTED SKY" style="text-decoration-line: none; color: rgb(65, 131, 196); font-family: Arial, Verdana, sans-serif; font-size: 12px;"><img src="/i.imgur.com/wHqh8UY.png" width="335" height="256" alt="" style="max-width: 100%;" /></a></p>
<p style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;">&nbsp;</p>
<p style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;"><span style="font-size: 12.8px;">&nbsp;&nbsp;</span><strong style="font-size: 50px;">R</strong><span style="font-size: 50px; border-width: 1px; border-style: solid; padding: 2px;">ACH</span><strong style="font-size: 50px;">EL</strong><span style="font-size: 12.8px;"><br />
</span></p>
<p style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;"><em><strong>&nbsp;fulcrumble.</strong></em></p>
<p style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;"><img src="/i.imgur.com/I1hfrSs.png" width="400" height="213" alt="" style="max-width: 100%; font-size: 12px; font-family: -webkit-standard;" /></p>
<p style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;"><strong><span style="font-size: 17.6px;">TH ETA, HU DA BAR? I C SPIN ACH</span></strong></p>
<p style="text-align: center;"><a href="./FINALE.html?0AC067E24E12075E" title="AGENT SMITH AND WESSEN REPLACED ALL THE BULLETS WITH ROSES?" style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/V39ou1T.png" width="335" height="243" alt="" style="max-width: 100%;" /></a></p>
<p style="text-align: center;"><a href=".ww.youtube.com/watch?v=g1zZxBfwm00&amp;F52A71CCE0A4CAA4" title="GUNS AND ROSES?" style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/aqKCCnp.png" width="335" height="222" alt="" style="max-width: 100%;" /></a></p>
<p style="text-align: center;"><a href=".ww.youtube.com/watch?v=bK463fcJebI&amp;9FE37D80843EEA15" title="THEY STOOD UP FOR LOVE, EDDIEKLIVE" style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/diNzcts.png" width="335" height="228" alt="" style="max-width: 100%;" /></a></p>
<p style="text-align: center;"><a href="./BERESHIT.html?34B54BFFA3BBBD4A" title='BREAD IS LIFE, RODDENBERRIES REPLICATE "SER.VE" THYSELV' style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/hJBIGCa.png" width="336" height="124" alt="" style="max-width: 100%;" /></a></p>
<p style="text-align: center;"><a href="./IOWA.html?5107FD0ECDC94554" title="THE IOWA CONCENSES, AND THE NARODEONIC PLEAS" style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/AQY20s2.png" width="335" height="118" alt="" style="max-width: 100%;" /></a></p>
<p style="text-align: center;"><a href="./OMEALFHT.html?3F7EE0A155CA45D3" style="font-family: Times; font-size: medium; text-align: start;"><img src="/i.imgur.com/4MiHJO2.png" alt="GOLD. AU AU AU AU DEN CITY GUST." width="500" height="308" /></a></p>
<div style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; text-align: justify;"><br />
So tying it all together, Atlantis and Ur coalesce and join at the idea that we should always have somewhere else to &quot;teleport to&quot; in the world that becomes the basis for the liberation of every soul and the end of Hell through that simple idea--that everyone's going to have plenty of destinations on their Active (Apache) Directory new fangled yellow-pages meets access-control-list meets ... &quot;why don't you come visit my Log Cabin ... or the Atlantean Ballroom ... whenever you want?&quot;&nbsp; So that's the point of the floating LEGO city in the window above, it comes with a fairly obvious need for The Doors to be a significant part of &quot;<a href="./FIRST.html?806977F4EE76A548">what would Jesus do</a>&quot; ... when singing about something and naming books and bands, that's a thing--part of the map) actually makes it happen.</div>
<div style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; text-align: justify;">&nbsp;</div>
<div style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; text-align: center;"><a href="./FIRST.html?BAFF81FE59380722"><img src="/i.imgur.com/LUIL8JS.png" width="501" height="251" alt="RENDER TO CAESART" /></a></div>
<div style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; text-align: justify;"><br />
So that's where I'm trying to get us--to a place where that's not only true but obvious, and on top of that the future, our future really understands how much work it took us to integrate such a wildly correct and &quot;new&quot; idea into a worl that didn't know for the vast majority of it's youth that these things... that ending disease with the sound of a blowing &quot;Sho Find And Replace&quot; and turning&nbsp;<a href="./BERESHIT.html?4E135AA23CADBB38">stone to bread</a>&nbsp;and making bullets disappear in midair ... we didn't know these were even possible; let alone how to integrate them with a world full of optometry and&nbsp;<a href="./RATOXIT.html?79C1CF727C2806D0">oncology</a>&nbsp;that was being made blind to the &quot;c our light&quot; and the idea that we're still here not talking or arguing or refuting or moving forward on the idea that the words &quot;Original Poster&quot; and the continuance of &quot;forums&quot; also have something to do with the beginning of &quot;<i>civilization</i>.&quot;<br />
&nbsp;</div>
<div align="justify" style="color: rgb(0, 0, 0); font-family: Times; font-size: medium;">
<div align="center"><a href=".ww.docdroid.net/sQTUy5f/the-holy-coda-of-the-matrix.pdf?380689EA7EBB2751"><img src="/i.imgur.com/3q04q9w.png" alt='SPKR TO
"SPQR"' width="500" height="150" /></a><br />
<br />
<div align="justify">I've seen it with my own eyes--the act of Creation and the power to make these things happen in a split second... nearly instantly from our frame of reference, I've seen it with my own eyes and more frequently than you might imagine.&nbsp; No matter how you look at it, that's a scary thing to see when you know it's tied at the &quot;<b>HI P</b>&quot; to a message about morality and ending world hunger and curing disease and that those things aren't even being psoken about, let alone happening instantly--it's a little off putting.&nbsp;&nbsp;<br />
<blockquote>I'd be super interested in pictures of the actual grafffiti, which you can find here; on the astroturf where I watched an ani-ant do a fairly good ... mockery of my usual evening hotel-room routine ... followed by the voice of B saying &quot;I spent alot of time on that ant&quot; coming from the ether:</blockquote>
<div align="center"><img src="/i.imgur.com/HOOtDi1.png" width="450" height="358" alt="" /></div>
<br />
Personally known to me for quite some time is why there's a bright shining connection between the idiom &quot;in your dreams&quot; and the word&nbsp;<a href="./HAMMER.html?548EEDBEA00C42D4">HA'REM</a>, the idea of rapid eye movement, and the band Blink-182 ... trying to tell you that &quot;carry me home&quot; is just about exactly how I feel today.&nbsp; Just before leaving Los Angeles I began witnessing a very strange phenomenon--in the blink of an eye--without exaggeration or euphemism, literally in a split second, I began seeing messages that I know were written directly to me appearing around me on the sidewalks and walls in spray-painted graffiti.&nbsp; My phone was dead, and I was wandering halfway to that point myself through a land called Sun Valley and I didn't take much time to think about what I was seeing, though it's the kind of thing I relish in and seek out ... direct verifiable communication &quot;from the beyond.&quot;&nbsp; Knowing what &quot;dose bka&quot; means--in a circle just like that--for those of you that aren't as familiar with Gene Wilder's vision of Heaven in the flick &quot;God's Willwhy Wonthat&quot; the &quot;Ka&quot; is an Egyptian mythological dentation for the biological body and brain; so that specific thing was about Dave Matthews' &quot;little b, little bay&quot; (also depicted in graffiti above) so I looked the other way, and failed to do one of the more interesting of tests ... which is to hear how things sound out loud,&nbsp;<i>sofa king stewie pi-d</i>&nbsp;of me... and kept on wandering towards Margate, Florida ... where I'm writing to from today.&nbsp; Of course that's geographical-map-tie to Seagate and to Watergate and to the idea that computer technology and freedom (specifically&nbsp;<i>of speech</i>) are all part of the foundational Gate to Heaven ... that really is ... our history and this world and you ... reacting.&nbsp;<br />
<br />
Seeing &quot;time stop&quot; and the world change around me is the reason we've embarked down this little journey of &quot;what would you do&quot; if the history of the world were changing before your eyes... and you didn't know anything about causality or that you wouldn't even know if changes were being made; what would you do if you could witness the tool and act of Creation right before your eyes.&nbsp; Would you be scared that you might wake up in a world where the United States lost the High Castle to Phillip K. Dick or in a place where you didn't speak a single world of the language you were seeing was pervading the cosmos as you stood by in silence?</div>
<br />
<a href="./NASHOWER.html?24CBFAA92BB1B210"><img src="/i.imgur.com/24PqKx9.png" alt="TOME" width="500" height="241" border="0" /></a><br />
<br />
<div align="justify">I kept walking and saw another message written directly to me; this time the name &quot;<i>Pinky</i>&quot; with some words around it that made me think it might be the &quot;reason LA shuned Al&quot; is encoded in the R of the acronym RDBMS; something that I'm now actually believing might have more to do with &quot;Nob Hill Road&quot; (I'm (st&nbsp;<b>ill</b>) hoping for &quot;#<i>lbbden</i>&quot; by the way, as opposed to &quot;go-el den&quot;) and the &quot;Hey, LL&quot; of Joseph's father Heli ... that was without a doubt present next to &quot;<a href="./CLEARYBLVD.html?F730585697AD7CFB">Cleary BLVD</a>&quot; around the corner from the house I spent my entire youth in.&nbsp; Neither here nor there, I always connected the &quot;Pink&quot; of Pinky and the Brain to the Spirit P (of Dopamine and RIPPED) reverse engineering his living message and to the idea that the future will be happy there's a tacit connection between my stage-performance-ideas in the state of KY in 2013 and the the themesong of Cheers and everyone knowing that the Shehekeyanu has something also to do with &quot;Hashemesh is Hemera&quot; and the Sumerian Creation guy &quot;Anu&quot; ... which I still see &quot;anew&quot; in, as in renewing our love of tolerance and individuality. &nbsp;&nbsp;&nbsp;<br />
<br />
<div align="center"><a href=".ww.youtube.com/watch?v=o7U3lo80YrQ&amp;4BAC5AB69357FEAA">... and your husband thinks it would be fun to be a girl for a few hours ...&nbsp;<i>achu</i></a></div>
<p>I kept on moving there too--sort of avoiding the link between humor and hubris and audacity... until I got to the ciudad of Tampa, Florida ... where some really bright hot pink shirts were waiting for me to replace all of the clothing (as in every single piece of garb I owned) being left in a bag on the street in Los Angeles ... because ... seemed like a good idea at the time. &nbsp; One of the shirts is depicted above, and you might see.<a href="./CHALK.html?A187E5071D4B7DC0">a link to 9/11</a>&nbsp;and more on the idea of what we should do about future foreknowledge (as in, keep all the good promises and reverse everything bad?) in a place we'd call the &quot;light of day&quot; if it weren't the light of &quot;Hemera is Hashemesh.&quot;&nbsp; Buil<b>ding</b>&nbsp;for a cure, in hindsight I can't agree more--we really do de<a href="./CURE.html?19DF680F7F52B294">serve that cure</a>.&nbsp; The other one says &quot;help save a's b's c's&quot; and that goes to the heart of the rest of the issue here; that we're in a place where lack of communication and a very clear lack of logical reaction threaten not just the future of speaking out loud, but of being&nbsp;<a href="./XOXO.html?29D0292EC453D7E2">able to think for ourselves</a>.&nbsp;&nbsp; So throwing all those things into the &quot;Y&quot; that are ... well, hopefully all good promises to be fulfilled or ... conversely things to fix pretty quickly.<br />
<br />
If you missed it, seeing &quot;pinky&quot; and then the &quot;pink shirts&quot; is another act of Creation; and proof of foreknowledge and something like the world being paused (or a little piece of history changing before my eyes) to help drive home the crux of what's possible here in Creation--which is to see that a single word could be changed in the past and your memories could be 'rerun' or altered to be sure there's always been an &quot;R&quot; in&nbsp;<b>turmeric;</b>&nbsp;even though I'm pretty sure I remember it not being there, and the rest of your memories not being affected by something as big as &quot;<b><a href="./SOIS.html?835DBF82EEAC8F81">SOIS</a></b>&quot; and &quot;<a href="./SECORDANOLIVED.html?2A9073038FA50562"><b>if you are</b></a>&nbsp;<b>the</b>begin<b>n</b>ing of Heaven&nbsp;<a href="./2017-06-09-verily-i-say-unto-you-ver-means-to-see.html?4A006768C11FE58B"><b>so am I</b></a>' (now you're saying it ... &quot;out loud?&quot;) ... anyway, the lack of effect in other places where it probably should change things (according to the Buttercup Effect or that movie &quot;Prince in Bride&quot; featuring the girl from Firefly) ... well you're probably staring at the technological mechanism behind &quot;darkness.&quot;</p>
<p>I see &quot;grooming&quot; ... teaching the world what to do being handed the keys to this car--to know to stop hurricanes and earthquakes and ... and not to go back and change &quot;every girl dreamt they'd be his partner&quot; just because it makes me/you mad at Carly Simon.&nbsp; Maybe you don't see it yet.</p>
</div>
<img src="/i.imgur.com/TO5zHbn.png" alt="TURMERIC" width="500" height="341" /><br />
<br />
<div align="justify">If nothing else the &quot;seasoning&quot; completes a fairly&nbsp;<a href="./OFIVES.html?0AF96B7BAF4AC271">long list of &quot;greetings&quot;</a>&nbsp;that connect the theme of P and &quot;pears&quot; to the pejorative &quot;water&quot; of Almost<a href=".ww.youtube.com/watch?v=tXc4jgUJEko&amp;980A1BBF07E9831C">&nbsp;Famous' lead band ...&nbsp;<i>Still Water</i></a>.&nbsp; Watching Creation in progress, I didn't notice the link until after tying &quot;<b>sois</b>&quot; .. which means &quot;I am&quot; and &quot;you are&quot; in French and Spanish to the superposition of &quot;<a href=".ww.youtube.com/watch?v=Sws3MZJIv9c&amp;list=PLgYKDBgxsoMM0iittdDlREVqTc4wn7ylK&amp;913B174C35B951E2">who</a>&quot; and &quot;we are&quot; in Har-Wer... who happens to be the messianic joiner of two lands in Egyptian mythology... in our last e-mail where you might not have noticed &quot;System of A Down&quot; has a slight replacement and hidden truth in acronyms brought to light. It's a timeline, by the way, A.D. is a timeline...&nbsp;<i>too.&nbsp;&nbsp;<br />
<br />
Anyway,&nbsp;</i>I've asked some people and gotten mixed answers about the spelling of the spice above; wondering now if I'm in the novel Dune or ... if you still don't think&nbsp;<a href="./ADIOSAS.html?DEF03E6F9F648925"><i>everything's connected.</i></a><i>&nbsp;Like a Matrix,&nbsp;<b>you know</b>?&nbsp;&nbsp;</i>It should be really clear that this message is coming to us from a place that has the power to make it a reality--and that standing between that happening and ... total silence is nothing more than a lack of discussion.&nbsp; I mean freedom--it's obviously a lack of freedom standing between sight of Silicon and the end of silence.&nbsp; I'm feeling pretty confident about this &quot;Exodus from slavery&quot; thing.&nbsp;</div>
<div align="justify">&nbsp;</div>
<div align="justify"><em>So, is it the Holy &quot;R&quot; of Har-wer?</em></div>
</div>
</div>
<p style="text-align: center;"><a href="./ADUNCALIFT.html?38D78436040EE861" title='STANDING ON THE VERANDA OF FREEDOM&squot;S "SURE"' style="text-decoration-line: none; color: rgb(65, 131, 196);"><img src="/i.imgur.com/kZRpP4z.png" alt="" style="max-width: 100%;" /></a></p>
</div>
<div align="center">&nbsp;</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
