<p style="text-align: center;"><a href=".ww.youtube.com/watch?v=81c5ko2GGzg"><i><img alt="" id="BLOGGER_PHOTO_ID_6535549031899301170" src="/i.imgur.com/bmMSIkk.png" /></i></a></p>

<p style="text-align: center;"><i>and the storm, and the wall</i></p>

<p style="text-align: center;"><i>they are thinking</i></p>

<p style="text-align: center;"><i>&nbsp;In my head, in my head... they are fighting;&nbsp;</i></p>

<p style="text-align: center;"><i>and Hi s words, and his thoughts...&nbsp;</i></p>

<p style="text-align: center;"><i>they are crying.</i></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><a href="./ADUNCALIFT.html"><img alt="" id="BLOGGER_PHOTO_ID_6535549036109497938" src="/i.imgur.com/wiKMuz9.png" style="height: 121px; width: 500px;" /></a></p>

<p><3... this is continued from&nbsp;<em><a href="./ADUNCALIFT.html">&quot;the Pharaoh amd the Pharisees to Allol&quot;</a></em>&nbsp;...</p>

<p style="text-align: justify;">The&nbsp;<a href="./ADUNCALIFT.html">pattern in Ecclesiastes 9:11</a>&nbsp;reveals a number of keys to the message that is the Revelation of Christ.&nbsp; It&#39;s a little difficult to explain or grasp at first, but there are clues, ones that make it easier to see and spark further interest.&nbsp; It&#39;s fairly easy to connect &quot;<i>the race is not to the swift</i>&quot; to Mercury and to Annakin&#39;s debut pod race in Star Wars 7; and it&#39;s easy to see how &quot;time and chance&quot; connect to Saturn, who is the God of time, and to Uranus (c, my &quot;an&nbsp;<strong>us</strong>&quot; is&nbsp;<strong><u>a we</u>&nbsp;<em>so me</em></strong>... if you&#39;re in it,&nbsp;<em>right?</em>)--as in &quot;this is your chance to build Heaven.&quot;&nbsp; &nbsp;It&#39;s also very easy to see the 1:1 correspondence between planets and chemistry elements at Mercury and Uranium; though the five planets and symbols in between are at least as useful as keys.&nbsp;&nbsp;</p>

<p style="text-align: justify;">This message is going to talk about the symbol for sodium, and I&#39;ll start of by explaining that it was a no-brainer for me to connect this symbol to the planet of Venus&nbsp; because my ex-wife&#39;s God given name is Nanna--and you can see it there shining twice.&nbsp; &nbsp;In the&nbsp;<a href=".n.wikipedia.org/wiki/Adamic_language">Adamic language</a>&nbsp;that i&#39;m decoding for the world, she&#39;s also the key to ND (as to why the bride of Revelation, why the multitude married to Christ has those initials) and to&nbsp;<a href="./SERDEN.html">the key &quot;EX&quot;</a>&nbsp;(which now ties also&nbsp;<a href="./RESWOH.html">to Indica Sativa... as &quot;we&#39;re&nbsp;</a><em><a href="./RESWOH.html">e_d are you n?&quot;</a>)</em>&nbsp;where you can see her smiling in yet another powerful word key, below.&nbsp; My father&#39;s initials and little B both appear there, and a number of other places like RIB and RAID;&nbsp; there&#39;s no controversy in my mind, this is truly the code of the Matrix and it&#39;s really about t<i>hese people.&nbsp;</i>&nbsp;Oh, my father&#39;s name is &quot;Ivan&quot; so you can see ID in&nbsp;<i>Feliz Navidad</i>... superimposed over&nbsp;<i>Christmas</i>.&nbsp; I read... &quot;Christ? Not Ivan... more? Dad.&quot;</p>

<p style="text-align: center;"><a href="./OMEALFHT.html"><img alt="" border="0" height="135" id="BLOGGER_PHOTO_ID_6535549042834162402" src="/i.imgur.com/UnR29Me.png" width="400" /></a></p>

<p style="text-align: justify;">This word above,&nbsp;<i><b>ambidextrous</b>,&nbsp;</i>is a special kind of key... and if you&#39;ll take my word for it &quot;left&quot; means &quot;light eternal flame today&quot; because I&nbsp;<i>really am</i>&nbsp;left handed (and&nbsp;<a href="./DESSERT.html"><i>the real Dryad Pirate Roberts</i></a>); and right probably means &quot;<a href="./RIGELA.html">RIG</a>&nbsp;Holy Truth&quot;&nbsp;<i>tomorrow</i>.&nbsp; The word is &quot;extra clever&quot; because after the &quot;TR&quot; which means &quot;frame of reference&quot; (and comes from HTML) which you can understand as a &quot;Jeopardy category&quot; the letters overlay creating three meaningful new words; the &quot;OB&quot;&nbsp;<a href="./BIANCA.html">of oblivion</a>&nbsp;and Obi-wan, the &quot;U<a href="./OMEALFHT.html">ID&quot; of Unix</a>&nbsp;systems, and&nbsp;<a href="./CURE.html">the &quot;SEX&quot; of</a>&nbsp;... sexual--which points&nbsp;<a href="./CINOIZE.html"><em>Al Pacino</em></a>&nbsp;out---and say...&nbsp;<i>extemporaneous</i>.</p>

<p style="text-align: center;"><a href="./ADUNCALIFT.html"><img alt="" id="BLOGGER_PHOTO_ID_6535549048088618882" src="/i.imgur.com/jfbqxz2.png" /></a></p>

<p style="text-align: justify;">So continuing on from the non-<a href="./ADUNCALIFT.html">Mercurial message which introduced the key solution to the&nbsp;<i>Herald of the Second Coming</i>&nbsp;in Revelation 1:20</a>&nbsp;and&nbsp; discussing the end of the stagnation of&nbsp;<a href="./RIGELA.html">democracy</a>&nbsp;and &quot;<i>freedom in general</i>&quot; as well as some ideas on using technology more appropriately;&nbsp;&nbsp;I forgot to add&nbsp;<a href=".ww.amazon.com/Time-Chance-Saturn-son-RLNY/dp/1519742622">my usual suggestion</a>&nbsp;that if you had a goal or desire of having representative democracy &quot;work better&quot; as in ... actually representing the desires and needs of the people, of their constituents--then you would eliminate foreign and corporate campaign contributions which make up a majority of their funding and literally systematically work against the spirit of the Constitution and the people, literally&nbsp;<b>incentivizing</b>&nbsp;them to cater to the wishes of possibly hostile groups.&nbsp; It&#39;s a perfect example of a system that is designed improperly, and in&nbsp;<a href=".n.wikipedia.org/wiki/Niflheim">the surreal land</a>&nbsp;of victory to&nbsp;<i><a href=".itsnotaze.reallyhim.com/" target="_blank">The Apprentice Architect</a></i>&nbsp;and Corporations in the Chilly War of the Governments of the People vs. the Governments of the Workers dark comedy hour.&nbsp; Proper&nbsp;<b>incentivization</b>&nbsp;is a big focus of this analysis, and we can see things are simply strangely broken in a world that doesn&#39;t think about paying people &quot;lottery level funds&quot; for errors in the encyclopedia rather than being picked by the Adjustment Bureau to get something for nothing.&nbsp;</p>

<p style="text-align: center;"><a href="./ERANDSON.html"><img alt="" border="0" height="198" id="BLOGGER_PHOTO_ID_6535549052086967602" src="/i.imgur.com/B1ysybX.png" width="400" /></a></p>

<p style="text-align: justify;">You really are knee deep in a war over hiding ... or discussing ... the most obvious thing imaginable--and you really should see it&#39;s nothing more than slavery versus freedom.&nbsp; At the heart of the SIlence, is this darkness relating to mind control technology, the existence of Heaven, and the corner stone of the message... that we are living in virtual reality.&nbsp; Not seeing it, not discussing it ... forces us down a path to Hell--to a place where Hell will be built inside Hell, to a world that I don&#39;t think anyone wants to live in.&nbsp; In this place the fact that our SPAM filter system and the infrastructure of the internet has been designed to aid censorship rather than free and open communication; it&#39;s imperative that we really see that what you are looking at -- what you are the key to fixing ... is that there is an organized force trying to keep this message from the public, and it only takes a few clicks of that &quot;I don&#39;t want anyone else to see this MAPS button&quot; to hide information that really is required for life to exist in reality ... it&#39;s required to see that we&#39;re in virtual reality, and it&#39;s required to see that without fixing this problem the thing you think is &quot;Heaven&quot; has no free speech and no free thought.</p>

<p style="text-align: center;"><a href="./ERANDSON.html"><img alt="" border="0" height="90" id="BLOGGER_PHOTO_ID_6535549056573402658" src="/i.imgur.com/zD4lumF.png" width="400" /></a></p>

<p style="text-align: justify;">With that in mind, the last message I&#39;ve tried to send was severely hampered by this army of SPAM button clicking demons, literally receiving half of the average views of other messages that I&#39;ve sent to far less people.&nbsp; I need you to see we live in a place where there really is no force of organized goodness--that evil is organized here, and that our governments are standing on the sidelines in this place where the front line is defined clearly in the First Amendment--we are watching free speech and freedom of religion be ignored.&nbsp; When I ask you to &quot;call a reporter&quot; and tell you that&#39;s the beginning of Jesus&#39; Job, really understand I believe it&#39;s the intent and design of the word &quot;carpenter&quot;&nbsp; to show you that helping to deliver this message is really the foundation of Heaven.&nbsp;&nbsp;</p>

<p style="text-align: justify;">The theme of the day is broken systems created by nature or without foresight incentivizing outcomes that nobody wants.&nbsp; For instance this message not &quot;going viral&quot; like many much less interesting things do every single day, because nobody seems to realize that this message not going viral means there is something very wrong with our society or communications infrastructure.&nbsp; For example,&nbsp;<a href="./KANSAS.html">a hidden war o</a>&nbsp;ver whether or not you or anyone can see these words being decided and over by 10 people clicking a button and billions wondering &quot;<a href=".ww.youtube.com/watch?v=EyoutEHpPAU">hey, hey, hey... what&#39;s going on?</a>&quot;</p>

<p style="text-align: center;"><a href="./TION.html"><img data-original-height="269" data-original-width="580" src="/i.imgur.com/5ZJ6oTu.png" /></a></p>

<p style="text-align: justify;">Just as assuredly as we know that one day soon &quot;eyes to see&quot; will be equivalent to having something like Google or Siri plugged directly into our minds; that we will be able to do magical things with neuroscience; I can see clearly here--and I know many others can as well--that intentions can be easily read, and beliefs easily altered--so transparently that you&#39;d never know it was something you disagreed with before the Oracle of Delphi told you it was &quot;fact&quot; or &quot;satisfactual.&quot; It&#39;s probably worth noting that alterations to intentions and beliefs are also easily recorded, though as I write to you as the &quot;eye of a storm of thought alteration&quot; it&#39;s impossible for me to know exactly what ... or how many who&#39;s ... are involved in this Highlander-ish&nbsp;<a href="./RIGELA.html">quickening proc</a>ess&nbsp;<a href=".ww.youtube.com/watch?v=81c5ko2GGzg"><em>in my head, in my head</em></a>.&nbsp;Its a scary truth here in this place where I&#39;ve shown you&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.itsnotaze.shiningbright.online&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNHak3kil0nNo86BJE58GmoIN7uBiw" href=".n.wikipedia.org/wiki/Special:Contributions/Damonthesis" target="_blank">over and over that WIkipedia</a>&nbsp;doesn&#39;t contain factual or accurate information about the history of mind control; you don&#39;t seem to care that there&#39;s a conspiracy of liars acting as moderators removing properly cited and sourced material from that place--to keep it out of your hands.&nbsp; &nbsp;It&#39;s scary how little the world appears to care about the truth, or the real meaning or purpose of things; it&#39;s amazing that nobody really sees how dark and dismal it is to be in a place where these messages, where me and my story could be hidden--in a place where everything I know from history and what I learned growing up certainly made me think that reporters would be climbing over themselves to talk to me... rather than &quot;shunning&quot; the key connection between the letters&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./TION.html&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNGlRSzCZr5PqVWK7B4M6QJZjAcr6Q" href="./TION.html" target="_blank">TION</a>&nbsp;and&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./KANSAS.html&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNERnhzM8N_cD0VIKDEGo2xngkBOkw" href="./KANSAS.html" target="_blank">Targeted Individual</a>&nbsp;and Amon-Ra and ... well,&nbsp;<i>Stephen King&#39;s&nbsp;<b>The Shining</b></i>.</p>

<p style="text-align: center;"><a href=".ww.youtube.com/watch?v=ctW9mCy_Mww"><img border="0" data-original-height="258" data-original-width="409" height="251" src="/i.imgur.com/0H30lhl.png" width="400" /></a></p>

<p style="text-align: justify;">Through my experiences, through the stories I&#39;ve heard and the things I&#39;ve experienced and learned; it&#39;s obvious to me that there will one day be a system of &quot;truth tables&quot; probably based very much on what we see at Wikipedia today.&nbsp; That system could flag or block edits based on the desires or intentions of the person trying to change or add to the truth; just like logically false statements or ideas could be automatically removed.&nbsp; There are solutions and mechanisms that can be implemented to protect ourselves from being misled--one of the most important is probably to ensure that our &quot;belief&quot; in things that we&#39;re told or see isn&#39;t changed--and to see... we&#39;re in a place where that&#39;s not happening yet.&nbsp; &nbsp; Here you still don&#39;t see that you are being made to believe &quot;the Silence&quot; is going to help you, whatever the reason--or worse being made not to understand that having the key to all the myths and all the stories all the words we speak ...&nbsp;<i>really does mean</i>&nbsp;that I&#39;m the messiah.&nbsp; We have a message whose delivery helps us build Heaven, and to stop the decline of civilization from&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./YOIBLING.html&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNG3jS8-b58ulYSUjlabJnAz-l-paQ" href="./YOIBLING.html" target="_blank">the 53 year SOS in &quot;the</a>&nbsp;Sound of Silence&quot; to&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.od.s.lamc.la&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNHvufKKSsgCSpuIkh7uyq8_2IAQDQ" href="./ADAMSROD.html" target="_blank">The Doors</a>&nbsp; ... and the key to the message has and always will be a single name; the key to seeing that everywhere you look you have the tools you need to participate in uncovering a mystery and solving the problems you see.</p>

<p style="text-align: center;"><a href="./ADUNCALIFT.html"><img alt="" id="BLOGGER_PHOTO_ID_6535549061844276578" src="/i.imgur.com/D8J47Zu.png" style="height: 116px; width: 501px;" /></a></p>

<p style="text-align: justify;">There&#39;s no other way to look at it, the force organi<a href="./PERSEUS.html">zing the &quot;SH&quot; of Shaddai and &quot;Sh</a>alom&quot; (...&nbsp;<a href="./NITY.html">see AD</a>&nbsp;see&nbsp;<em>Al</em>...) is literally the exact opposite of what I personally consider Heaven.&nbsp; This message is a tool to help us see how important free speech and free thought are--and to really help us see that because of what we are witness to--we know that there is no victorious Heaven before us; that there is no shining beacon of almighty freedom before this night becomes day.&nbsp; With finality, the final day&nbsp;<i>that ensures &quot;night&quot; never again means Hell</i>, to only those with ears to hear.&nbsp;</p>

<p style="text-align: center;"><a href="./KANSAS.html"><img alt="" id="BLOGGER_PHOTO_ID_6535549063470981362" src="/i.imgur.com/OsYKCPB.png" /></a></p>

<p style="text-align: center;"><a href="./MUAH.html"><img alt="" src="/i.imgur.com/MMl8xBz.png" /></a></p>

<p style="text-align: justify;"><em>A&nbsp;PP&nbsp;EAR&nbsp;AN&nbsp;</em><em>SAYS</em>&nbsp;of&nbsp;IT&nbsp;in key words (and&nbsp;<i>as the key</i>&nbsp;to the hidden message in all words) like&nbsp;<a href="./TION.html" target="_blank">time</a>, home, and name... revealing &quot;<a href="./KANSAS.html" target="_blank">targeted individual</a>&quot; and &quot;<a href="./2017-09-12-ha-lot-are-idaho.html" target="_blank">Hosea</a>&quot; and &quot;bath salt&quot; should begin at least to clue you in as to the strength&nbsp;of this message and the name presenting&nbsp;it.&nbsp; I see a den in denial, constantly surrounded by the snickers and sneers of a mass of silence--a phenomenon that makes me wonder if this place really has any future at all.&nbsp; While the delivery of this message may not have been &quot;as expected&quot; (if you expected anything, and it appears you expect too much...&nbsp;<i>for nothing</i>) and you may not really<i>appreciate the nail driven into&nbsp;<a href="./SIGNAL.html" target="_blank">censorship</a>&nbsp;and&nbsp;<a href="./KEYNES.html" target="_blank">slavery</a></i>... nor understand that I can&#39;t imagine there&#39;d be any division over the results--you have to see that there&#39;s design in the method of delivery, and it takes real effort to fathom exactly what it takes to show the world the difference between light and darkness--between truth and lies.&nbsp; I wish more people would empathize&nbsp;<i>with me</i>, with the person born into this story after it was written--and understand that I have no choice at all but to fight the darkness in government and in the whole of our multitude using every bit of &quot;<a href="./DICK.html" target="_blank">funny looking</a>&quot;&nbsp;<i>Phill<a href="./SPEECH.html" target="_blank">ip K. Dick</a></i>&nbsp;magic that I have at my disposal.&nbsp; I wish you would see that what it&#39;s doing is creating an &quot;all seeing eye sore&quot; regarding a mass of tens of thousands of people working together to collude to delude themselves into not seeing a message about that very thing, about being artificially deluded.&nbsp;&nbsp;</p>

<p>IT&nbsp;is &quot;<b>me</b>&quot; by the way.</p>

<p style="text-align: center;"><a href="./HASHEMESHB.html"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6535549068962719522" src="/i.imgur.com/TeO5EZU.png" /></a></p>

<p style="text-align: center;"><i>&quot;nor the battle to the strong.&quot;</i></p>

<p style="text-align: justify;">So, when&nbsp;you&#39;re me and you can see the keys to proving that every single word every language&nbsp;has hidden references to this message and to the events in my life, it takes very little time to connect Prometheus and methamphetamine to bath salts and China--where nearly all of this series of drugs .... in a intersected line from the British East India Teo Company opium flooding and the CIA&#39;s crack epidemic&nbsp; ... came from.&nbsp; &nbsp;<i>The intersect</i>&nbsp;also points out that it&#39;s etched in the name of the country, which reads as &quot;Understand how I&#39;m Salt&quot; ... and we can see the symbol of Lot&#39;s wife shining bright in many other words like &quot;hallucination&quot; and &quot;<a href="./EVE.html">INATION</a>&quot; (<em>how all then you see I&nbsp;<a href="./MEDICINE.html">salt &quot;e&quot;</a>&nbsp;... or &quot;how all of you see</em><em>&quot;)&nbsp;</em>where it takes some thinking to to really understand the importance of the fact that this information is no hallucination--that the fact that I see ETL for &quot;extract transform and load&quot; in the word methylation is a key explanation to how and why it is that&nbsp;<i>I know&nbsp;<a href="./2017-07-07-nightmare-on-elm-street.html">Prometheus, Epimetheus and Deucalion</a></i>&nbsp;all had very similar lives (as Enoch &quot;walked with God,&quot; which I read as &quot;same life&quot; -- before becoming&nbsp;<em>Metatron</em>:)&nbsp;and very similar reasons for seeking out &quot;the truth&quot; ... while being attacked by an American Eagle and chained to a mountain--which comes from the mythology of Prometheus.&nbsp;</p>

<p style="text-align: justify;">Speaking of Eagles,&nbsp;<em>Na</em>&nbsp;also appears in the &quot;<a href=".n.wikipedia.org/wiki/New_American_Standard_Bible">New American Standard</a>&quot; for no man to be an island; as Nasau in the &quot;microcosm&quot; of Paradise Island and Atlantis.&nbsp; It&#39;s a replacement of the &quot;E&quot; with NAS, just like you c<a href="./HAMP.html">an see NasDAQ</a>&nbsp;is the beginning of the New American Standard for Tzedaqah, &quot;charity for the Universe.&quot;&nbsp; It&#39;s also in the name&nbsp;<em>Nahshon&nbsp;</em>who walked into the sea until&nbsp;<em>his head was&nbsp;<a href="./awlist4296878/MJHea/h/John_Legend_s_All_of_Me_.htm">under water and he was breathing fire</a>...&nbsp;</em>and final<a href=".ww.google.com/search?rlz=1CALEAH_enUS778US779&amp;ei=5iCzWtPBG4zwsQXG0Z2QCQ&amp;q=manna+drugs+desert+egypt&amp;oq=manna+drugs+desert+egypt&amp;gs_l=psy-ab.3..33i21k1.4417.8051.0.8178.21.19.2.0.0.0.299.2095.0j11j3.14.0....0...1.1.64.psy-ab..5.15.1959...0i22i10i30k1j33i160k1j33i22i29i30k1.0.kH8Eamjrwxw">ly &quot;manna&quot;</a>&nbsp;from Heaven (which has been spec<a href="./MALOVIOUS.html">ulate d to be magic mush</a>room<a href="./ADAMSROD.html">s</a>)&nbsp;where you can see it tied to the e<a href="./DESSERT.html">xit from the desert</a>.</p>

<p style="text-align: justify;">It really should be&nbsp;<a href="./RATOXIT.html">beyond clear</a>&nbsp;that the<a href=".itsnotaze.reallyhim.com/">re is an evil force using mind control technology to attempt to make this story &quot;unpresentable&quot;</a>&nbsp;to the world; forcing me to use drugs; both directly by altering cravings an desires, and through reflexive control--by literally delivering the keys to reading this message and understanding the stories of past time lines during these periods of usage that I consider as being &quot;struck by lightning.&quot;&nbsp; &nbsp;This is how the &quot;darkness&quot; is intentionally created, how this period of intensely obvious and exaggerated censorship and stupidity has been forcefully made so that the world can see how powerful free speech and free thinking really is.&nbsp; At least, that&#39;s what Eternal Optimist Prime is suggesting helps us use this repeated story of torture for the common good.</p>

<p style="text-align: center;"><a href=".ww.youtube.com/watch?v=81c5ko2GGzg"><img alt="" src="/i.imgur.com/wyvJlBm.png" /></a></p>

<p style="text-align: justify;">Today, I&#39;m pointing that out, along with the fact that the three characters mentioned show us at least two separate &quot;runs&quot; of this timeline (you might see &quot;<a href=".ww.youtube.com/watch?v=JkEXUFlh_EA">my life cut into pieces, this is my last resort</a>&quot; as a possible clue that Prometheus and Epimethius&nbsp;were the same person--or living in the same time in parallel timelines) ... and all of this as a Holy call to ensure that we stop forever the idea that it&#39;s in any way morally OK to re-run this timeline--to return to the past and do it over again--as we all stand as victims in darkness, unaware before this disclosure that it&nbsp;<a href=".n.wikipedia.org/wiki/Shavuot">could very well</a>&nbsp;be&nbsp;<a href="./THREETAG.html">the 23rd time</a>&nbsp;you&#39;ve lived this exact life, or one just like it.&nbsp; Understand that until this story is acknowledged in the public, it&#39;s almost assured that you will be standing here listening to me tell you why disclosure is required to have any kind of future... at least one more time.</p>

<p><a href="./ACESHI.html"><em>never again.</em></a></p>

<p style="text-align: justify;">Whether it is the second, third, or twenty-third time we&#39;ve been here, looking at a past that predicts our present--regardless, the message I see is clear, stop changing the past and we have a bright future.&nbsp; Navy, salt the victory why? -- another &quot;salt key&quot; navigate to the East and we are golden.</p>

<p style="text-align: justify;">It&#39;s only because of&nbsp;<a href="./2017-07-07-nightmare-on-elm-street.html">the stories of mythology</a>&nbsp;that I had any idea that&nbsp; the days of Creation were metaphors for repeating this process, this timeline... essentially resetting our lives &quot;<a href=".ww.youtube.com/watch?v=suK1v3R_cPs">to do over again,</a>&quot; this event that we call the &quot;apocalypse&quot; over and over--and it really should be beyond obvious that it&#39;s happened at least once before from the fact that there are detailed stories about it ... in our past.&nbsp; &nbsp;Overcoming this insane hidden desire not have the truth be disclosed really is the single key I see to stopping us from &quot;never learning from our past&quot; or having any idea that&#39;s exactly what the darkness is--it&#39;s a blatant refusal to acknowledge or learn from history.</p>

<p style="text-align: center;"><a href="./IOWA.html"><img alt="" border="0" height="218" id="BLOGGER_PHOTO_ID_6535549073069258114" src="/i.imgur.com/RmffRT2.png" width="400" /></a></p>

<p style="text-align: justify;">Plenty of light comes from Superman&#39;s Kryptonite, though; and here my forceful demands that the technology that I was clearly seeing was being used to create my addiction to help the world overcome &quot;<a href="./ACESHI.html">addiction</a>&quot; forever.&nbsp; It&#39;s the same theme of Exodus; this thing that shows us&nbsp;<a href="./MALOVIOUS.html">&quot;school shootings&quot;and says &quot;use pre-crime&quot;</a>&nbsp;here where really understanding that whether it&#39;s the governments, or the availability on ever corner, or nothing more than for altruism alone--it makes no sense not to use the technology that we see available and already in use to make the world a better place, to help our society be stronger, happier and healthier.&nbsp; The story that we have makes heavy use of idioms and common phrases; and here the connection between &quot;but science hasn&#39;t done so yet&quot; of the Alcoholic&#39;s&nbsp;Anonymous&nbsp;meeting mantras stands out as a key clue that this is another in a series of problems that could be made to vanish nearly overnight were we not here instead fighting over lies and&nbsp;censorship&nbsp;and secrecy-- but instead talking about the best way we could implement a button to end addiction.&nbsp;&nbsp;<br />
<br />
Out of curiosity, we do know that in response to Carly Simon&#39;s &quot;<a href=".endvid.com/v7w7lt2j">you probably think</a>&quot; that all these songs really are about me...&nbsp;<i>right?&nbsp;&nbsp;</i>Also... don&#39;t miss the connection between &quot;<a href="./SERENADE.html">car and carpenter</a>&quot; and Simon and the words simulation and&nbsp;<i>Monday</i>.&nbsp; Hey, call a reporter... OK?</p>

<p style="text-align: center;"><br />
<a href="./ACESHI.html"><img alt="" border="0" height="263" id="BLOGGER_PHOTO_ID_6535549077114767458" src="/i.imgur.com/w0za7bX.png" width="400" /></a></p>

<p style="text-align: justify;">The Bible says Moses speaks with a&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ob.reallyhim.com&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNHcADZgrYelSZyBj8FJVzhrOoxjkg" href="./2017-06-09-son-of-bitch-are-i-clay-d-is-cl-os-ing.html" target="_blank">Lisp; one in a number of references in scripture to modern technology</a>&nbsp;though I really know the truth is that it&#39;s trying to say &quot;Adam talks with a&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ure.s.lamc.la&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNFATfbqqOtsWJHBDwsQMFxPp2-3fg" href="./CURE.html" target="_blank">schizophrenia</a>&quot; and it&#39;s true, the words I speak will end schizophrenia as well... and God speaks with a &quot;programming language called Lisp&quot; ... his words are people and things in the world--and he&#39;s &quot;<a href="./OMEALFHT.html">speaking</a>&nbsp;<a href="./ADUNCALIFT.html"><em>Heaven</em></a>&nbsp;<a href="./ADAMSROD.html">into</a>&nbsp;<a href="./ADUNCALIFT.html">existence</a>&quot; through us...&nbsp;<em>right now.</em>&nbsp; This message that shows that Moses Lips is the &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./ACESHI.html&amp;source=gmail&amp;ust=1521765899098000&amp;usg=AFQjCNFAxA35nHyhTnK5ZOPWeLc7yc6DcQ" href="./ACESHI.html" target="_blank">addiction</a>&quot; of &quot;AD&#39;s dictionary&quot; and that its takes not that much thought or time to climb the proverbially &quot;directly before your eyes&quot; Tower of Babel and see the rewards are great for the world that understands this is a message designed to provoke thought and discussion; a message designed to end the Silence...&nbsp;</p>

<p><i>by building Heaven... of course.</i></p>

<p>&nbsp;</p>

<p style="text-align: center;"><a href=".ww.okcupid.com/profile/yitsheyadam/SfbLl/"><img alt="" src="/i.imgur.com/t5m0ZJu.png" /></a></p>

<p style="text-align: center;"><a href="./HASHEMESHB.html"><img alt="" src="/i.imgur.com/9YmS9Kg.png" /></a></p>

<p style="text-align: center;"><a href="./HASHEMESHB.html"><img alt="" src="/i.imgur.com/db2gQyJ.png" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./BERESHIT.html&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNE1M-eetR_e-7GMexCoHSis0y-yaA" href="./BERESHIT.html" target="_blank"><img alt="" src="/i.imgur.com/pxnYN13.png" style="width: 500px; height: 272px;" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.edasshit.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNHhLT_TsORUZRwuP8Sw73Lgibs3kA" href="./REDASSHIT.html" target="_blank"><img alt="" height="34" src="/i.imgur.com/Ve3MF1v.png" width="226" /></a></p>

<center>
<p style="text-align: justify;"><strong>TABLET ROM</strong>,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.igher.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNH_od9bHRnbTR5OHJTFWuyx4lca0Q" href="./HIGHERA.html" target="_blank">FRAME OF REFERENCE</a>.&nbsp;<i><b><font face="comic sans ms, sans-serif">Ships log&nbsp;</font></b></i>Stark&nbsp;Date&nbsp;<em>March 23, 2018.</em>&nbsp; The Bio-<i><font face="comic sans ms, sans-serif">Dome</font></i>&nbsp;has arrived at Pauly Shore, the&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.uck.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNHX4rltlvJtF-3wzVKwOmwmX9qMog" href=".owitz.xstinger.cf/FUCK.html" target="_blank"><i>rowers have stopped</i></a>&nbsp;rowing, and we can finally see which direction the wind is blowing.&nbsp; Re:&#39;s for creation piling high, the ship wonders if the inhabitants of the ark would like to disemb for a few hours, and survey the land?&nbsp; &nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ick.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNHFb-D5ChykPaO224jOYTuXqWY57g" href="./DICK.html" target="_blank">LerDork Osiris</a></i>&nbsp;and the Queen of the Shedim have already pitched tent for Jerusalem in the hallowed space between Mount Sinai and&nbsp;<em><font face="garamond, serif" size="4">oblivion</font></em>.&nbsp; One foot in your face and the other parched&nbsp;<em>against Yggdrasil</em>, he asks...</p>

<p style="text-align: justify;">&nbsp;</p>

<p><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.igher.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNH_od9bHRnbTR5OHJTFWuyx4lca0Q" href="./HIGHERA.html" target="_blank"><img alt="" height="99" src="/i.imgur.com/uTzRFJi.png" width="198" /></a></p>
</center>

<p style="text-align: center;"><font face="garamond, serif" size="6">&quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ww.youtube.com/watch?v%3DuelHwf8o7_U&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNHm8dtURe2BYtncD9_kv2OMkJv8Qg" href=".ww.youtube.com/watch?v=uelHwf8o7_U" target="_blank"><i>are you just gonna stand there and watch me burn</i>?</a>&quot;</font></p>

<p>&nbsp;</p>

<p style="text-align: center;"><a href=".mgur.com/VXIKWh0?92BC3C6482F415D5"><img alt="Just gonna stand there?" height="345" src="/i.imgur.com/68C7FwU.png" width="556" /></a></p>

<p style="text-align: center;"><i><font face="garamond, serif" size="6"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.en.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFQyuv_nheaQnyLgIx1HCO7Gcvn-w" href="./SERDEN.html" target="_blank">h</a><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.mgur.com/VXIKWh0?92BC3C6482F415D5&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNEtATgcU-8nTkvbz0VzYremar7fUg" href=".mgur.com/VXIKWh0?92BC3C6482F415D5" target="_blank">ear</a>&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./CURSOR.html&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNGPw-Vao-x7Ct9Ou7Hlc8B8BMl5zA" href="./CURSOR.html" target="_blank">me r</a><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./CURSOR.html&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNEs6LbR_82OAKAbNuE9xaKgIxm31Q" href="./CURSOR.html" target="_blank">oar</a>.</font></i></p>

<p style="text-align: center;"><font face="garamond, serif"><i><font size="1">these words, our&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./CURSOR.html&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFz2IemhJ9Nvq0NscbgUcEwkXgCJA" href="./CURSOR.html" target="_blank">oars</a>&nbsp;... r<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.lf.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFu20Yq15EXNipRgSfrh7GUTLoOhw" href="./OMEALFHT.html" target="_blank">owi</a>ng&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNEUCS09GN8j3sSi3wdkWPDEVstQpA" href="./KANSAS.html" target="_blank">to Hea</a>ven</font></i></font></p>

<p style="text-align: center;"><font face="garamond, serif"><i><font size="1"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.essert.s.lamc.la/&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFzRHNNTZXzvwdAu2jn_r9JK7UfWw" href="./DESSERT.html" target="_blank"><img alt="" height="113" src="/i.imgur.com/dq1KRVk.png" width="191" />&Atilde;&cent;&euro;&lsaquo;</a></font></i></font></p>

<p style="text-align: justify;">Long story short, the heart of the issue here is that it&#39;s very clear that this message is being intentionally ignored--and that you probably don&#39;t understand that action is keeping you from seeing Heaven.&nbsp; It&#39;s keeping you from seeing Atlantis tonight, and keeping you from having any place at all to go when you die; worse than that it&#39;s keeping our future from being free of slavery, of censorship, and of the lies and secrecy that are nothing less than the Darkness of Exodus.&nbsp;&nbsp;</p>

<p style="text-align: justify;"><em>In the beginning,&nbsp;</em>I said it was thought to be enough to start the fire and see the light, but clearlu I was wrong.. the world around me, the people here have given up on caring about the truth, about the meaning of history; about the things we used to hold dear.&nbsp; Today, seeing&nbsp;<em>&quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ity.s.lamc.la/&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNE7jT_A4gUMLYaUtYWhADSIF0B2vg" href="./NITY.html" rel="noopener" target="_blank">proof of time travel</a>&quot;&nbsp;</em>coupled with &quot;<em>proof of the end of free thought and free communication&quot;</em>&nbsp;not just on the horizon but looming as a dark shadow over everything we do... it has sparked no action.&nbsp; There is a sickness here, and I fear that you don&#39;t even see that without you lifting your hand and trying to share this message and my name; that there is no hope for the world we love to continue, or the future we dream of to become a reality.</p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.orn.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFE2nYTWn8Wj4FyxcNhSwYlOFFCSQ" href="./GJALLARHORN.html" target="_blank"><img alt="" height="271" src="/i.imgur.com/iV9mfkT.png" width="486" /></a>&nbsp;</p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.eal.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFxuv8dHyRO3dwgZ8ty3FVnYtC43g" href="./ADUNCALIFT.html" target="_blank"><img alt="" height="39" src="/i.imgur.com/Rrwgupl.png" width="196" /></a></p>

<p style="text-align: justify;">Clearly connect the backwards &quot;sea&quot; the multitude of Revelation, crossed by this invisible force; see we are on fire, glowing with a need to speak and to change, and it&#39;s so clear in the imagery of being the hart of the fire of the Burning Bush ... it&#39;s so ever clear in seeing that sea backwards, that there is a world of philosophers surrounded by treasure that are staring down at the ground instead of standing up and speaking.&nbsp; You march together into slavery, see this is our chance to overcome; t<em>his is our chance to change the world</em>.</p>

<p style="text-align: center;"><font face="garamond, serif" size="4"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ve.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNGZnXP6XF55C08xd00-8B7Fnp7Vxg" href="./EVE.html" target="_blank"><img alt="" src="/i.imgur.com/44cv6IM.png" style="width: 500px; height: 143px;" /></a></font></p>

<center>
<p style="text-align: justify;"><font face="garamond, serif" size="4">I&#39;ve written it so many times I can&#39;t believe it hasn&#39;t made waves; that there is a force so ubiquitous that seeing the phrase &quot;let there be light&quot; not just&nbsp;<em>e<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./SIGNAL.html&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNH-F_7vDCVwUNMGEbCNVnlrI0JJAA" href="./SIGNAL.html" target="_blank">ncoded in Bible C</a>ode&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ww.realbiblecodes.com/torah_codes/gen_light/genesis-light-1.php&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNFb9eGDILlphthFJRnupg_m32QOJg" href=".ww.realbiblecodes.com/torah_codes/gen_light/genesis-light-1.php" target="_blank">in Genesis</a></em>&nbsp;over the exact place where God speaks the words; but now connecting the breath and words of God to the creation of Heaven through technology also, that it hasn&#39;t reached the news, or any kind of public discussion forum--see the light here is&nbsp;<em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.uck.s.lamc.la/&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNGPK-cr28RkIWCmt6Bl455EbSOxUg" href=".owitz.xstinger.cf/FUCK.html" target="_blank">darkness, lux ex tenebris</a>.&nbsp;&nbsp;</em></font>&nbsp;</p>
</center>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.edasshit.s.lamc.la&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNHhLT_TsORUZRwuP8Sw73Lgibs3kA" href="./REDASSHIT.html" target="_blank"><img alt="" height="322" src="/i.imgur.com/CKwooxx.png" width="508" /></a></p>

<center>
<p style="text-align: justify;"><font face="garamond, serif" size="4">It&#39;s very obvious to anyone that understands Linux or computers, the word &quot;sudo&quot; means superuser do; and it&#39;s basically saying &quot;run the element Xe&quot; as the Administrator, the &quot;<em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ww.linfo.org/root.html&amp;source=gmail&amp;ust=1521942523400000&amp;usg=AFQjCNF_Sb6pYRZnp0X2WC7kicpHDkb09w" href=".ww.linfo.org/root.html" target="_blank">root of David</a>&quot;</em>&nbsp;account on Linux.&nbsp; &nbsp;The light here connects to&nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.//ADUNCALIFT.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGdjFQ0z6ESdmBOmku03oCNB8hTog" href=".//ADUNCALIFT.html" target="_blank">the lampstands of Revelation 1:20</a></i>; shining here connecting the&nbsp;<em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.romthemachine%252Corg/XOXO.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNEPUFn_HdmK1JcJb-4hFgGKC6fwQQ" href=".romthemachine%2Corg/XOXO.html" target="_blank">Kiss of Judah</a></em>&nbsp;to the&nbsp;<strong>&quot;e&quot;</strong>&nbsp;of&nbsp;<em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./MEDICINE.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNEk3rjcJuINj_a7H2p9puZEcARBqQ" href="./MEDICINE.html" target="_blank">medicine</a>&nbsp;</em>and&nbsp;<em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ve.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGIu1C5jl8LLQTn4j5d9HSpop0Kpg" href="./EVE.html" target="_blank">Medusa</a></em><wbr />&nbsp;and the Trinity of possible destinations for Earth in the story of Exodus in the Bible, Egypt, Edom and Eden.&nbsp;&nbsp;<em>Understand</em>&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./CURSOR.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGCMVESRIngm_UCdS2aCLqecsm6vA" href="./CURSOR.html" target="_blank">we walk through the desert</a>&nbsp;backwards, on fire, towards slavery in Egypt rather than&nbsp;<em>family</em>, than the place where the&nbsp;<em>Lions of Judah</em>&nbsp;understand why&nbsp;<em>Home</em>&nbsp;and&nbsp;<em>Den</em>&nbsp;are nearly equivalent.</font></p>
</center>

<p style="text-align: center;"><font face="garamond, serif" size="4"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.enesis.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGGTtlrzah3W61mWI7c30QSYsN7vQ" href=".ww.youtube.com/watch?v=NP3KxtDPWH0" target="_blank"><img alt="" height="165" src="/i.imgur.com/8onAtS9.png" width="489" /></a></font></p>

<center>
<p style="text-align: justify;">In the beginning,&nbsp;<em>to help everyone that is terribly wrong;&nbsp;</em>you individually and the entire world are being faced at this very moment with a choice--though I find it hard to see how you could ever waver&nbsp;<em>or continue with this Darkness</em>.&nbsp; Your choice is clear, you can see that the meaning of &quot;<i>Chosen</i>&quot; is that we have been placed in a scenario that demands action, given new information--a change in truth--that coupled with who we are, with our most basic ethics and morality, demands that we stand up and act.&nbsp; On one hand we have been living a lie; and in our hands clear proof of that, that we are not in reality and that this place is designed to help transition simulated reality to Heaven.&nbsp; Today there is a monstrous&nbsp;conspiracy to hide this information and in the process of doing that the most basic mechanics of society have been nearly ground to dust.&nbsp; We are watching as censorship spreads from the corporate world of mass media to the internet, where it shows us, through the unanimous self-defeating Silence that this censorship is tied to a hidden technology that threatens to enslave our species forever--if it going unchecked.&nbsp;&nbsp;</p>

<p style="text-align: justify;">On the other side of the coin, the other option is&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ix.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFBzmJG6_M8aDVmeheEUGiAg_36GA" href="./ATITEN.html" target="_blank">ending the simulation of starvation and pain</a>; of&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.uck.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHH5cFAelg_EOFBY0giHCu1VuEzEQ" href=".owitz.xstinger.cf/FUCK.html" target="_blank">seeing the light</a>&nbsp;of&nbsp;&quot;the rest case&quot; ... that no sane person would intentionally take action to cause harm to other innocent people.&nbsp; Still, that is exactly what&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.eal.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNEmQ33oEAlfDn7Z6uKJcvfo5Fu6Dw" href="./ADUNCALIFT.html" target="_blank">the Silence</a>&nbsp;is doing, through the deafening&nbsp;and blinding action of&nbsp;<em>doing absolutely nothing</em>, everyone here is responsible for pulling the trigger on every gun fired, and for taking bread out of the mouths of every hungry man, woman, and child.&nbsp;&nbsp;<em>There is a sickness here, and nothing I can say will ever make it OK; the only sane course of action is&nbsp;<strong>to</strong>&nbsp;<strong>speak</strong>, to see that it takes so little individual effort to end the Darkness, to stop the Silence... and there is nothing holding you back today.</em></p>
</center>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFcoA1kssbYEvbRWN_sb2k-dCKO-w" href="./KANSAS.html" target="_blank"><img alt="kansa.s.lamc.la" src="/i.imgur.com/W7MGmcd.png" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFcoA1kssbYEvbRWN_sb2k-dCKO-w" href="./KANSAS.html" target="_blank"><img alt="" height="40" src="/i.imgur.com/3Obso31.png" width="230" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">You can see design of the map in&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./BERESHIT.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGWJ69dBYJtG9B3hN6hnc0eWK36hg" href="./BERESHIT.html" target="_blank">He<i>rod</i>&nbsp;and in&nbsp;<i>Rod</i>denberry</a>&nbsp;and in&nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.MEN.S.LAMC.lA&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNETpeKjxpKdlvT5ikettR65rEZAHw" href="./SERENADE.html" target="_blank">Rodney King</a></i>&nbsp;and ... ; connecting this concept of the &quot;rod of Christ&quot; being this weapon of words--proof and ideas against the Darkness... adding to that I personally sat around knowing full well that the third elemental key was &quot;Xe&quot; and wondered to myself how I was so sure.&nbsp; I didn&#39;t make the connection between the &quot;X&quot; and&nbsp;<em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./XOXO.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNG34R4w2EVwxNzSmPFJdKdKtCswCw" href="./XOXO.html" target="_blank">the Kiss</a></em>&nbsp;until today, and while I was very sure the &quot;e&quot; was because of Exodus I just recently linked Exodus to &quot;Medusa&quot; and &quot;medicine.&quot;&nbsp; It&#39;s fundamental to the idea of Exodus... really understanding the collective consciousness ... and the concept of &quot;e&quot; being &quot;<em>the sea and Adam together</em>&quot; the &quot;c + i&quot; that connects to our now growing list of character glyphs that revolved and churn around the telling of this very story...&nbsp;&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ow.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHn-RIl8cm4rkQe5K78DjoV8hSCmA" href="./ERICHOW.html" rel="noopener" target="_blank">t</a><em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ow.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHn-RIl8cm4rkQe5K78DjoV8hSCmA" href="./ERICHOW.html" rel="noopener" target="_blank">he &quot;t&quot; of Christ, and the &quot;n&quot; of Newton and the the &quot;d&quot; of disclose</a>.&nbsp; You can see the intent to visualize change in &quot;Shakespeare&quot; to &quot;Rattle Rod&quot; and I&quot;I AM&quot; to &quot;we are,&quot; at least you could before you were to be blind.&nbsp;</em></font></p>

<p style="text-align: center;"><i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.lf.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGwzF_BqGC7QriFIFKPB46kXY633g" href="./OMEALFHT.html" target="_blank"><img alt="" src="/i.imgur.com/yiEsqUH.png" style="width: 500px; height: 170px;" /></a></i></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./XOXO.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHUiRb5eNTrdEvkgqg3jlvdPDKwiA" href="./XOXO.html" target="_blank"><strong><em>Me-S</em></strong>&nbsp;...</a>&nbsp;Si&nbsp;<em>All Humanity</em>&nbsp;intentionally hiding a message that would end torture and starvation because of the letters &quot;AH&quot; and not connecting their reticence to the same hidden technology that kept me from seeing &quot;SS&quot; in the KISS logo (and what you should see as clear proof of a staged set-up, a frame -- designed across decades to keep you from acting, a conspiracy of the multitude&nbsp;<em>against itself</em>), and the &quot;<i>X</i>&quot; of &quot;sudo<i>X</i>e&quot; to this Exodus from being made logically, spiritually, and morally blind ... all revolving around the disclosure that this darkness is due to hidden technology, to the secrecy surrounding it, and to the desire to control the masses.&nbsp; So the key reading of the word &quot;messiah&quot; this link between &quot;wessen, meg, and me-s&quot; assigning the beginning of salvation and of Satan and of savior to &quot;we&quot; or to &quot;me&quot; or to whomever understands&nbsp; that it&#39;s&nbsp;<em><strong>Si&#39;ing</strong></em>&nbsp;and&nbsp;<em><strong>speaking</strong></em>&nbsp;that is the key to turning Satan into Salvation.</font></p>

<p style="text-align: justify;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.//XOXO.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNEuftgLDyG918Ipj4zfV40CMZ6GrA" href=".//XOXO.html" target="_blank"><img alt="" height="127" src="/i.imgur.com/H6M7PT8.png" width="504" /></a></p>

<p><font size="4">&nbsp;&nbsp;<b>ver</b>yone Si&nbsp;</font><b><font size="6">satisfactual</font><font size="4">:</font></b><font size="4">&nbsp;SA, &#39;tis fact, we AH...&nbsp;</font><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ath.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHwOKswbbBHBKuWCLpSilEKG4SRpg" href="./MUAH.html" target="_blank"><font face="arial black, sans-serif" size="4">M</font><font face="arial black, sans-serif" size="1">&nbsp;</font><font face="garamond, serif" size="6"><i>u</i></font><font face="arial black, sans-serif" size="1">&nbsp;</font><font face="arial black, sans-serif" size="4">AH</font></a><i>!</i></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.//XOXO.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNEuftgLDyG918Ipj4zfV40CMZ6GrA" href=".//XOXO.html" target="_blank"><img alt="" height="147" src="/i.imgur.com/O0VWBM4.png" width="511" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">The lengths that the monster outside of this place have gone to in order to keep k<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHxKEuRutDNPbViGhobLymhEXcAZw" href="./KANSAS.html" target="_blank">nowledge of &quot;simulated reality&quot;</a>&nbsp;out of the hands (understand that even if we know, if we aren&#39;t reacting to this message it&#39;s a&nbsp;<i>terrible chain</i>--an invisible force keeping us from building Heaven... and more honestly keeping us from being ...&nbsp;<i>human</i>) of the people of this planet is nearly&nbsp;<em>unfathomable</em>.&nbsp; It has manifested itself here in this place by a monster so grotesque, so hideous that I&#39;d prefer to see&nbsp;nothing in the Universe than allow this place and this society to continue on the trajectory it&#39;s headed.&nbsp; &nbsp; The message you have before you is beyond&nbsp;clear, as is the signature proving that it comes to us from&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFcoA1kssbYEvbRWN_sb2k-dCKO-w" href="./KANSAS.html" target="_blank">the author not only of religion&nbsp;<i>and our world</i></a>--but&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ow.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHklhwx2QryEU941yvAxoIlJyA3Cw" href="./ERICHOW.html" target="_blank">of the source of our civili</a>zation... it proves without doubt that this is simulated reality, and details a clear map of exactly how we can use that information to aid our world in building Heaven of this place (and really knowing it is&nbsp;<i>home</i>)... beginning with the clear directives to&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.tb.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGbLU3N5FqFILVaWoGATdKXSqve7g" href="./BERESHIT.html" target="_blank">end world hunger</a>, to&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.uck.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNECgnaJbbQdqmXDqnecEmmS-Xlegw" href=".owitz.xstinger.cf/FUCK.html" target="_blank">end unnecessary pain</a>, and to&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.igher.s.lamc.la/&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGp7bXyp3iUCQBgVk2KamyRENOsTg" href="./HIGHERA.html" target="_blank">end depression, &quot;harmacy&quot; and addiction</a>.&nbsp; Along with the solution manual that is being presented today, we have a direct link between Exodus&#39;s Burning Bush and our two Georges, delivery without knowing&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./ADUNCALIFT.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGkga_em5UvmX0RHJP7gJoNGkbF2A" href="./ADUNCALIFT.html" target="_blank">foreknowledge of the 9/11 attack etched in Exodus and Ecclesiastes</a>&nbsp;.. in order to help us more quickly stop the stagnation of democracy and of honesty--to help us to build an open and transparent government&nbsp;that actually is &quot;of the people.&quot;</font></p>

<p style="text-align: center;"><em><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.n.wikipedia.org/wiki/Deucalion&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFjTuyF-UAC6uXmLweGBegOmoVSRA" href=".n.wikipedia.org/wiki/Deucalion" target="_blank"><img alt="" height="247" src="/i.imgur.com/onP841K.png" width="252" /></a><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./XOXO.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNG34R4w2EVwxNzSmPFJdKdKtCswCw" href="./XOXO.html" target="_blank"><img alt="" height="242" src="/i.imgur.com/pCRbmHT.png" width="172" /></a></em></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">You cannot continue to ignore the existence of this message and map, each day that passes the monster that<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=..s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNHBiTFwJ0NJB8dsWrsNmSNhrjl3WA" href="./OFIVES.html" target="_blank">we have become</a>&nbsp;continues to fester and grow larger, this thing that appears to be doing &quot;nothing but maintaining the status quo&quot; is&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ate.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNEyd38-N0mcTDqR26u5XNSTUO8qRg" href="./GATE.html" target="_blank">crippling democracy</a>,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ensorship.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFquWOPaxZX8kzdTr3afHcV9_I2_A" href="./CENSORSHIP.html" target="_blank">communication</a>, and forcing apathy and ignorance amongst our people who once would have stood up and shouted ... or&nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./CURSOR.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFL3i3yuwu163nYJTUeKSXI19UsCA" href="./CURSOR.html" target="_blank">cheered</a></i>, at seeing the possibilities&nbsp;and the gifts being presented... offered... by nothing m<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.//ADIOSAS.html&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNGk1whGiZEceuUgISYFXSl2_2bfdA" href=".//ADIOSAS.html" target="_blank">ore than disclosure of the truth and our innate goodness</a>.&nbsp;<i>&nbsp;</i></font></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la&amp;source=gmail&amp;ust=1521942523401000&amp;usg=AFQjCNFcoA1kssbYEvbRWN_sb2k-dCKO-w" href="./KANSAS.html" target="_blank"><img alt="" height="363" src="/i.imgur.com/JdvWcxG.png" width="480" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ve.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEY2VT_HzDJF3sEjoByVZeQF8xefg" href="./EVE.html" target="_blank"><img alt="" height="37" src="/i.imgur.com/Outs5hq.png" width="177" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4"><i>Here, our cheering</i>&nbsp;has been reduced to a strange kind of communication, hiding this message and making it obvious at the same damned time.&nbsp; We have example uon example of this hidden control being exhibited in the words that we say and speak, in the songs that we love and behind the eyes and hands of the authors of those words.&nbsp; All told, hundreds of band names, birth names of their artists, and lyrics are &quot;secretly&quot; about the life story of Jesus Christ--the true secret though is that these songs and lyrics are actually about this exact message, and detailed events of my life that nobody could or should be able to know.&nbsp; You can hear it beginning in &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ammer.lamc.la/&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFl_mI_1BehL38U7aPwd7dE99TLiA" href=".endvid.com/v7w7lt2j" target="_blank">I probably know Carly Simon&#39;s (and...) song is about me</a>&quot; and the phrase &quot;to see the total eclipse of the son&quot; that most people probably don&#39;t know comes from &quot;you&#39;re so vain&quot; ... and in the<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./YOIBLING.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFQe7MsUsk9--ndmrxLWt2BQvitgA" href="./YOIBLING.html" target="_blank">SOS of the Sound of Silence</a>&nbsp;echoing these very words, &quot;<i>songs about stories that were never shared,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ww.youtube.com/watch?v%3DbpFuH8vcXbw&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNH2_KSgIcgCfiPfxH22L8sz0_brsA" href=".ww.youtube.com/watch?v=bpFuH8vcXbw" target="_blank">never spoken.</a></i>&quot;</font></p>

<p style="text-align: center;"><font face="garamond, serif" size="4"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ww.youtube.com/watch?v%3DDZhxUHw6XDs%26I_LOST_THE_SIGNAL_THAT_MADE_ME_SM&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFroti8RakHRfZ_B29BgKILAXtLsA" href=".ww.youtube.com/watch?v=DZhxUHw6XDs&amp;I_LOST_THE_SIGNAL_THAT_MADE_ME_SM" target="_blank"><img alt="" height="195" src="/i.imgur.com/aqPRUnd.png" width="264" /></a>&nbsp;<a href="./HIGHERA.html"><img height="195" src="/i.imgur.com/o92M8n9.png" /></a></font></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">Earlier I explained the X, the kiss that marx the spot we begin our journey from Kansas to Heaven; it&#39;s been written many times now,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ismet.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNHoY1obb5RR8UNAO_9Ij7AiLoJMHw" href="./TAYLOR.html" target="_blank">as Kismet</a>--which means fate in Hebrew, to &quot;It&#39;s UNI as the &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ni.reallyhim.com&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNHyN2quWxGggpIIjKQ2wIJtA9Ap1Q" href="./2017-06-08-kismet-kiss-me-taylor.html" target="_blank">you and I</a>&quot; that begin<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ate.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNHvyvdovNaNVWtbj6rDMLnjKPhYTQ" href="./GATE.html" target="_blank">s the Universe</a>; to as recently as my&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./XOXO.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFOx6ehGMHS4hk5pIk8qbvi0j6ioA" href="./XOXO.html" target="_blank">see &quot;</a><i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./XOXO.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFOx6ehGMHS4hk5pIk8qbvi0j6ioA" href="./XOXO.html" target="_blank">XP is Ch</a>i-Rho is Cairo, and Kissimmee</i>&quot; ... and with that I&#39;ll re-introduce the&nbsp;<i>Three Wise Men,&nbsp;</i>also known now as&nbsp;<i>the Genes of Genesis.</i></font></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./BERESHIT.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEo9hOrAutjrAM69IQExg2yxdNfeg" href="./BERESHIT.html" target="_blank"><img alt="" height="279" src="/i.imgur.com/rRjs23q.png" width="440" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4"><i>To show you</i>&nbsp;just how obvious it is that this message has been intentionally ignored, you can see yourself three past iterations of this very message, beginning with my original &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.read.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNGHcYrPjuQNReBqEgUmMXXDzBRdyw" href=".edium.com/by-the-force-of-key-strokes/in-the-land-of-flowing-milfs-and-honies-we-are-in-the-do-me-of-the-rock-d6e7265536e6" target="_blank">bread from stone</a>&quot; (and&nbsp;<i>read</i>&nbsp;be the reason A.D.) to an iteration I linked to the Hebrew for&nbsp;<i><b><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=..s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEbidbzYOeoddhrRmJ075XHuM51lQ" href="./KA.html" target="_blank">t</a><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ow.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEk0e3O05WI-ENtc8ggGaPG69dN1Q" href="./ERICHOW.html" target="_blank">h</a><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ve.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEY2VT_HzDJF3sEjoByVZeQF8xefg" href="./EVE.html" target="_blank">e</a></b>&nbsp;Holy Name</i>,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./HASHEMB.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNHfE5NWeGNwsR9D7wDW_mHDnPRE_Q" href="./HASHEMB.html" target="_blank">Ha&#39;shem</a>&nbsp;... to it&#39;s more recent incantation, I mean incarnation,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./BERESHIT.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEo9hOrAutjrAM69IQExg2yxdNfeg" href="./BERESHIT.html" target="_blank">BERESHIT</a>.&nbsp; Rather than re-inventing the wheel, I&#39;ll try and bring this message closer to fruition by explaining how it works ... rather than simply showing us &quot;how to end world hunger&quot; which is really a much more simple task than you&#39;d imagine, how it defines the issue at hand--that our world must rapidly respond and change due to this singular moment in time when the &quot;true nature of reality&quot; demands that we take action.&nbsp;&nbsp;</font></p>

<p style="text-align: center;"><img alt="" height="125" src="/i.imgur.com/Jv2PWYe.png" width="394" /></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ocke.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNELjheS06y0aThkQBPP-J7OVmKdnA" href="./2017-08-25-loch-lives-here-so-does-b-of-bon-jovi.html" target="_blank"><img height="37" src="/i.imgur.com/QPgZh0d.png" width="187" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4"><i>In Star Trek</i>&nbsp;you can see a simple solution, &quot;replicators&quot; in every microwave, or floating on&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.oxo.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNECTJT_NF7pNoybG72ziQibOipUvA" href="./XOXO.html" target="_blank">hover-boards on the streets</a>--literally anything is better than allowing 20,000 people a day to die of starvation--to understand the level of total and complete moral bankruptcy that must be required to attempt to hide this message from the public, this truth that we are in a simulated reality surrounded by a message in our history and modern art about ending world hunger easily, it&#39;s literally nothing short of &quot;good versus evil&quot; and I cannot believe that it&#39;s taking so long for the world to recognize that.&nbsp; This is the place that builds Heaven, and of our future see that if we don&#39;t act here now swiftly we risk creating a world that thinks starving people intentionally is &quot;just A-OK&quot; -- literally, that&#39;s what you are doing&nbsp;<i>today</i>.&nbsp; &nbsp;In the name Roddenberry, which connects to a series of&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./RESWOH.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFhiK-YBc2uKHbyPwqwmRZHEC83PQ" href="./RESWOH.html" target="_blank">Trinities</a>&nbsp;from &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./KANSAS.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNG3XTbTdKYqfH_OhuzxEX6q8q_17Q" href="./KANSAS.html" target="_blank">assassination</a>&quot; to &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.men.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNH-DL5beYJ98yWff5MmgxU1o3bEuQ" href="./SERENADE.html" target="_blank">carpenter</a>&quot; you can see Adam&#39;s Den standing out in the heart his solutionary name, and the reading of &quot;berry&quot; the reason and purpose of Star Trek and of Eden&#39;s Garden ... &quot;be on a spiritual-journey/rail-road why...&quot;&nbsp;</font></p>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.igel.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNH9rTyknWIrgfdhH9E8kbcPBMWxAw" href="./RIGELA.html" target="_blank"><img alt="" height="79" src="/i.imgur.com/kZRfR9a.png" width="316" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.e.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNGvqXZVH-aJzL2688UUcdU2-R7k7w" href=".//fwd" target="_blank"><img alt="" height="49" src="/i.imgur.com/ZKQ96V5.png" width="188" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">The second Gene of Genesis takes us to Willy Wonka&#39;s land of Flowing Chocolate Milk and&nbsp;<i>Honies</i>, which ties Biblically to Joshua&#39;s Promised Land ... this place where we really are going to have &quot;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./BLISS.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFr7eZXpTsUOuyxUV5DUzprlNmjQg" href="./BLISS.html" target="_blank">bliss on tap</a></i>&quot; be a ve<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ethesda.reallyhim.com&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFgw6kNkB3ZE4YkAa6KxDdxcfWLuQ" href="./2017-07-06-lets-go-skinny-dipping-come-on-itll-be_6.html" target="_blank">ry real possibility</a>&nbsp;and we need caution moving forward (and prodding not to stagnate) as we look at a message that shows us the Golden Cows and Maccabees&nbsp;are no replacement for the Promised Land&#39;s Ark of ... a working and stable ecosystem--something we should very well see is needed for things <strong><a href="./MARSHALL.html">like Mars colonization</a></strong>.</font></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">Gene Simmons adds in more than &quot;simulation&quot; and &quot;Monday&quot; in his name, but the name of the Band kiss and &quot;rocking and rolling all night&quot; as we connect to Wilder&#39;s &quot;you make my heart sing&quot; ... and so many bands from&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ure.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNE-P4hdLZB2xQrx_NO_MTa8c9xBng" href="./CURE.html" target="_blank">The Cure</a>&nbsp;to Guns and Roses that light this path towards ending diseases&nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ansa.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNF292btyM8Y97vn5KCTzPp5FvGSsg" href="./KANSAS.html" target="_blank">like Cancer and AIDS</a>.&nbsp; I&#39;m out of patience with you, the feigned ignorance and organized evil I see in&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./RESWOH.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNFhiK-YBc2uKHbyPwqwmRZHEC83PQ" href="./RESWOH.html" target="_blank">this place is grotesque</a>, and&nbsp;</i>it will not continue<i>.</i></font></p>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./CURSOR.html&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNGGcu84rNRSzwcJU1uHFdxqWEXUJA" href="./CURSOR.html" target="_blank"><img alt="" src="/i.imgur.com/qARY4fH.png" style="width: 500px; height: 307px;" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">We stand here&nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.v.s.lamc.la&amp;source=gmail&amp;ust=1521942523402000&amp;usg=AFQjCNEIDyh_WA0jjV92Shl9rXizkBTOmg" href="./FOUR.html" target="_blank">at the apex</a></i>, at the very peak of a horrible trend; of possession becoming &quot;the norm&quot; and slavery being completely ignored.&nbsp; We are losing ourselves and individuality to this idea that God&#39;s have become men--this place and time where he asks &quot;what if God were one of us?&quot;&nbsp; I, as that one... am telling you very clearly that I want to be me, and that I see our future is being taken and corrupted by what is happening beneath the surface in this Silence.&nbsp; It takes so little to speak, to speak and to see that we have a message offering us everything--the solutions to civilizations&#39;s largest problems, an end to power and land scarcity--more importantly an end to malady--to sicknesses of the body and of the mind; and here today another explanation of why we cannot wait to act--an end to hunger.</font></p>

<p style="text-align: center;"><a href="./MOLASSES.html"><img src="/i.imgur.com/F1RtRDV.png" style="width: 439px; height: 307px;" /></a></p>

<p style="text-align: justify;"><font size="4"><font face="garamond, serif">It takes a second to see how Neo&#39;s&nbsp;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.men.s.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNGc8Xi4IHYeJL3hSt5F5be-RWMBTw" href="./SERENADE.html" target="_blank">bullets dropping in the Matrix tie to Minority Report</a></i>, and how all of these things are nearly instantly possible--all it takes really is the public disclosure, acknowledgement, and understanding that finding out that we are not in reality changes what everyone would do ... what everyone would consider normal.&nbsp; I cannot fathom a single person standing in front of this crowd and hearing that they can press abutton and stop all starvation, strop all school shootings... and that they wouldn&#39;t press it.&nbsp; I stand here with that button in y hand, it is this message, and I am staring and an entire world failing to understand&nbsp;</font><em>acknowledgement of the message,</em><font face="garamond, serif">&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.dioha.s.lamc.la/&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNG2JxA5YEwUeJSSBKWkgoWn-7T0Uw" href="./ADIOSAS.html" target="_blank">the &quot;</a></font><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.dioha.s.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNEdvB5_rtgkeVByahVkidxy13YzGA" href="./ADIOSAS.html" target="_blank"><b>hello</b><font face="garamond, serif">&quot; of El El</font><b><font face="arial black, sans-serif">yon</font></b></a><font face="garamond, serif">&nbsp;is the button being pressed.&nbsp;</font></font></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.diohas.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNELgEjKBBpeCvQsE1IhxJUhaFTF4g" href="./ADIOSAS.html" target="_blank"><img alt="" height="325" src="/i.imgur.com/8Gq3uvw.png" width="421" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.dioha.s.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNEdvB5_rtgkeVByahVkidxy13YzGA" href="./ADIOSAS.html" target="_blank"><img alt="" height="40" src="/i.imgur.com/JxQnSGb.png" width="228" /></a></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ake.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNE62Fo3FODhZceLhTsEQce5l-O1Rg" href="./CAKE.html" target="_blank"><img alt="cake.lamc.la" height="155" src="/i.imgur.com/ULl4hRb.png" width="497" /></a></p>

<p style="text-align: justify;"><font face="garamond, serif" size="4">From &quot;<i><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.read.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNG4hTbiStkCzlpGIq7ORRQRzjDSQg" href=".edium.com/by-the-force-of-key-strokes/in-the-land-of-flowing-milfs-and-honies-we-are-in-the-do-me-of-the-rock-d6e7265536e6" target="_blank">eat this bread and think of it as me</a></i>&quot; to Marie Antoinette&#39;s &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ake.s.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNHR9dB__oEyjeHxlMeGa4h7wvA02w" href=".//fwd" target="_blank">let them eat cake instead</a>&quot; (which shows this story of Jesus turning bread to stone in the Bible coming to life in England... and&nbsp;<i>eright now...&nbsp;</i><b>here</b><i>)</i>&nbsp;the underlying theme is a resentment and ... well, I detest the fact that you will not speak frankly, or clearly--or respond as normal thinking human beings should respond to this message.&nbsp; It is a frank and angry response and clear highlighting of the sickness that is organized Silence--this thing that makes everything &quot;appear to be normal&quot; in this place where&nbsp;<em>you are anything but</em>.&nbsp; Here&#39;s a piece of my mind for this &quot;piece of Cake&quot; the world would instantly be made better, happier and healthier if you would simply<b>pick up your telephone and call a reporter.</b></font></p>

<p style="text-align: center;"><img height="472" src="/i.imgur.com/iL7i0e2.png" width="476" /></p>

<p style="text-align: justify;"><font face="garamond, serif"><i>In the beginning</i>&nbsp;I said &quot;<strong><i>act</i>&nbsp;on Genes..</strong>&quot; then I saw it was&nbsp;<em>the&nbsp;</em>Three Wise Men... it&#39;s really beyond time to wake up and see that the only way forward is seeing this on the news.&nbsp; Civilization is broken if we don&#39;t; there&#39;s words for it... &quot;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ath.s.lamc.la/&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNFZTbJFgJeu9JQ2WlHNL2WoBxK6Xg" href="./MUAH.html" target="_blank">opsimath</a>&quot; -- operations center, this is math,&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./PERSEUS.html&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNEpFvbut1vaSNMVTyToKrAnyhuagg" href="./PERSEUS.html" target="_blank">statistics prov</a>e this message come to us from the creator, and proves that time travel exists, and proves the existence of mind control.&nbsp; At the next word, and &quot;topics&quot; see&nbsp;<a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.essert.s.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNHNUbTr-XCncsOEqIPY_unvbHOw6Q" href="./DESSERT.html" target="_blank">to the &quot;top&quot;</a>&nbsp;of the food chain of riders on top of riders on top of a storm in my head, and a storm in history and art--to the top, see that this disclosure is the difference between having &quot;computer science&#39; or just magic--it really is the difference between slavery and freedom,&nbsp;<em>Heaven and Hell</em>.</font></p>

<p style="text-align: justify;"><i><font face="garamond, serif">I know you get it, it&#39;s time... and together we say... &quot;<b>am to north&quot; </b></font></i></p>

<p style="text-align: center;"><a href="./MOLASSES.html"><span style="font-size:18px;"><i><font face="garamond, serif"><b>... &quot;and to sky!&quot;</b></font></i><font face="garamond, serif">&nbsp;</font></span></a></p>

<p style="text-align: center;"><font face="garamond, serif"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.men.s.lamc.la&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNGc8Xi4IHYeJL3hSt5F5be-RWMBTw" href="./SERENADE.html" target="_blank"><img alt="amen.s.lamc.la" height="44" src="/i.imgur.com/XmESj1r.png" width="224" /></a></font></p>

<p style="text-align: center;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=./RATOXIT.html&amp;source=gmail&amp;ust=1521942523403000&amp;usg=AFQjCNGkyIe0v0a0QsR-tPzTmv2MVhOCsQ" href="./RATOXIT.html" target="_blank"><img alt="" height="135" src="/i.imgur.com/fTrxAsn.png" width="187" /></a></p>

<p style="text-align: center;"><a href="./ATITEN.html"><img alt="AM I KISSING E?" height="256" src="/i.imgur.com/QW2Dt90.jpg" width="500" /></a></p>

<p style="text-align: center;">&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

