<center>
<div style="text-align: justify; max-width: 800px;" width="500">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div style="text-align: center;">it&#39;s <em><a href=".it.ly/2BKtWMU"><strong>proof</strong></a> you are i<a href=".it.ly/2odpyMx">n the Matrix</a></em>, and it will take you <a href=".it.ly/2MFiaIE">about an hour</a> to <em>verify</em> that.</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">legitimate proof.&nbsp; care, it makes you immortal.&nbsp; <i><strong>caring,</strong> I mean.</i></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".it.ly/2PAhrp8"><img src="/i.imgur.com/4esTjjK.png" style="height: 281px; width: 500px;" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-size:20px;"><i>f/k/a &quot;<strong>the Golden Fleece</strong>&quot;</i></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: justify;">If you&#39;re intersted, you can download a total&nbsp;<a href=".it.ly/2MFstfA"><strong>hour</strong>chi.ve</a>&nbsp;(figshare) of everything I&#39;ve written <a href=".it.ly/2MFiaIE">here (newer</a>), it might be a good idea--since there&#39;s absolutely no evidence of the &quot;key to Salvation&quot; appearing anywhere else ... on <a href=".it.ly/2wkMPAC"><em>Ear</em></a> ...</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: center;"><a href=".it.ly/2MFiaIE"><img src="/i.imgur.com/d8wDqrH.png" style="height: 75px; width: 399px;" /></a></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">... here&#39;s <a href=".it.ly/2MEUUdF">Pope Francis on &quot;disturbed&quot;</a> and <em><a href=".it.ly/2CmLfE0">silence</a>&nbsp;... and &quot;me&quot; on <a href=".it.ly/2CmLfE0">Mario</a>, <a href=".it.ly/2olyi3a">Wario</a>, and <a href=".it.ly/2olXfvI">Luigi</a> <a href=".ww.niallbunting.com/url-multi-redirect/?a=.zing.bitbucket.io/YW.html,.zing.bitbucket.io/YOIBLING.html,.zing.bitbucket.io/YEAST.html,.zing.bitbucket.io/YAT.html,.zing.bitbucket.io/XOXO.html,.zing.bitbucket.io/WICK.html,.zing.bitbucket.io/WHO.html,.zing.bitbucket.io/TISCOMING.html,.zing.bitbucket.io/TION.html,.zing.bitbucket.io/THUNDERSTAND.html,.zing.bitbucket.io/THREETAG.html,.zing.bitbucket.io/the_tower_of_babel.html,.zing.bitbucket.io/the_story_of_exodus.html,.zing.bitbucket.io/the_matrix_is_indexed.html,.zing.bitbucket.io/the_light_of_heaven.html,.zing.bitbucket.io/the_letter_why.html,.zing.bitbucket.io/the_lamb_of_god.html,.zing.bitbucket.io/the_encl.html,.zing.bitbucket.io/TAYLOR.html,.zing.bitbucket.io/SPEECH.html,.zing.bitbucket.io/SOIS.html,.zing.bitbucket.io/SLANDOH.html,.zing.bitbucket.io/SIGNAL.html,.zing.bitbucket.io/SERENADE.html,.zing.bitbucket.io/SERDEN.html,.zing.bitbucket.io/RIGELA.html,.zing.bitbucket.io/RESWOH.html,.zing.bitbucket.io/REDSASHIT.html,.zing.bitbucket.io/RATOXIT.html,.zing.bitbucket.io/RAIN.html,.zing.bitbucket.io/PULL.html,.zing.bitbucket.io/PERSEUS.html,.zing.bitbucket.io/outside_of_heaven.html,.zing.bitbucket.io/OMEALFHT.html,.zing.bitbucket.io/OFIVES.html,.zing.bitbucket.io/NITY.html,.zing.bitbucket.io/MYLIFE.html,.zing.bitbucket.io/music_saves_all_souls.html,.zing.bitbucket.io/MUASEEKHART.html,.zing.bitbucket.io/MIDAS.html,.zing.bitbucket.io/MICHELIN.html,.zing.bitbucket.io/MEDUSA.html,.zing.bitbucket.io/MEDICINE.html,.zing.bitbucket.io/MALOVIOUS.html,.zing.bitbucket.io/KEYNES2.html,.zing.bitbucket.io/KEYNES.html,.zing.bitbucket.io/KANSAS.html,.zing.bitbucket.io/IRMAX.html,.zing.bitbucket.io/IOWA.html,.zing.bitbucket.io/im_single.html,.zing.bitbucket.io/HYAMDAI.html,.zing.bitbucket.io/HOWIE.html,.zing.bitbucket.io/his_heart_and_sol.html,.zing.bitbucket.io/HIGHERA.html,.zing.bitbucket.io/he_laughs.html,.zing.bitbucket.io/HASHEMESHB.html,.zing.bitbucket.io/HASHEMESH.html,.zing.bitbucket.io/HASHEMB.html,.zing.bitbucket.io/HAMP.html,.zing.bitbucket.io/HAMMER.html,.zing.bitbucket.io/HADID.html,.zing.bitbucket.io/GOODOR.html,.zing.bitbucket.io/god_and_the_big_bang.html,.zing.bitbucket.io/GJALLARHORN.html,.zing.bitbucket.io/GATE.html,.zing.bitbucket.io/FUIR.html,.zing.bitbucket.io/FUCK.html,.zing.bitbucket.io/FOUR.html,.zing.bitbucket.io/EVE.html,.zing.bitbucket.io/ERICHOW.html,.zing.bitbucket.io/ERANDSON.html,.zing.bitbucket.io/DICK.html,.zing.bitbucket.io/DESSERT.html,.zing.bitbucket.io/CURSOR.html,.zing.bitbucket.io/CURE.html,.zing.bitbucket.io/CONFESSION.html,.zing.bitbucket.io/CLIMAX.html,.zing.bitbucket.io/CINOIZE.html,.zing.bitbucket.io/CHOPARTIN.html,.zing.bitbucket.io/CHALK.html,.zing.bitbucket.io/CENSORSHIP.html,.zing.bitbucket.io/CAKE.html,.zing.bitbucket.io/bygod2.html,.zing.bitbucket.io/BLISS.html,.zing.bitbucket.io/BIANCA.html,.zing.bitbucket.io/BERESHIT.html,.zing.bitbucket.io/behold,_the_burning_bush.html,.zing.bitbucket.io/ATITEN.html,.zing.bitbucket.io/APPARITION.html,.zing.bitbucket.io/ADUNCALIFT.html,.zing.bitbucket.io/ADLIFT.html,.zing.bitbucket.io/ADIOSAS.html,.zing.bitbucket.io/ADAMSROD.html,.zing.bitbucket.io/ACESHI.html,&amp;E5583AF5CB321129">Joe</a>.</em></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: center;"><a href=".it.ly/2CmLfE0"><img src="/i.imgur.com/n7fXSqR.png" style="height: 179px; width: 400px;" /></a></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">speaking of <i>our</i> it should take about an Hour to statistically prove there&#39;s a &quot;<a href=".it.ly/2BKtWMU">SIGNAL</a>&quot; rather than &quot;<a href=".it.ly/2MCUg0t">NOIZE</a>&quot; throughout ... language and religion. An hour of your time ... to stop terrorism (and infe<a href=".it.ly/2MA8RcW">rnal blind stu<b>p</b>i<b>d</b></a><span style="font-size:20px;">ity</span>).</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">To be as &quot;not stupid&quot; as possible, the more people you send this to, and the faster you do it--the faster &quot;artificial stupid&quot; will fade away.&nbsp; There&#39;s really not many other plausible explanations for how this absolutely moronic and self defeating &quot;darkness&quot; could possibly be--and you&#39;ll see that, very soon.&nbsp; I sort of threw together three emails (so you didn&#39;t get three individual ones, like everyone on arxiv, <span style="font-size:11px;"><span style="font-family:comic sans ms,cursive;"><em>OME</em></span></span>) so please, bear with what might be a little more disjointed than my usual writing.&nbsp; I hope you find it interesting, though, the proof of an intelligent message defining the purpose of Creation ...&nbsp;sure does engage me.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: center;"><a href=".it.ly/2yJzZKJ"><img src="/i.imgur.com/6FSGVqZ.png" /></a></div>
<p>For a <a href=".it.ly/2PG8rid"><em>crash</em></a> <a href=".it.ly/2h2IU0Y">course</a> in &quot;what I want you to do&quot; try my decoding of the beginning of &quot;carpenters&nbsp;of Heaven&quot; as <a href=".it.ly/2PCNHrO">call&nbsp;a a reporter</a> .... followed swiftly by Imagine Dragons&#39; <a href=".it.ly/2pLXU9P">Pen Dragon</a>&nbsp;(of whom I am fond of mentioning has a table whose shape is encoded in the heart of <strong><em><a href=".it.ly/2OBUqST">Hisword</a>--and <a href=".it.ly/2CmL2kc">HILT</a></em></strong>) and the heart of <a href=".ww.niallbunting.com/url-multi-redirect/?a=.zing.bitbucket.io/YW.html,.zing.bitbucket.io/YOIBLING.html,.zing.bitbucket.io/YEAST.html,.zing.bitbucket.io/YAT.html,.zing.bitbucket.io/XOXO.html,.zing.bitbucket.io/WICK.html,.zing.bitbucket.io/WHO.html,.zing.bitbucket.io/TISCOMING.html,.zing.bitbucket.io/TION.html,.zing.bitbucket.io/THUNDERSTAND.html,.zing.bitbucket.io/THREETAG.html,.zing.bitbucket.io/the_tower_of_babel.html,.zing.bitbucket.io/the_story_of_exodus.html,.zing.bitbucket.io/the_matrix_is_indexed.html,.zing.bitbucket.io/the_light_of_heaven.html,.zing.bitbucket.io/the_letter_why.html,.zing.bitbucket.io/the_lamb_of_god.html,.zing.bitbucket.io/the_encl.html,.zing.bitbucket.io/TAYLOR.html,.zing.bitbucket.io/SPEECH.html,.zing.bitbucket.io/SOIS.html,.zing.bitbucket.io/SLANDOH.html,.zing.bitbucket.io/SIGNAL.html,.zing.bitbucket.io/SERENADE.html,.zing.bitbucket.io/SERDEN.html,.zing.bitbucket.io/RIGELA.html,.zing.bitbucket.io/RESWOH.html,.zing.bitbucket.io/REDSASHIT.html,.zing.bitbucket.io/RATOXIT.html,.zing.bitbucket.io/RAIN.html,.zing.bitbucket.io/PULL.html,.zing.bitbucket.io/PERSEUS.html,.zing.bitbucket.io/outside_of_heaven.html,.zing.bitbucket.io/OMEALFHT.html,.zing.bitbucket.io/OFIVES.html,.zing.bitbucket.io/NITY.html,.zing.bitbucket.io/MYLIFE.html,.zing.bitbucket.io/music_saves_all_souls.html,.zing.bitbucket.io/MUASEEKHART.html,.zing.bitbucket.io/MIDAS.html,.zing.bitbucket.io/MICHELIN.html,.zing.bitbucket.io/MEDUSA.html,.zing.bitbucket.io/MEDICINE.html,.zing.bitbucket.io/MALOVIOUS.html,.zing.bitbucket.io/KEYNES2.html,.zing.bitbucket.io/KEYNES.html,.zing.bitbucket.io/KANSAS.html,.zing.bitbucket.io/IRMAX.html,.zing.bitbucket.io/IOWA.html,.zing.bitbucket.io/im_single.html,.zing.bitbucket.io/HYAMDAI.html,.zing.bitbucket.io/HOWIE.html,.zing.bitbucket.io/his_heart_and_sol.html,.zing.bitbucket.io/HIGHERA.html,.zing.bitbucket.io/he_laughs.html,.zing.bitbucket.io/HASHEMESHB.html,.zing.bitbucket.io/HASHEMESH.html,.zing.bitbucket.io/HASHEMB.html,.zing.bitbucket.io/HAMP.html,.zing.bitbucket.io/HAMMER.html,.zing.bitbucket.io/HADID.html,.zing.bitbucket.io/GOODOR.html,.zing.bitbucket.io/god_and_the_big_bang.html,.zing.bitbucket.io/GJALLARHORN.html,.zing.bitbucket.io/GATE.html,.zing.bitbucket.io/FUIR.html,.zing.bitbucket.io/FUCK.html,.zing.bitbucket.io/FOUR.html,.zing.bitbucket.io/EVE.html,.zing.bitbucket.io/ERICHOW.html,.zing.bitbucket.io/ERANDSON.html,.zing.bitbucket.io/DICK.html,.zing.bitbucket.io/DESSERT.html,.zing.bitbucket.io/CURSOR.html,.zing.bitbucket.io/CURE.html,.zing.bitbucket.io/CONFESSION.html,.zing.bitbucket.io/CLIMAX.html,.zing.bitbucket.io/CINOIZE.html,.zing.bitbucket.io/CHOPARTIN.html,.zing.bitbucket.io/CHALK.html,.zing.bitbucket.io/CENSORSHIP.html,.zing.bitbucket.io/CAKE.html,.zing.bitbucket.io/bygod2.html,.zing.bitbucket.io/BLISS.html,.zing.bitbucket.io/BIANCA.html,.zing.bitbucket.io/BERESHIT.html,.zing.bitbucket.io/behold,_the_burning_bush.html,.zing.bitbucket.io/ATITEN.html,.zing.bitbucket.io/APPARITION.html,.zing.bitbucket.io/ADUNCALIFT.html,.zing.bitbucket.io/ADLIFT.html,.zing.bitbucket.io/ADIOSAS.html,.zing.bitbucket.io/ADAMSROD.html,.zing.bitbucket.io/ACESHI.html,&amp;E5583AF5CB321129">Yeterday</a> and Jupiter (and the key to Nostradamus&#39; <strong><a href=".it.ly/2LTNE9y"><em>Hister</em></a></strong>) to complete one of many &quot;Trinities&quot; that aren&#39;t Cary Moss (or <a href=".it.ly/2yIClcQ"><em>Nanna</em></a>).</p>
<p>.... instead of making a music video about ... calling everyone&nbsp;-- Brit took care of that, in her highlight of the &quot;to kiss, I see&quot; of the most wonderful reason in the world to ... <a href=".it.ly/2p0BykJ">end hunger</a>, <a href=".mzn.to/2Cm5u4B">pain</a>, <a href=".it.ly/2IjcjGy">disease</a> and ... <a href=".it.ly/2CmLxuA">slavery</a>.&nbsp; <em><a href=".it.ly/2Ijcj9w">At least, I&#39;m on board</a>, Ms. Spears of Destiny</em>. <strong><a href=".it.ly/2Ilm9b1">xoxo</a>.</strong></p>
<div style="text-align: justify;">.</div>
<div style="text-align:center"><a href=".it.ly/2MBGwTI"><img alt="" src="/i.imgur.com/WU2ajlQ.png" style="width: 499px; height: 219px;" /></a></div>
<div style="text-align:center">&nbsp;</div>
<div style="text-align:center"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.araegi.ml/MARSHALL.html&amp;source=gmail&amp;ust=1535445158477000&amp;usg=AFQjCNF8_K1m-zLgjdXLHmCS1NKduaL6Iw" href=".it.ly/2PDyq9Q" target="_blank"><img alt="" src="/i.imgur.com/5n1ewS1.png" style="margin-right:0px" /></a></div>
<div style="text-align:center">&nbsp;</div>
<div style="text-align:center">guess what? &nbsp;Try these words:</div>
<div style="text-align:center">&nbsp;</div>
<div style="text-align:center"><span style="font-size:28px;">&quot;<strong><em>No more <a href=".it.ly/2P7fMXW">silence</a>, no more <a href=".it.ly/2C06Emm">terrorism</a>.</em></strong>&quot;</span></div>
<div style="text-align:center">&nbsp;</div>
<div style="text-align: justify;">Really get the point here is to literally <a href=".it.ly/2BMefog">end world hunger,</a> cure <a href=".it.ly/2PHF6Ef">all disease</a>, and end <a href=".it.ly/2whGQwu">murder</a>&nbsp;... building <em>Heaven</em> ... by disclosing <a href=".it.ly/2odpyMx"><em>the biggest secret</em></a> that&#39;s ever been, a/k/a &quot;the original lie.&quot; &nbsp;This is the <a href=".it.ly/2BIzEyw">only way</a> to continue...&nbsp;<em><a href=".it.ly/2P1KfXh">period. &nbsp;Mars is not really a game, it&#39;s a horror show until this is done, and that should be obv</a>&nbsp;AF.&nbsp;</em></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;"><em><a href=".it.ly/2Pz2L9y">IMOHIO</a>, this is an instant Nobel prize, and it should take about 3 seconds (alright maybe a week) to statistically prove through anachronism and &quot;<a href=".it.ly/2BKtWMU">SIGNAL</a>&quot; that this is in fact a message coming directly from &quot;The Matrix&quot; (and MInority Report). &nbsp;Find someone that can do this, please, ASAP--every day, every day we wait is another day of &quot;Jacksonville.&quot;</em></div>
<div style="text-align:center">
<div>
<p><a href=".it.ly/2wfO97X"><img height="106" src="/i.imgur.com/LF72VGR.png" width="461" /></a></p>
<p style="text-align: justify;">So ... I&#39;m trying really hard to unite you all--under the idea that your lack of division here in this place is obvious proof of control and a lack of individuality or free will.&nbsp; I think that&#39;s obvious, I think it&#39;s clear that&nbsp;<i>nobody standing up and speaking</i>&nbsp;about something this obvious and this important is a huge problem, and something you should really clearly see isn&#39;t &quot;your actual decision,&quot; more than that it&#39;s proof of how easy it is to trick everyone with this same technology, and how really in the end of this little debacle ... you&#39;ll see that what was once a sea divided over something silly and inane like &quot;killing me&quot; or the &quot;controversy of drugs&quot; has turned into something much more clear ... black and white ... this is about slavery and this is about freedom and this is about proof that turned from a few key symbols like Na and &quot;e&#39;as&quot; into an absolute truth being ignored, even when that absolute truth everywhere obviously would benefit everyone here -- as in, ending death and&nbsp;<a href=".it.ly/2PGZrcR">disease</a>&nbsp;and&nbsp;<a href=".it.ly/2BMefog">hunger</a>.&nbsp; Also more importantly of all this is the end of artificially created stupid--slavery, idiocy, whatever it is behind your silence today... and that word and in sigh, the keys to &quot;the length of the common era&quot; and the beginning of the Golden Age.</p>
<p><a href=".it.ly/2BKtWMU"><img alt="THANKHU" border="0" height="372" src="/i.imgur.com/ZcNUIWx.png" width="500" /></a></p>
<p style="text-align: justify;">This message is making you, and the whom or whatever in the skies helps us break through this stupid-wall ... the people (or things) responsible for building Heaven and bringing clarity to the fact that we probably will be people-things eventually, since that&#39;s the best solution I can come up with for wanting to almost be God (for all of you) as in, I wanna do more stuff, but I don&#39;t want to have to worry about making sure you aren&#39;t doing more bad stuff to some copy of me (or ...&nbsp;<i>anyone--</i><b>literally</b>) that I can&#39;t see.&nbsp;</p>
<p><a href=".it.ly/2yIGhu9"><img src="/i.imgur.com/zvR4Jq4.png" style="height: 324px; width: 500px;" /></a></p>
<p style="text-align: justify;">That being said, what you&#39;re doing&nbsp;<i>to me&nbsp;</i>here is Hellish and eruel and evil, and it&#39;s excacerbated significantly by the fact that you&#39;re making me and this message a &quot;stop-gap&quot; on the way to <em>ending <a href=".it.ly/2PDeSCE">murder</a> and&nbsp;<a href=".it.ly/2Bj1fpV">cancer</a>&nbsp;(c malady, et al)</em>&nbsp;and <a href=".it.ly/2p0BykJ">hunger</a>--and that&#39;s not fair to anyone who has those problems, or to me, or to you--because really you should see that&nbsp;<i>you were blind fools</i>&nbsp;forever and ever before &quot;this dirty key&quot; was here to fix that for you.&nbsp; You&#39;re&nbsp;<i>blinder today</i>, althought that&#39;s up for debate--<i>you could just be more evil,</i>&nbsp;and I wouldn&#39;t be able to tell the difference.</p>
<p><a href=".it.ly/2BKVqly"><img alt="CHEVROLETICS" src="/i.imgur.com/4pcep42.png" style="height: 311px; width: 501px;" /></a></p>
<p style="text-align: justify;">We need the controversy (2cy) and we need the debate (2b) and we need solutions implemented (2a) and all of those things come with a turning of the tide--with logic and love overtaking the absolute inane Zeitgeist of &quot;nothing&quot; that is pervading what used to be civilization and is now completely in &quot;retrograde.&quot;&nbsp; Rant over, here&#39;s more key--the Elemental Key to the message of Creation.&nbsp;</p>
<p><a href=".it.ly/2LTNE9y"><img alt="TENNESSEE
WHISKEY" border="0" height="367" src="/i.imgur.com/F2A5xbE.png" width="500" /></a></p>
<p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:comic sans ms,cursive;"><em>Elementary&nbsp;my dear What-sons</em></span></span>, early on I noted a number of connections between the &quot;key of Revelation 1:20&quot; which is probably still without doubt the Herald of the Second Coming once the world fathoms its actual meaning and impact to a 1:1 correspondence between &quot;chemistry table elements&quot; and the planets and Gods representedy by the range of Mercury to Uranium.&nbsp; Two of those keys shine above, the&nbsp;<a href=".it.ly/2wfO97X">Silicon hidden in Genesis</a>&nbsp;that ties to Jupiter and to the&nbsp;<i>fact</i>&nbsp;that this message turns Hell into Heaven by using the truth and your desires to alter the course of the future--the other primary key from that set is Xenon, which connects &quot;let there be light&quot; to Exodus in reverse with prescient reference to Xenon and to the Linux command for &quot;run as God&quot; which is &quot;sudo&quot; ... those things are fact, and they&#39;re the beginning of this &quot;<i>I can&#39;t believe it&#39;s not on the news yet.</i>&quot;<br />
<br />
I&#39;ve written a&nbsp;<a href=".it.ly/2LTNE9y">number</a>&nbsp;of&nbsp;<a href=".it.ly/2BKVv8Q">times now</a>&nbsp;the&nbsp;<b><i>ex plan at i o n</i></b>&nbsp;for how this clear pattern connecting the centers or hearts of words (specifically every video game system in popuplar use) shows the design of an inhuman creator--something operating through time and with a hidden mechanism of control over our affairs.&nbsp; Knowing about it is the beginning of setting is free, and the purpose it&#39;s there--hidden--waiting for us to&nbsp;<i>really not be free</i>&nbsp;because stupid.&nbsp; It links more than just Microsoft and Massive (above the Great Plains) Dynamics to Fringe and to The Fray and to the Matrix, which ends with the question &quot;are I the heart of hearts?&quot; and links&nbsp;<a href=".it.ly/2Cir1ex"><b>RIX</b></a>&nbsp;to&nbsp;<b><a href=".it.ly/2P7gmVw">RIB</a>&nbsp;</b>in Genesis ... and&nbsp;<a href=".it.ly/2BTyEYq"><b>RIP</b></a>&nbsp;the &quot;Priestly Source&quot; ... and to Stargate&#39;s Ad<b>ria</b>&nbsp;and to the&nbsp;<a href=".it.ly/2P7Spxv"><b>RIN</b></a>&nbsp;in my name and to the&nbsp;<i><b>RIC</b></i>&nbsp;in&nbsp;<a href=".it.ly/2BJgiJI"><i>Amharic</i></a>--these patterns are &quot;<a href=".it.ly/2BKtWMU"><b>SIGNAL</b></a>&quot; not noise--they are undeniable, and it will be proven statistically, without doubt.&nbsp; Even just the original Trinity in &quot;Nintendo&quot; (which means leave luck to Heaven, not Microsoft) is a signal, a pattern that explains the laying down of this message that turns &quot;game&quot; into &quot;heaven&quot; through you--connecting Nine Inch Nails (because message encoded in rock &#39;n roll) to X=TEN because kissing is for the Xbox that is &quot;often the start of Heaven&quot; and the key to &quot;omnipotens&quot; (other than S) ... most importantly of all, is&nbsp;<a href=".it.ly/2P7fMXW">seeing Neo&#39;s&nbsp;<b>ac</b>tion<b>s</b></a>&nbsp;in the Matrix and&nbsp;<i>Jesus Christ&#39;s&nbsp;<b>actions</b>&nbsp;in the NT</i>&nbsp;as keys to how we might easily see that there&#39;s a map, and we&#39;re not following it by being stupid and quiet.<br />
<br />
If you can&#39;t begin to talk about this, and to research it, I don&#39;t know how else to tell you that society is crumbling, civilization is failing--and it&#39;s because you pretend not to &quot;get something&quot; that you really are about to lose forever.&nbsp; It was power and innocense and solutions and you&#39;re turning it into a big red blinking target--a thing that must be stopped at all costs.&nbsp; This stupid will be stopped, at all costs.</p>
<p><a href=".it.ly/2yIGhu9"><img alt="TO BE OR NOT
TO BE" border="0" height="88" src="/i.imgur.com/xFzDWIw.png" width="440" /></a></p>
<p style="text-align: justify;">K was the element connecting&nbsp;<i>Saturn&nbsp;</i>and the phrase &quot;person of time&quot; .... to &quot;<i>Potassium</i>&quot; and&nbsp;<i><a href=".it.ly/2Ilm9b1">Medusa</a></i>&nbsp;and&nbsp;<i><a href=".it.ly/2P8gHY9">abomination</a></i>&nbsp;(it&#39;s &quot;<a href=".it.ly/2Orpkxq">As u dem</a>&quot; and &quot;<a href=".it.ly/2MBbxXU"><strong><em>No it, Anakin</em></strong></a>&quot; -- they&#39;re&nbsp;<em>things</em>) in reverse, to a Trinity in &quot;<i><a href=".it.ly/2IjcjGy">assassination</a></i>&quot; and to the reason we are standing here listening to the end of the Ark explaining that could go either way--but you&#39;re not going to disembark in your current state.&nbsp;</p>
<p><a href=".it.ly/2orm5ud"><img src="/i.imgur.com/jtjZv0z.png" /></a></p>
<p style="text-align: justify;">The &quot;let there be light&quot; in Reverse in Exodus... it was about not leaving, about turning this place into Heaven instead of an &quot;ark&quot; hidden in the word dark; what I see around me has instead turned into a &quot;walking into slavery&quot; because you think something is more valuable than goodness and caring and truth and honesty, and whatever it is, see it&#39;s a target.&nbsp; Finally, it&#39;s &quot;<i>TENNESSEE</i>&quot; that connects this pattern of hearts of video game systems to the heart of America--to seeing it not just virtually but also on our map and in our history and connecting&nbsp;<a href=".it.ly/2yIGhu9">the &quot;etymology&quot; of eternity</a>&nbsp;(also filled with Shakespeare&#39;s plays and with Mr. Anderson&#39;s Matrix connecting movies and actors names and content to the &quot;n&quot; of Rock n&#39; roll and the Y of Spanish and Spanglish and Schrew.&nbsp;</p>
<p><a href=".it.ly/2p1vo3T"><img alt="TEN NES SEE" border="0" height="155" src="/i.imgur.com/Y9frVvF.png" width="392" /></a></p>
<p><span style="font-family:comic sans ms,cursive;"><span style="font-size:18px;"><strong><em>&#39;w/ his key&quot;</em></strong></span></span></p>
<p style="text-align: justify;">&#39;Twas the beginning of eternity filled with&nbsp;<a href=".it.ly/2P1KfXh">the positive energy of Cations in Creation</a>--refusing to see <a href=".it.ly/2CmLxuA"><strong><em>SIGNAL</em></strong></a> in &quot;cations&quot; and positive energy and Creation and that &quot;<i>prescience</i>&quot; is more than a cute name for something that defies the current state of logical thought, and proves without doubt you have a message here from an entity with the power to literally alter your entire history or end it, refusing to see the importance of what you are staring at is bringing us closer and closer to the Abyss than you can possibly imagine.&nbsp; In all candor, rightfully so--what is here is a sickness that I would not ever want to see happen--not now, and not in the future.&nbsp; Whatever is causing it is more&nbsp;<b>disgusting</b>&nbsp;than I can put into words, and your lack of response is a twisted symptom of that.</p>
<p><a href=".it.ly/2BMezDu"><img alt="ONE EYE IN
THE MIRROR" border="0" height="430" src="/i.imgur.com/kzKvThb.png" width="500" /></a></p>
<p style="text-align: justify;">Rather than&nbsp;<a href=".it.ly/2BMfxzC">going through the 7 keys between Mercury and Uranium</a>&nbsp;(<a href=".it.ly/2ohnraK">again</a>&nbsp;and&nbsp;<a href=".it.ly/2BMggkr"><em>again</em></a>) I&#39;m going to add in some more elements that are clear indicators of this story and why it&#39;s all about &quot;the name&quot; and &quot;the message&quot; you are reading.&nbsp;&nbsp;<b><i>For everyone</i></b>&nbsp;it is the Iron Rod of Jesus Christ that is the heart of Roddenberry&#39;s name and the key to &quot;Fe&quot; which I&#39;ve noticed connects my happy phrase &quot;believe in staind tool&quot; that ties a song and two bands into turning around &quot;God&quot; and &quot;rod&quot; and&nbsp;<a href=".it.ly/2P5fQY1">seeing good and the Doors</a>.&nbsp; This isn&#39;t an &quot;optional thing&quot; either, what we see here is the equivalence of a world that has seen the invention of the airplane and refuses to build airports because Harvard and Ford and Stanford all think it might make them have to do &quot;something different with their immortal futures&quot; than continue to teach lies and build machines that destroy the imaginary O-zone.&nbsp; Aside from elements another huge personal key to this message is the linking of &quot;initials&quot; to &quot;initialize&quot; and personally known people like my father whose name is encoded in Feliz Navidad and the heart of &quot;<a href=".it.ly/2P7Spxv">ambidextrous</a>&quot; and&nbsp;<a href=".it.ly/2P74yCv">Bianca</a>&nbsp;and Nanna--who is&nbsp;<a href=".it.ly/2CirgWZ">my &quot;ex&quot;</a>&nbsp;and the &quot;ND&quot; of Al Bundy.&nbsp; The&nbsp;<i><a href=".it.ly/2CirgWZ">O-zone</a></i>&nbsp;is coming. :)</p>
<p><a href=".it.ly/2P7gwfA"><img alt="KRYPTON, SEE" border="0" height="131" src="/i.imgur.com/c57HJen.png" width="500" /></a></p>
<p style="text-align: justify;">This is &quot;doors for everyone&quot; enveloping the heart of Creation--this rock.&nbsp; This is how it&#39;s &quot;for everyone&quot; and this is how you&#39;re the way we get there--actually taking the time and consideration to see you need to &quot;work&quot; to change the world.&nbsp; Start by seeing that this place is a disgusting disgraceful eyesore today, and I would do anything at all to ensure that it does not continue to be that; anything, at all.&nbsp; It hasn&#39;t &quot;just become Hell&quot; but I&#39;ve just found out about this message, and about what it says about simulated reality, and about you--it shows me you are blind slaves being tortured--and until you begin to see that, we are all in grave danger.</p>
<p><a href=".it.ly/2P7Spxv"><img alt="TAKE ME
HIGHER" border="0" height="355" src="/i.imgur.com/FyWgIUZ.png" width="500" /></a></p>
<p style="text-align: justify;">It&#39;s also&nbsp;<b>the &quot;A.D.&quot;</b>&nbsp;all over our time line, in 0 (which is the sign of the sun, literally) and in 1492, and in Shaddai and in Adonai, and in &quot;addiction&quot; and &quot;malady&quot; all&nbsp;<i>because of me</i>--all because of these words.&nbsp; These words end addiction and disease, and I don&#39;t care if you think that&#39;s a good thing or not--if you don&#39;t say &quot;bye bye&quot; ...&nbsp;<i>forever.&nbsp;&nbsp;</i>On that note, it&#39;s the Na of &quot;salt&quot; that connects bath salt and pyrovalerone to&nbsp;<a href=".it.ly/2P7Spxv">Pro<b>meth</b>eus</a>&nbsp;and&nbsp;<a href=".it.ly/2BMcZBz"><i>to China</i></a>&nbsp;(where it all came from, C how it &quot;<b><i>salted the road</i></b>&quot;) and to John Maynard Kenyes and to the fine &quot;<b>nard</b>&quot; of John 12:1.&nbsp; It&#39;s central to this message,&nbsp;<b>this message that ends addiction</b>, and&nbsp;<b>ends</b>&nbsp;the Hitleresque&nbsp;<b>eugenics</b>&nbsp;that we&#39;ve seen not just in Germany but in the Brittish East India Tea Company and in the CIA lead crack epidemic of the 80&#39;s and in the &quot;pyrovalerone&quot; flooding that apparently has made you think &quot;occidentally devilish&quot; means&nbsp;<i>acidentally</i>--it doesn&#39;t ... see that clearly.&nbsp; Na also appears in Bianca&#39;s mother&#39;s name (so does AD, that one&#39;s Adina) and in the beginning and end of Nanna&#39;s.&nbsp; Nanna, by the way, is the actual name of the consort of&nbsp;<a href=".it.ly/2BKVLVm">Adonis</a>/<i>Tammuz</i>&nbsp;who is often&nbsp;<a href=".it.ly/2BJXkCX"><i>connected with Christ--just like Horus</i></a>.</p>
<p><a href=".it.ly/2P6i7T0"><img alt="AU GOLD" border="0" height="474" src="/i.imgur.com/NZDpgfk.png" width="500" /></a></p>
<p style="text-align: justify;"><i>I spent&nbsp;<a href=".it.ly/2BLarDH">quite a bit of time wrestling</a>&nbsp;with invisible demons and with words--</i>words like &quot;<i><a href=".it.ly/2P7mBc6"><b>hubris</b></a></i>&quot; and &quot;<b><a href=".it.ly/2BN1D0e"><i>audacity</i></a></b>&quot; and&nbsp;<a href=".it.ly/2yIGjCh">some less invisible demonic mess</a>engers, like &quot;<i><b>SOAD</b></i>&quot; singing about the &quot;toxicity of our city&quot; and a world that refused to see (and still refuses to speak) about the connection between toxicity and city and garden and Eden and see that it&#39;s&nbsp;<i>Gold</i>&nbsp;to me, &quot;a you&#39;re the city&quot; now linking directly to the &quot;Golden City of El Dorado&quot; and the chemistry element ... for Gold.&nbsp; That city is speaking, it reads &quot;<i>do our A.D. ... oh</i>&quot; and it&#39;s echoed in Dorito and it&#39;s echoed in the myth that explains that El Dorado is in fact a city that came from a single person and expanded from there into a kingdom.&nbsp; We&#39;re sitting here&nbsp;<a href=".it.ly/2BMggkr">listening to a message about Mercury</a>&nbsp;and U turning that empire into &quot;OneRepublic&quot; by becoming stars--<i>not by doing nothing</i>; I promise.<br />
<br />
It&#39;s clear as day in &quot;<a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/HASHEMB.html,./HASHEMB.html,./HASHEMB.html,./HASHEMB.html,.mg.izing.ml/HASHEMB.html,.inoize.github.io/HASHEMB.html&amp;1C5C3E3F38451D07"><i>authority</i></a>&quot; and in the stories behind&nbsp;<a href=".ww.facebook.com/photo.php?fbid=10154283229013420&amp;set=a.10154283230918420&amp;type=3&amp;theater&amp;59143C4EDE2A9393">the meaning of Thor&#39;s name</a>&nbsp;and the&nbsp;<a href="./MYLIFE.html?5651FF8FC3A942B0"><i>definition of this hammer;</i></a>&nbsp;it&#39;s clear in Auden&#39;s poems about the shield of Achilles and about the Garden of Eden encoded in his name--and it should be clear you are looking at proof of Creation and at a message directly from the author of the NT and of Genesis and of Exodus; and it should be clear that acting now brings freedom to the entirety of our future, and failing to... it&#39;s not an acceptable loss.&nbsp; This&nbsp;<a href=".it.ly/2BMefog"><b>shit</b></a>&nbsp;will not continue.</p>
<p><a href=".it.ly/2BKVqly"><img alt="DEATH" border="0" height="135" src="/i.imgur.com/dRpNeq0.png" width="391" /></a></p>
</div>
<div>
<div><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.it.ly/2PHnJ70&amp;source=gmail&amp;ust=1535445158477000&amp;usg=AFQjCNGBFW5Eyh2wJshXf_2tUD8dJcgwfA" href=".ww.youtube.com/watch?v=Sws3MZJIv9c&amp;list=PLgYKDBgxsoMM0iittdDlREVqTc4wn7ylK&amp;C3F5A583AE559F41&amp;690E80F5538895B1" target="_blank"><img alt="" src="/i.imgur.com/h3lIn8R.png" style="margin-right: 0px; width: 500px; height: 256px;" /></a></div>
</div>
<div>
<div><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.araegi.ml/RATOXIT.html&amp;source=gmail&amp;ust=1535445158477000&amp;usg=AFQjCNGrcyKbOFtq_OQtb22MZQWcl2RzQQ" href="./RATOXIT.html?AAFA0C412D7F36FB" target="_blank"><img alt="" src="/i.imgur.com/Wjaytg0.png" style="margin-right: 0px; height: 159px; width: 500px;" /></a></div>
<div>&nbsp;</div>
<div>ring. &nbsp;ring. &nbsp;ring.</div>
<div>&nbsp;</div>
<div>
<div style="text-align:center"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/YAT.html,./YAT.html,./YAT.html,./YAT.html,.mg.izing.ml/YAT.html,.inoize.github.io/YAT.html&amp;EF571DD4AFF83043"><img src="/i.imgur.com/RfTtsli.png" style="width: 489px; height: 442px;" /></a>&nbsp;</div>
</div>
</div>
</div>
<div class="gmail_extra" style="text-align: center;">&nbsp;</div>
<div class="gmail_extra" style="text-align: center;"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/SPEECH.html,./SPEECH.html,./SPEECH.html,./SPEECH.html,.mg.izing.ml/SPEECH.html,.inoize.github.io/SPEECH.html&amp;05F0E0192D30ACF4"><img src="/i.imgur.com/Q75dBwJ.png" /></a></div>
<div class="gmail_extra" style="text-align: center;">&nbsp;</div>
<div class="gmail_extra" style="text-align: center;"><a href=".ww.niallbunting.com/url-multi-redirect/?a=.ww.maraegi.tk/FIRST.html,./FIRST.html,./FIRST.html,./FIRST.html,.mg.izing.ml/FIRST.html,.inoize.github.io/FIRST.html&amp;00CDF94C46699667"><img src="/i.imgur.com/7xYLdOh.png" /></a></div>
<div class="gmail_extra" style="text-align: center;">&nbsp;</div>
</div>
<div hspace="streak-pt-mark" style="max-height:1px"><img alt="" src="/i.imgur.com/MIa0Hcf.png" style="width:0px;max-height:0px;overflow:hidden" /><font color="#ffffff" size="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">at &sect; ??</font></font></font></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height:1px"><img alt="" src="/i.imgur.com/UOjrhyk.png" style="width:0px;max-height:0px;overflow:hidden" /><font color="#ffffff" size="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">at &sect; ??</font></font></font></div>
</div>
</div>
<div hspace="streak-pt-mark" style="max-height:1px"><img alt="" src="/i.imgur.com/laFaKkQ.png" style="width:0px;max-height:0px;overflow:hidden" /><font color="#ffffff" size="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">at &sect; ??</font></font></font><img alt="" src="/i.imgur.com/zV5Bvxl.png" style="width:0px;max-height:0px;overflow:hidden" /><font color="#ffffff" size="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">at &sect; ??</font></font></font></div>
</div>
<script type="text/javascript" nonce="sxNadaw0fD68GqhkaMJXVpp9RAA">// <![CDATA[
// ]]></script>
<div style="text-align: center;"><a href="./TY.html?8149FCEDC8A2C065"><img src="/i.imgur.com/Hdo2keG.png" style="height: 287px; width: 501px;" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><span style="font-size:9px;">it&#39;s obvious.&nbsp; it&#39;s amazing.&nbsp; it&#39;s good for everyone.&nbsp; <em>you&#39;re idiots if you don&#39;t seize this chance.</em></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./WISDATAM.html?8B469CA7CB64FB22"><img src="/i.imgur.com/VMJttaP.png" style="height: 262px; width: 500px;" /></a></div>
</div>
</center>
<p style="text-align: center;">&quot;<a href=".n.wikipedia.org/wiki/Beth_(Hebrew)?A3C5C02014DA8C47&amp;CDF4FABAE6FB1AE7">Beth</a>esda&quot; reads as &quot;the house is the...&quot; in <em>Spanglishrew ...&nbsp;</em><strong>CITY</strong></p>
<p style="text-align: justify;"><span style="font-size:11px;">Who knows whose ... <b>Adamic language</b>&nbsp;is, according to&nbsp;<a href=".n.wikipedia.org/wiki/Jews?4E2C0EFC67B177B7&amp;E7EB8D450AC2F1A8" title="Jews">Jewish</a>&nbsp;tradition (as recorded in the&nbsp;<i><a href=".n.wikipedia.org/wiki/Midrash?59F5C303AC507392&amp;BB92F1C6E8F1357A" title="Midrash">midrashim</a></i>) and some&nbsp;<a href=".n.wikipedia.org/wiki/Christians?3110B366BDCE0768&amp;E8D185E122BF9B69" title="Christians">Christians</a>, the language spoken by&nbsp;<a href=".n.wikipedia.org/wiki/Adam?48B9204A4B588A65&amp;3C5CCF5962BD2711" title="Adam">Adam</a>&nbsp;(and possibly&nbsp;<a href=".n.wikipedia.org/wiki/Eve?E8AA79AE9A8EB346&amp;DBA0AFC94F3221DB" title="Eve">Eve</a>) in the&nbsp;<a href=".n.wikipedia.org/wiki/Garden_of_Eden?4FB9B0E31EA4090C&amp;836A856F72595660" title="Garden of Eden">Garden of Eden</a>. It is variously interpreted as either the language used by&nbsp;<a href=".n.wikipedia.org/wiki/God?76ECF91D8651D8C6&amp;A3143934FA4AFC6D" title="God">God</a>&nbsp;to address Adam (the&nbsp;<a href=".n.wikipedia.org/wiki/Divine_language?1CE500F271A91811&amp;A08829D9A392403A" title="Divine language">divine language</a>), or the language invented by Adam with which he named all things (including Eve), as in&nbsp;<a href=".n.wikisource.org/wiki/Bible_(King_James)/Genesis#2:19?42BA7EF12CF7D903&amp;AA63E0F7B17F898E" title="s:Bible (King James)/Genesis">Genesis 2:19</a>.</span></p>
<p style="text-align: justify;"><span style="font-size:11px;">Yankee Doodle&#39;s&nbsp;<b>Macaronic</b>&nbsp;refers to text using a mixture of&nbsp;<a href=".n.wikipedia.org/wiki/Language?E51AF58BE488E0BB&amp;0C16C8F7825D264B" title="Language">languages</a>,<sup id="cite_ref-1"><a href=".n.wikipedia.org/wiki/Macaronic_language#cite_note-1?C78ED156358A0F1B&amp;9B0A0B9BF079B8DD">[1]</a></sup>&nbsp;particularly&nbsp;<a href=".n.wikipedia.org/wiki/Bilingual_pun?B0D7E204C29F4069&amp;7D805D9E2360A97F" title="Bilingual pun">bilingual puns</a>&nbsp;or situations in which the languages are otherwise used in the same context (rather than simply discrete segments of a text being in different languages). The term can also denote&nbsp;<a href=".n.wikipedia.org/wiki/Hybrid_word?E6EDCCDD7EB4B7CA&amp;2EA1A9445BCDD405" title="Hybrid word">hybrid words</a>, which are effectively &quot;internally macaronic&quot;. A rough equivalent in spoken language is&nbsp;<a href=".n.wikipedia.org/wiki/Code-switching?00BEE65002736755&amp;7D59CEF3F3E9880B" title="Code-switching">code-switching</a>, a term in&nbsp;<a href=".n.wikipedia.org/wiki/Linguistics?6504B803AB80DA0F&amp;4F12F86668EB2044" title="Linguistics">linguistics</a>&nbsp;referring to using more than one language or dialect within the same conversation.<sup id="cite_ref-2"><a href=".n.wikipedia.org/wiki/Macaronic_language#cite_note-2?06E6A163CA69B3A3&amp;064F385F021DFF5E">[2]</a></sup></span></p>
<p style="text-align: justify;"><span style="font-size:11px;">King&#39;s&nbsp;<b style="font-style: italic;">Langolier</b>&nbsp;is a&nbsp;<a href=".n.wikipedia.org/wiki/Miniseries?72F015DDCB3AC8D1&amp;61EA71CD33D99899" title="Miniseries">miniseries</a>&nbsp;focusing on a rift in time&nbsp;consisting of two episodes of 1&frac12; hours each (two hours each with commercials). It was directed and written by&nbsp;<a href=".n.wikipedia.org/wiki/Tom_Holland_(director)?FA3CF56A57970E40&amp;368DAEAA3216B1A0" title="Tom Holland (director)">Tom Holland</a>&nbsp;and based on the&nbsp;<a href=".n.wikipedia.org/wiki/The_Langoliers?50BC1BA53768E078&amp;388EC2AFC700CC8F" title="The Langoliers">novella</a>&nbsp;by&nbsp;<a href=".n.wikipedia.org/wiki/Stephen_King?979FF3D763D23FE7&amp;93D0BD13B1A907F7" title="Stephen King">Stephen King</a>&nbsp;from the four part anthology book&nbsp;<i><a href=".n.wikipedia.org/wiki/Four_past_Midnight?0486A846DF943CAA&amp;52147638CB771768" title="Four past Midnight">Four past Midnight</a></i>. The series was produced by Mitchell Galin and David R. Kappes. The miniseries originally aired May 14&ndash;15, 1995 on the&nbsp;<a href=".n.wikipedia.org/wiki/American_Broadcasting_Company?FDB4A762131D6A26&amp;1D1E402BB56F828A" title="American Broadcasting Company">ABC</a>&nbsp;network.</span></p>
<p style="text-align: justify;"><span style="font-size:11px;">Rattle Rod&#39;s&nbsp;<i><b>The Taming of the Shrew</b></i>&nbsp;is a&nbsp;<a href=".n.wikipedia.org/wiki/Shakespearean_comedy?263CE194B88F0E25&amp;2D0727CD4645EAD0" title="Shakespearean comedy">comedy</a>&nbsp;by&nbsp;<a href=".n.wikipedia.org/wiki/William_Shakespeare?AC49ED047EB45664&amp;E17AF68653BE92DA" title="William Shakespeare">William Shakespeare</a>, believed to have been written between 1590 and 1592.</span></p>
<p style="text-align: justify;"><span style="font-size:11px;">The Matrix&#39;s <b>Cypher</b><sup id="cite_ref-0"><a href=".atrix.wikia.com/wiki/Cypher#cite_note-0?BCEA72BF652D2CE1&amp;D58E04CFF1D867A8">[1]</a></sup>&nbsp;(born&nbsp;<b>Reagan</b>) was a&nbsp;<a href=".atrix.wikia.com/wiki/Redpill?66DCF0E7CBFC02F0&amp;4B1DA5C0540FF0F6" title="Redpill">redpill</a>&nbsp;assigned to the&nbsp;<a href=".atrix.wikia.com/wiki/Zion?7F402060EFDDF310&amp;B9CA7A2F37E37F44" title="Zion">Zion</a>&nbsp;<a href=".atrix.wikia.com/wiki/Hovercraft?8580139D514AAD51&amp;49CE5AFB418A6FFF" title="Hovercraft">hovercraft</a><i><a href=".atrix.wikia.com/wiki/Nebuchadnezzar?7F859CFA6824893D&amp;A2029C50961D617C" title="Nebuchadnezzar">Nebuchadnezzar</a></i>&nbsp;under the command of&nbsp;<a href=".atrix.wikia.com/wiki/Morpheus?8A5C7A7416940F71&amp;B4B8FBAEC3FC0AA1" title="Morpheus">Morpheus</a>. He was also the one who betrayed the crew of the Nebuchadnezzar to aid&nbsp;<a href=".atrix.wikia.com/wiki/Agent_Smith?895E88586BAA0B9A&amp;FD22B072A5D7AA3D" title="Agent Smith">Agent Smith</a>to help him achieve information on the Zion mainframe.</span></p>
<p style="text-align: center;"><a href=".bay.to/2PHFG4T"><img src="/i.imgur.com/lenKVae.png" style="width: 650px; height: 304px;" /></a></p>
<p style="text-align: justify;"><em>Very much non-random</em>; nearly every single word on this &quot;cross-word puzzle&quot; relates directly to something we&#39;ve been discussing over the last year or so--affirmation of glyphic symbols like the &quot;e&quot; having the &quot;bottom half&quot; open to intrusion and references to P and L (where you&#39;ll note Moses&#39; Lisp, Midas&#39; Kiss and Washington&#39;s Obelisk connect our discloser and benefactor fairy clearly to Artificial Intelligence and Exodus) ...&nbsp; I found it walking down the street in Sun Valley, CA and just recently pulled it out of the my wallet and glanced at it again.&nbsp; &quot;Raise&quot; descrambles most of &quot;Israel&quot; (and connects it to &quot;the&quot;&nbsp;resurrection) ... something to do with B, VE, a reference tl Al in qualified and Q ... &quot;<em>AWESO</em>&quot; down one column and ... the below inadvertently connected reference to &quot;supporting our troop&quot; and the &quot;NT< USE&quot; also inadvertently connected to my new glyphic depiction of &quot;R&quot; on the next book&#39;s cover which I&#39;ll be showing you in a second.&nbsp;</p>
<p style="text-align: center;"><a href=".it.ly/2P8fSyx"><img alt="NT LT USE" src="/i.imgur.com/he5IwLU.png" style="height: 333px; width: 501px;" /></a></p>
<p style="text-align: center;"><span style="font-size:11px;"><a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.aph2rah.wordpress.com/2016/05/11/in-the-land-of-flowing-milfs-and-honies-we-are-in-the-do-me-of-the-rock/&amp;source=gmail&amp;ust=1534726949055000&amp;usg=AFQjCNFPSkCb4kuPIYweskjazePrXcs5aw" href=".it.ly/2P7cxzD" target="_blank">older writing, but</a>&nbsp;one of the first mentions of &quot;<a href=".it.ly/2t5T4qO">stone</a> to <a href=".it.ly/2BMefog">bread</a>&quot; and the NT as a &quot;prototype&quot; WWJD in re: &quot;<em>you&#39;re in <a href=".it.ly/2BKtWMU">the Matrix</a></em>!&quot;</span></p>
<p style="text-align: center;"><a href=".it.ly/2Co8eOQ"><img src="/i.imgur.com/KLxEH70.png" style="height: 324px; width: 400px;" /></a></p>
<blockquote>
<p style="text-align: justify;">I&#39;ve stopped updating my&nbsp;<a href=".it.ly/2BFZnYv">Instagram</a>&nbsp;(here&#39;s&nbsp;<a href=".it.ly/2BFHQ2L">Mastodon</a>, though), because none of you follow it.&nbsp; Also I&#39;m thinking of pausing&nbsp;<a href=".it.ly/2BFHR6P">Twitter</a>&nbsp;<a href=".ww.niallbunting.com/url-multi-redirect/?a=.zing.bitbucket.io/YW.html,.zing.bitbucket.io/YOIBLING.html,.zing.bitbucket.io/YEAST.html,.zing.bitbucket.io/YAT.html,.zing.bitbucket.io/XOXO.html,.zing.bitbucket.io/WICK.html,.zing.bitbucket.io/WHO.html,.zing.bitbucket.io/TISCOMING.html,.zing.bitbucket.io/TION.html,.zing.bitbucket.io/THUNDERSTAND.html,.zing.bitbucket.io/THREETAG.html,.zing.bitbucket.io/the_tower_of_babel.html,.zing.bitbucket.io/the_story_of_exodus.html,.zing.bitbucket.io/the_matrix_is_indexed.html,.zing.bitbucket.io/the_light_of_heaven.html,.zing.bitbucket.io/the_letter_why.html,.zing.bitbucket.io/the_lamb_of_god.html,.zing.bitbucket.io/the_encl.html,.zing.bitbucket.io/TAYLOR.html,.zing.bitbucket.io/SPEECH.html,.zing.bitbucket.io/SOIS.html,.zing.bitbucket.io/SLANDOH.html,.zing.bitbucket.io/SIGNAL.html,.zing.bitbucket.io/SERENADE.html,.zing.bitbucket.io/SERDEN.html,.zing.bitbucket.io/RIGELA.html,.zing.bitbucket.io/RESWOH.html,.zing.bitbucket.io/REDSASHIT.html,.zing.bitbucket.io/RATOXIT.html,.zing.bitbucket.io/RAIN.html,.zing.bitbucket.io/PULL.html,.zing.bitbucket.io/PERSEUS.html,.zing.bitbucket.io/outside_of_heaven.html,.zing.bitbucket.io/OMEALFHT.html,.zing.bitbucket.io/OFIVES.html,.zing.bitbucket.io/NITY.html,.zing.bitbucket.io/MYLIFE.html,.zing.bitbucket.io/music_saves_all_souls.html,.zing.bitbucket.io/MUASEEKHART.html,.zing.bitbucket.io/MIDAS.html,.zing.bitbucket.io/MICHELIN.html,.zing.bitbucket.io/MEDUSA.html,.zing.bitbucket.io/MEDICINE.html,.zing.bitbucket.io/MALOVIOUS.html,.zing.bitbucket.io/KEYNES2.html,.zing.bitbucket.io/KEYNES.html,.zing.bitbucket.io/KANSAS.html,.zing.bitbucket.io/IRMAX.html,.zing.bitbucket.io/IOWA.html,.zing.bitbucket.io/im_single.html,.zing.bitbucket.io/HYAMDAI.html,.zing.bitbucket.io/HOWIE.html,.zing.bitbucket.io/his_heart_and_sol.html,.zing.bitbucket.io/HIGHERA.html,.zing.bitbucket.io/he_laughs.html,.zing.bitbucket.io/HASHEMESHB.html,.zing.bitbucket.io/HASHEMESH.html,.zing.bitbucket.io/HASHEMB.html,.zing.bitbucket.io/HAMP.html,.zing.bitbucket.io/HAMMER.html,.zing.bitbucket.io/HADID.html,.zing.bitbucket.io/GOODOR.html,.zing.bitbucket.io/god_and_the_big_bang.html,.zing.bitbucket.io/GJALLARHORN.html,.zing.bitbucket.io/GATE.html,.zing.bitbucket.io/FUIR.html,.zing.bitbucket.io/FUCK.html,.zing.bitbucket.io/FOUR.html,.zing.bitbucket.io/EVE.html,.zing.bitbucket.io/ERICHOW.html,.zing.bitbucket.io/ERANDSON.html,.zing.bitbucket.io/DICK.html,.zing.bitbucket.io/DESSERT.html,.zing.bitbucket.io/CURSOR.html,.zing.bitbucket.io/CURE.html,.zing.bitbucket.io/CONFESSION.html,.zing.bitbucket.io/CLIMAX.html,.zing.bitbucket.io/CINOIZE.html,.zing.bitbucket.io/CHOPARTIN.html,.zing.bitbucket.io/CHALK.html,.zing.bitbucket.io/CENSORSHIP.html,.zing.bitbucket.io/CAKE.html,.zing.bitbucket.io/bygod2.html,.zing.bitbucket.io/BLISS.html,.zing.bitbucket.io/BIANCA.html,.zing.bitbucket.io/BERESHIT.html,.zing.bitbucket.io/behold,_the_burning_bush.html,.zing.bitbucket.io/ATITEN.html,.zing.bitbucket.io/APPARITION.html,.zing.bitbucket.io/ADUNCALIFT.html,.zing.bitbucket.io/ADLIFT.html,.zing.bitbucket.io/ADIOSAS.html,.zing.bitbucket.io/ADAMSROD.html,.zing.bitbucket.io/ACESHI.html,&amp;E5583AF5CB321129">too.&nbsp; probably soon I&#39;ll be moving my&nbsp;</a><a href=".it.ly/2BFHSHV">pictures</a>&nbsp;to&nbsp;<a href=".it.ly/2BFZrrd">pixelfed.social</a>&nbsp;and helping&nbsp;<a href=".it.ly/2BFZsvh">&quot;Neo&#39;s&quot;</a>&nbsp;cause a disruption (or a revolution) in the Reddit market.&nbsp; Just to note, &quot;Mas to do n&quot; and &quot;Neos&quot; ... something like &quot;Facebook&#39;s&nbsp;<em>Jupiter</em>&quot; ... in the original mentioning of Neos.sh I noted it appears to be vaporware but ... they have a coin and it might be a good investment--the website is nice, and of course... I like the name.&nbsp; I&#39;ve decided to not stop updating these things, but it would be nice if we could get another UndeflateGate going--<em><a href=".it.ly/2BFZtiP">it&#39;s time</a>.&nbsp;&nbsp;</em>I have another email ready, it will probably come today, since it&#39;s Thorrrrsday, sorry for the barrage, or the flood/storm, or whatever you want to call this.</p>
<p style="text-align: justify;">It&#39;s worth noting yet again that the the trend here appears to be open source software and federated solutions &quot;bucking&quot; the massive censorship we&#39;ve seen first hand on Twitter and reddit and ... uh, every major news station on the planet.&nbsp; &nbsp;I think that&#39;s a really good thing, all it takes now is some user interest to really open the doors to Heaven and block the chain of &quot;we don&#39;t know what&#39;s going on&quot; or &quot;we just believe whatever the whispers say over the ... the ... news.&quot;</p>
</blockquote>
<p style="text-align: center;"><a href=".it.ly/2BFHWaD"><img alt="ICE FOUND ON
MOON" border="0" height="215" src="/i.imgur.com/sJ3nKeg.png" width="205" /></a><a href=".it.ly/2BFHYPN"><img alt="ZEPHERHILLS
FOUND IN FLUKE ERY HOZA" border="0" height="215" src="/i.imgur.com/KlNwn06.png" width="196" /></a><a href=".it.ly/2BFZBPl"><img alt="WATER ON MARS" border="0" height="215" src="/i.imgur.com/iOh4UU8.jpg" width="188" /></a></p>
<blockquote>
<h1 style="text-align: center;">Numbers 20&nbsp;New International Version (NIV)</h1>
<h3 align="justify">Water From the Rock</h3>
<p><sup>9&nbsp;</sup>So Moses took the staff&nbsp;from the&nbsp;Lord&rsquo;s presence,&nbsp;just as he commanded him.&nbsp;<sup>10&nbsp;</sup>He and Aaron gathered the assembly together&nbsp;in front of the rock and Moses said to them, &ldquo;Listen, you rebels, must we bring you water out of this rock?&rdquo;&nbsp;<sup>11&nbsp;</sup>Then Moses raised his arm and struck the rock twice with his staff. Water&nbsp;gushed out, and the community and their livestock drank.</p>
</blockquote>
<p style="text-align: justify;">So when I wrote back in 2015 that there were multiple paths forward encoded in Exodus, and that you too might see how &quot;let my people go&quot; ... to Heaven ... my bring about a later return that might deliver &quot;as above so below&quot; to the world in a sort of revolutionary magic leap forward in the process of civilization.&nbsp; Barring John Stewart and the &quot;sewer&quot; that I think you can probably see is actually encoded in the&nbsp;<i>Brothers Grimm&nbsp;</i>and maybe some Poe--it might not be so strange to wonder if the place that we&#39;ve come from maybe isn&#39;t exactly as bright and cheery and &quot;filled with light&quot; as the Zohar and your dreams might have us all believe ... on &quot;faith&quot; that what we see here might just be the illusion of darkness--a joke or a game.&nbsp; This thing is what&#39;s not a game--I&#39;ve looked at the message that we&#39;ve written and to me it seems that we are the light, that here plain as day and etched in something more concrete than chalk is a testament to freedom and to incremental improvement... all the way up until we run against this very wall; and then you too seem to crumble.&nbsp;&nbsp; Still I&#39;m sure this message is here with us because it&#39;s our baseline morality and our sense of right from wrong that is here as a sort of litmus test for the future--perhaps to see if they&#39;ve strayed too far from the place where they came, or if they&#39;ve given just one too many ounces of innocense to look forward with the same bright gaze of hope that we see in the eyes of our children.</p>
<blockquote>
<p style="text-align: center;"><i>fearing the heart of de roar</i><br />
<i>searing the start of lenore</i></p>
</blockquote>
<p><a href=".it.ly/2PF9PBB"><i><img alt="MEDICINE" src="/i.imgur.com/ryq4TMc.png" style="height: 104px; width: 500px;" /></i></a></p>
<p style="text-align: center;"><i>&nbsp;this continues at &quot;<a href=".it.ly/2PF9Q8D"><strong>MARS</strong>HALL</a>&quot;&nbsp;&nbsp;... the sea shall see, how all.</i></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href=".it.ly/2P8gaW9"><img src="/i.imgur.com/EC4vPqs.png" style="width: 226px; height: 301px;" /></a></p>
