<p><a href="./BERESHIT.html"><em><img style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/iAFrRVy.png" width="415" height="266" /></em></a><a title="ETERNITY: LATIN, THE MATRIX, ROCK N ROLL; HEYADAM SPANISH." href=".eshuare.emplifyhr.com/CONFESSION.html?482E49C28C8629FB"><img style="display: block; margin-left: auto; margin-right: auto;" src=".eshuare.ermccorp.com/i.imgur.com/A8UVAPE.png" alt="" width="457" height="385" /></a></p>
<p style="text-align: center;"><em>hey.</em></p>
<div style="text-align: center;">&nbsp;</div>
<div>there are three books available, listed here in reverse chronological order; i'm glad you are visiting, if you have any questions you can&nbsp;<a href=".yerc.slack.com/join/shared_invite/MjM2NDM2Mjc3Nzk4LTE1MDQ0MDE3NzQtMmU5NjI1N2VmOQ">get me on my Slack</a>... "<a href=".ww.youtube.com/watch?v=jFg_8u87zT0">sk nething.</a>"</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".ww.youtube.com/watch?v=jFg_8u87zT0"><img src="/i.imgur.com/LkHC8sG.png" width="364" height="230" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">i'm bored, and uh,&nbsp;<a href=".eshuare.emplifyhr.com/CONFESSION.html">ish</a>-<a href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html">bo-sheth</a>.&nbsp; thanks&nbsp;<em>for&nbsp;<a href="./almost.lamc.la">coming</a>.</em></div>
<div style="text-align: center;"><em>&nbsp;</em></div>
<div style="text-align: center;">
<ol>
<li><em><strong><a href="./INTRODUCTION.html">SHEOLYIT</a></strong></em></li>
<li><em><strong><a href="./HYAMDAI.html">ASMODAI</a></strong></em></li>
<li><em><strong><a href="./NAVIGATION.html">BLOBACK</a></strong></em></li>
</ol>
</div>
<div style="text-align: center;"><em>-<a href=".adragonbreath.blogspot.com/2017/09/applegates-and-covenants.html">a</a></em></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./sheolyit.pdf"><em><img src="/i.imgur.com/0jRGZ9z.png" alt="SHEOLYIT" width="500" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./HYAMDAI.html"><em><img src="/i.imgur.com/uOhb3wt.png" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="..arkho.us/OMEALFHT.html"><em><img src="/i.imgur.com/HFA53lh.png" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./antagonizingpainxe.pdf"><em><img src="/i.imgur.com/ruQSUHK.png" alt="Antagonizing Pain" width="500" /></em></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><em><a href="./asmodai.pdf"><img src="/i.imgur.com/6XThBjj.png" alt="ASOMDAI" width="500" /></a></em></div>
<div style="text-align: center;">&nbsp;</div>
<div><a href="./MEDUSA.html"><em><img style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/qFJVLqu.png" /></em></a></div>
