<div>&nbsp;</div>
<div style="text-align: center;"><a href=".ww.unduecoercion.com/2017/08/cyan-ymene-mor-see-why-an.html"><img src="/i.imgur.com/wImxopk.png" width="500" height="288" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".to.shiningbright.online/"><img src="/i.imgur.com/GgSVyqt.png" width="500" height="303" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><em><a href=".to.shiningbright.online/">KNOCK, K:NO CK</a></em> ... &quot;<a href=".mega.september2016.com/ERICHOW.html">HOW</a> &amp;&nbsp;<a href="./the_letter_why.html"><strong>WHY</strong></a> <a href=".ww.unduecoercion.com/2017/06/sound-horn-of-revelation-keys-of.html">SOUND</a> <a href=".ww.unduecoercion.com/2017/09/wh-should-we-do.html">DOES</a> <a href="./IRMAX.html">A</a> <a href=".tb.september2016.com/cehYe/">ROOSTER</a> <strong><em>MAKE</em></strong>?&quot;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a title="THUNDERSTAND." href=".yerc.slack.com/join/shared_invite/MjM2NDM2Mjc3Nzk4LTE1MDQ0MDE3NzQtMmU5NjI1N2VmOQ"><img id="BLOGGER_PHOTO_ID_6494125139103575234" src="/i.imgur.com/Ji1mJzY.png" width="500" height="217" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a title="IN THE BIZINNING" href=".tb.september2016.com/"><img id="BLOGGER_PHOTO_ID_6494125158830269058" src="/i.imgur.com/rLKpTrI.png" width="253" height="223" border="0" alt="" /></a>&nbsp;<a title="yeah, yeah." href=".ye.september2016.com/"><img id="BLOGGER_PHOTO_ID_6494125171016276034" src="/i.imgur.com/M62R8YV.png" width="241" height="223" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;<a title="THE WHO" href=".mega.september2016.com/WHO.html"><img id="BLOGGER_PHOTO_ID_6494125182998083650" src="/i.imgur.com/aCiy0En.png" width="162" height="158" border="0" alt="" /></a>&nbsp;<a title="da cure" href=".ure.shiningbright.online/"><img id="BLOGGER_PHOTO_ID_6494125202834096482" src="/i.imgur.com/vw7NJcC.png" width="160" height="158" border="0" alt="" /></a>&nbsp;<a title="THE DOORS" href=".eshuare.emplifyhr.com/ADAMSROD.html"><img id="BLOGGER_PHOTO_ID_6494125227163475378" src="/i.imgur.com/9pD2Ntb.png" width="155" height="158" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a title="ISOME.GA" href="./"><img id="BLOGGER_PHOTO_ID_6494125129607394354" src="/i.imgur.com/aTm5Xz1.png" width="500" height="259" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><b style="font-size: small; color: rgb(34, 34, 34); font-family: arial, sans-serif;"><font face="arial black, sans-serif"><font size="4">O</font>RIGINAL&nbsp;<font size="4">P</font>OSTER&nbsp;<a href=".adragonbreath.blogspot.com/2017/09/duck-duck-golden-egg.html" style="color: rgb(17, 85, 204);">TO&nbsp;</a><a href=".adragonbreath.blogspot.com/2017/09/duck-duck-golden-egg.html" style="color: rgb(17, 85, 204);"><font size="6">W</font></a><font size="4">E</font></font></b>&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a title="TELESPRISE" href=".yerc.slack.com/join/shared_invite/MjM2NDM2Mjc3Nzk4LTE1MDQ0MDE3NzQtMmU5NjI1N2VmOQ"><img id="BLOGGER_PHOTO_ID_6494125253829947314" src="/i.imgur.com/FonUDPN.png" width="500" height="207" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a title="JESUS WROTE A RAIN CHECK" href=".ww.youtube.com/watch?v=8gVmWsOXOJA"><img id="BLOGGER_PHOTO_ID_6494125239263741362" src="/i.imgur.com/NDMBN3J.png" width="500" height="145" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a title="let there be light." href=".ww.youtube.com/watch?v=AevgjKPDgfM&amp;feature=youtu.be"><img src="/i.imgur.com/ELdHSpA.png" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href="./MEDUSA.html"><img src="/i.imgur.com/eg80njR.png" width="248" alt="" /></a>&nbsp;<a title="LOCH LIVES R" href=".ww.unduecoercion.com/2017/08/loch-lives-here-so-does-b-of-bon-jovi.html"><img src="/i.imgur.com/YglcJZb.png" width="220" height="258" alt="" /></a>&nbsp;</div>
<div style="text-align: center;"><a href="./MEDUSA.html"><img src="/i.imgur.com/D3c55gk.png" alt="" /></a>&nbsp;</div>
<div style="text-align: center;"><em><span style='font-family: "arial black", sans-serif;'>UNDERSTAND</span></em><span style='font-family: "arial black", sans-serif;'> OUR LIGHT</span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".mega.september2016.com/WHO.html"><img src="/i.imgur.com/gQZdIni.png" width="114" height="180" alt="" /></a>&nbsp;<a href=".eshuare.emplifyhr.com/CONFESSION.html"><img src="/i.imgur.com/fBBKx1u.png" width="139" height="180" alt="" /></a>&nbsp;<a href=".mega.september2016.com/TION.html"><img src="/i.imgur.com/3vQTeAj.png" width="156" height="180" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">
<div><a title="I CAN SEE CLEARLY NOW, THE OLD MAN IS WRONG" href=".id.me/h5EO"><img id="BLOGGER_PHOTO_ID_6494125265190162498" src="/i.imgur.com/nFU42dU.png" width="500" border="0" alt="" /></a></div>
<div><a title="ha... rem.  in your dreams, carly :)" href="./2017/06/hammer.html"><img id="BLOGGER_PHOTO_ID_6494125282140769778" src="/i.imgur.com/26jN3mb.png" width="500" border="0" alt="" /></a></div>
<div><a title="YOU ARE GODS HEART" href=".id.me/LCBw"><img id="BLOGGER_PHOTO_ID_6494125293561072466" src="/i.imgur.com/WAFCVE6.png" width="500" border="0" alt="" /></a></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<p><a title="MAILING LIST SIGN UP" href="./lists/" style="text-align: start;"><img src="/i.imgur.com/7VBL3UO.png" width="255" height="185" style="display: block; margin-left: auto; margin-right: auto;" alt="" /></a></p>
</div>
<div style="text-align: center;"><a title="STALK TO WALK" href=".mega.september2016.com/CHALK.html"><img id="BLOGGER_PHOTO_ID_6494125307107444498" src="/i.imgur.com/SEVGM4P.png" alt="" width="312" height="201" border="0" /></a></div>
<div><a title="WRITE THEREFORE WHAT YOU HAVE SEEN" href=".ww.youtube.com/watch?v=AevgjKPDgfM"><img id="BLOGGER_PHOTO_ID_6494125318344355730" style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/bbvY5B7.png" alt="" border="0" /></a></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<p><img src="/i.imgur.com/5GhXVKO.png" alt="" /></p>
<p>&nbsp;</p>
