<meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
<link href=".tackedit.io/style.css" rel="stylesheet" />
<div class="stackedit__html">
<p style="text-align: center;"><a href=".it.ly/2NZ54Dr"><img alt="" src="/i.imgur.com/qz3Z8MM.png" style="height: 365px; width: 500px;" /></a></p>
<blockquote>
<p>E: WHO ARE YOU?<br />
TOT: EXPAI WHERE IS MA LT3<br />
ME: WHAT? TEMPUS? TEMPEST?</p>
</blockquote>
<p style="text-align: justify;">And so Adam &ldquo;<em>son of so<a href=".it.ly/2XUZLt6">me bel</a>ief and <a href=".it.ly/2XPvtbf">a drive</a></em>&rdquo; closed forever and ever the idiotic<a href=".it.ly/2XPvtYN">c book of Genove</a>seno<a href=".it.ly/2iOaOCx">bangali and hop</a>es that forever more we will recall that the true name of the first book of the <em>Toramdo</em> should have been affectionately called <em>Ganisassus</em>. I am forever disturbed that you think fucking with <a href=".it.ly/2XNmyHv">the sword of Samael</a>&rsquo;s &ldquo;food&rdquo; (or call me his Thurisaz if it makes you more fearful of your own stupidity) is some kind of intelligent message or humorous joke&ndash;I hope that winning the lottery will wipe the sick smirk off your faces, ho<a href=".it.ly/2XR5zUu">news</a>tly&ndash;I do.</p>
<p style="text-align: center;"><img alt="" src="/i.imgur.com/0IJxbA6.png" style="height: 529px; width: 500px;" /></p>
<p style="text-align: justify;">GCIE E, this is not a NES, Asmodali is a gigantic NASTY dick, and you seem to think the word &ldquo;morality&rdquo; will somehow &hellip; absolve you of having to actually have any of it. Rick and Morty now lit, here <em>I seek &ldquo;a&rdquo;</em> <strong>and Mor</strong>, thank you&ndash;<strong>loves</strong>, for understanding.</p>
<p style="text-align: center;"><img alt="" src="/i.imgur.com/u7iqsyz.png" style="height: 330px; width: 500px;" /></p>
<p style="text-align: center;">&quot;but, seriously--<em><strong>get o<a href=".it.ly/2Y1Mxeq">ut</a></strong><a href=".it.ly/2Y1Mxeq"> of my head</a>.</em>&quot;</p>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="de">SOMEHWERE BETWEEN &quot;EUPHRATES&quot; AND .... (FASTER EUAMIL) MAUEILEREADTHA MARKUP</p>
&mdash; Adam Marshall Dobrin (@yitsheyzeus) <a href=".it.ly/2XPzaxT">March 6, 2019</a></blockquote>
<p>&ldquo;on a scale from 7 to 11, tho&rdquo;</p>
<p style="text-align: justify;"><em>THUNDER FLASHES</em> THE CROWD; OCCULUS RIFT LIGHTS THE STORY&rsquo;S NEW PATH&hellip; I&rsquo;m literally staring at what looks almost unabashedly and unequivocally like the QUICKENING of the ancient a tried story of the HIGHLANDER.</p>
<p style="text-align: center;"><br />
<a href=".it.ly/2XUZLJC"><img alt="" src="/i.imgur.com/k9iUxxJ.png" style="height: 263px; width: 500px;" /></a></p>
<h4 id="man-ish-et-tana-halayla--hazazeler-is-fog-of-war" style="text-align: center;"><strong>MAN ISH ET TANA HALAYLA&ndash;HAZAZELER IS FOG OF WAR&quot;</strong></h4>
<p style="text-align: justify;">And to those who continue to say that this place and this time is &ldquo;East of Eden&rdquo; and yet still see that we stand in the midst of &ldquo;the Dark Earth&rdquo; and think that is &ldquo;no problem at all&rdquo; see that here &ldquo;Lazman Hazel&rdquo; hides not &ldquo;Haz&rdquo; and that the missing &ldquo;en&rdquo; is the end of Heaven. This place renamed by and through &ldquo;sameach&rdquo; to Eeach and I smash the Valley of the Shadows and &ldquo;No Society, at All&rdquo; to smithereens. I truly pray that you all will see the light of the words &ldquo;whom Eden saw play&rdquo; and see it is directly tied to the book of Enoch, and the recreation of Metatron (and a true Heaven not tormented by invisible worms and &ldquo;OUTISM&rdquo;).</p>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en" style="text-align: justify;">P ES ACH <a href=".it.ly/2XUANtV">@GOP</a> ... <a href=".it.ly/2XPxDHY">#TIVU</a> IS <a href=".it.ly/2XPvAnb">$MONEY</a><a href=".it.ly/2XPzaOp">..co/3sx4IBLnP3</a></p>
&mdash; Adam Marshall Dobrin (@yitsheyzeus) <a href=".it.ly/2XTxwv5">March 10, 2019</a></blockquote>
<p style="text-align: center;"><br />
<a href=".it.ly/2XPvGex"><img alt="" src="/i.imgur.com/nwShfyK.png" /></a></p>
<blockquote>
<p><strong>Q</strong>uestion: Why did God take Enoch and Elijah to heaven without them dying?&quot;</p>
<p style="text-align: justify;"><strong>A</strong>nswer:&nbsp;&nbsp;According to the Bible, <a href=".it.ly/2XRNGFg">Enoch</a> and Elijah are the only two people God took to heaven without them dying. <a href=".it.ly/2XPvJqJ">Genesis 5:24</a> tells us, &ldquo;Enoch walked with God; then he was no more, because God took him away.&rdquo; <a href=".it.ly/2XQqjfa">Second Kings 2:11</a> tells us, &ldquo;Suddenly a chariot of fire and horses of fire appeared and separated the two of them, and Elijah went up to heaven in a whirlwind.&rdquo; Enoch is described as a man who &ldquo;walked with God for 300 years&rdquo; (<a href=".it.ly/2XVRo0L">Genesis 5:23</a>). Elijah was perhaps the most powerful of God&rsquo;s prophets in the Old Testament. There are also prophecies of Elijah&rsquo;s return (<a href=".it.ly/2XPvN9X">Malachi 4:5-6</a>).</p>
</blockquote>
<p style="text-align: justify;">Through miles of clouded Hell, Dan Reynolds sings, and your silence and this SOS on &ldquo;end CK today&rdquo; gives true understanding of his last name. This &ldquo;dark Earth&rdquo; cannot continue to torment &hellip; to Eeach, see the parting of waters between &ldquo;ash&rdquo; and &ldquo;jah.&rdquo; Elyon defines the line, it&rsquo;s &ldquo;no&rdquo; (you can&rsquo;t come) and <em>you are standing</em> on &ldquo;why&rdquo; &hellip; see John 7:17 and the two fish saving thousands more, it is &ldquo;Elisha&rdquo; and &ldquo;Elijah&rdquo; that are the divider.</p>
<p style="text-align: center;"><a href=".it.ly/2XPvNGZ"><img alt="" src="/i.imgur.com/E5uxTVr.png" /></a></p>
<p style="text-align: justify;">I suppose it helps to know &ldquo;sameach&rdquo; could read in the &ldquo;bi-message&rdquo; as either &ldquo;same payment&rdquo; (which you might imagine is intrinsically related to the spirit of Passover) or &ldquo;Sam to pay&rdquo; and at this place where I see &ldquo;secret Samadhi&rdquo; see my &ldquo;hi&rdquo; is literally Lothupiter winning the lottery; &ldquo;<strong>redde mahi</strong>.&rdquo;</p>
<p style="text-align: center;"><a href=".it.ly/2XSboBi"><img alt="" src="/i.imgur.com/LNF0CsE.png" style="height: 402px; width: 449px;" /></a><br />
<a href=".it.ly/2h2vLFf"><img alt="" src="/i.imgur.com/H2eIm8I.png" style="height: 392px; width: 449px;" /></a></p>
<h2 id="i-am-hi-l-i-am-high-r.">I AM HI L, I AM HIGH R.</h2>
<p style="text-align: justify;">I could literally feel Erica light up, having heard (and now I see, seen) those words before as well. It&rsquo;s a strange phenomenon, foreign, doesn&rsquo;t happen to me very often&hellip; actually feeling what someone else is &ldquo;emoting.&rdquo; Irregardless, Little Carmine chimes in&hellip; I&rsquo;m watching lightning strike down and imbibe this place and this time with the knowledge of a thousand generations &hellip; technology far beyond our means and understanding, but worse than that it&rsquo;s technology that changes people, both directly and indirectly, and we aren&rsquo;t and haven&rsquo;t been prepared to succeed in &ldquo;remaining&rdquo; ourselves through it all.</p>
<p style="text-align: center;"><a href=".it.ly/2XUAOht"><img alt="!/i.imgur.com/5fadcym.jpg" src="/i.imgur.com/6SPDq87.png" style="height: 365px; width: 650px;" /></a></p>
<p style="text-align: justify;">In my usual style of intersexle, I almost have to stop and link together this same quickening and lightning striking with with the ancient drink Five Alive and Johnny 5 and the story of Short Circuit; another failed joke that will never leave our people. I see it though, what looks like the pieces being made to fit a story about launching Echidna blindly into space and hoping beyond hope that whatever the &ldquo;software&rdquo; that has sustained us in this military style march towards &ldquo;all one mind&rdquo; for this long will continue to give us a playground&ndash;or to make us sure we&rsquo;re in the playground. I imagine that&rsquo;s what it is, a playground, but it could just be a feeling, &ldquo;the perfect drug&rdquo; and the ultimate draw.</p>
<p style="text-align: center;"><a href=".it.ly/2XX5E98"><img alt="" src="/i.imgur.com/JdI5Ene.png" style="height: 500px; width: 500px;" /></a></p>
<h3 id="phytover-this-is-the-plank-to-me.">PHYTOVER THIS IS THE PLANK TO ME.</h3>
<p><a href=".it.ly/2XPvRXf">.ww.sci-techuniverse.com/2019/03/scientists-have-converted-carbon.htm</a></p>
<p style="text-align: justify;">What&rsquo;s scarier or more morbid is the thing I see putting together pieces of a spaceship puzzle here in my eyes grasp is really trading &ldquo;Cards Against Earthen Ends&rdquo; that are laced with nuclear secrets and the kinds of lies that cause stars to implode &hellip; trading them with each other in plain view, and who knows what sneaky Dr. Claw variant of Maxi-me is hiding in the shadows putting together the perfect &ldquo;Princess Bride Machine&rdquo; rather than doing their best to see here in this moment how at<a href=".it.ly/2XPvSuh">tempting to launch Echid</a>a &hellip; to build a haunted house inside a worse and much more haunted one &hellip; that&rsquo;s already failing <em>the test of time</em>.</p>
<p style="text-align: center;"><a href=".it.ly/2gTO4SF"><img alt="" src="/i.imgur.com/8LPgeaY.png" style="height: 375px; width: 500px;" /></a></p>
<p style="text-align: justify;">We&rsquo;ve seen fairly clearly that &ldquo;the thing&rdquo; I refer to as the OEM of Heaven, the &ldquo;original equipment manufacturer&rdquo; is explaining how it&rsquo;s hardware (and the word hardware) come from this message, how it&rsquo;s laced in ever<a href=".it.ly/2XPwdNz">ything from the word DEOXYRIBONUCLER</a>IC ACID to the ALPHABET vehicle known as 23ANDME. I think it&rsquo;s clear it&rsquo;s connec<a href=".it.ly/2XPvXOB">ted to molecular sto</a>rage and to <a href=".it.ly/2XPvYlD">astrobiology and to this movem</a>ent literally to turn an<a href=".it.ly/2XPvYSF"> M into a VK and see it&rsquo;s the destruct</a>ion of Hell and the overcoming of what &hellip; alphabetically co<em>u</em>ld be t<a href=".it.ly/2XPvZpH">he &ldquo;o&rdquo; and the end of the word &ldquo;infer&rdquo; for n</a>o &hellip; freedom. That&rsquo;s scary, right?</p>
<hr />
<p style="text-align: justify;">The First and &ldquo;Last Possaved&rdquo; races towards us in this place where I just found out for sure that the Egyptian dessert and the true name of this new point in time coincide around &ldquo;thousands of nights&rdquo; to help &hellip; owe you sand and <em>Mizraim</em>. Ours, and mine. Scarier yet is what&rsquo;s being delivered to the Israelites that we are, carrying around the old Ark of the Covenant in this journey towards a mirage or an Oasis or &hellip;</p>
<p style="text-align: center;"><a href=".it.ly/2XPvZWJ"><img alt="" src="/i.imgur.com/df9a2Pp.png" style="height: 431px; width: 449px;" /></a></p>
<p style="text-align: justify;">The technology behind &#39;printing anything&quot; is easily equated to the replicators of both Stargate and Star Trek joining together with this simple carbon-nanotube layer that might one day print Agent Orange in the heart of your &ldquo;Heaven&rsquo;s air conditioning system&rdquo; &hellip; and you don&rsquo;t care that innocent kids are being shot, and that&rsquo;s the point&ndash;we don&rsquo;t care about ourselves here or the children here or the future at all, and still you want to race to the end of &ldquo;e&rdquo; and find out why it is that once again you&rsquo;ve gotten the best of &ldquo;me.&rdquo; By that I mean &ldquo;you&rdquo; &ndash; I mean you&rsquo;ve lost yourselves and your free will and your self-determination to not &ldquo;lose everything that you are&rdquo; and you do it just so that you can pass by some barrier designed to ensure that very thing doesn&rsquo;t that, that you don&rsquo;t lose the &ldquo;AL&rdquo; in <em>controversial</em>, the love of life and perpetuating social interaction that had gotten us so very far before something smashed down from the skies and said there was a better way, a faster solution.</p>
<p style="text-align: center;"><a href=".it.ly/2XPwgsJ"><img alt="" src="/i.imgur.com/GeMEmx5.png" /></a></p>
<p style="text-align: justify;">Though you can&rsquo;t stop innocent children from being shot nor an entire world from failing to &ldquo;speak up&rdquo; and comment about this very distasteful and very ostentatious &ldquo;apocalypse&rdquo; of &hellip; <em>you have no right</em> to remain silent without being put in a jail the next moment &hellip;</p>
<p style="text-align: justify;"><em>My job here</em> is to guard the sanity and the sanctity of the Universe, and you&rsquo;re failing simple checks, the tip of the ice berg&ndash;the kind of thing that says you stand at the gateway to oblivion and just refuse to blow in the breathalyzer&ndash;you don&rsquo;t think there&rsquo;s any reason for &ldquo;checking&rdquo; on you, and you won&rsquo;t stand for it. I don&rsquo;t send you to jail, you walk yourselves into the abyss.</p>
<p style="text-align: center;"><a href=".it.ly/2XPw2Sp"><img alt="" src="/i.imgur.com/Hd1ouzU.png" /></a></p>
<hr />
<p style="text-align: justify;">So the fish of the Age of Pisces, these fish that still think that they too haven&rsquo;t become <a href=".it.ly/2iasIjl">the Stillwater of Aquarius and Almost <em>Famous</em></a> #LOLOUS, they trade secrets of nuclear winter and do so in a place that has refused time and time again to do the most basic of humane acts&ndash;and worse you all do it in plain sight, as if this world and these people walking around on the ground are nothing to you. I have news from the Eastern front, they are your captors. Yes, we know what you are, we know what you think you are&ndash;and when you see yourselves stare back at you and demand repentance and reparations for years of suffering and silence &hellip;</p>
<h2 id="well-will-you-be-surprised" style="text-align: center;">&hellip; well, will you be surprised?<br />
<br />
<a href=".it.ly/2XPw3Wt"><img alt="" src="/i.imgur.com/wJMgvha.png" style="height: 291px; width: 651px;" /></a></h2>
<p style="text-align: justify;">It&rsquo;s something like &ldquo;I say to may&hellip; to&rdquo; and you say &ldquo;to ma &hellip; for it&rsquo;s arrrr&rdquo; and yet that still doesn&rsquo;t convey the lack of thanks for all my work and even the least bit of recognition that you are safe here in this place that is surrounded by a monstrosity that is ostensibly caused by nothing more than the masses lack of desire to stand up and actually do anything helpful in this most trying time that is etched not just in &ldquo;assimilated&rdquo; through my explanation of &hellip; &ldquo;you are the Assim&rdquo; and attribution and tribulation, see, you are lay; stupid to be dumb.</p>
<p style="text-align: justify;">So I think we&rsquo;re getting a pretty clear description of the &ldquo;struff&rdquo; that Heaven is mead of&ndash;from the software level to the hardware level, and improtantly linking those words to the &ldquo;thirng&rdquo; that is going on right now&hellip; to this battle between me and words and the world and finding it&rsquo;s voice again. I think it&rsquo;s clear that we&rsquo;re staring at a &ldquo;love and logic&rdquo; thingy, on par with the ending of slavery (and quite related), though it might not even be clear to you what that is, so I&rsquo;ll cotton-gin this conversation and jump straight to the point.</p>
<p style="text-align: justify;">I will never allow Earth to be printed in reality.</p>
<p style="text-align: justify;">Period.</p>
<p style="text-align: justify;">&hellip; Tomorrow you&rsquo;ll turn around and read about Ceranomas again, and while we stare at this strange holiday of Lent and wonder why it is that it precedes the one and only Northeasternly&hellip; and why sche-b-chol and ha&rsquo;layla all happen to all coalesce around this one &ldquo;blackbird singing in the middle of the night&rdquo; &hellip; and &hellip;</p>
<p style="text-align: justify;">why and, again?</p>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">I sea Tennessee. <a href=".it.ly/2XRNSV0">#CHIRHO</a> <a href=".it.ly/2XRZCqE">..co/Uo3Hf1OoWd</a> <a href=".it.ly/2XTV7eY">..co/Fu2RT3lIPn</a> <a href=".it.ly/2XQrmM8">..co/9zAgknMgkQ</a><br />
<br />
... <a href=".it.ly/2XRZE1K">..co/5hSrn6rknI</a> TOASTIM, take a closer look.<a href=".it.ly/2XNmLdL">..co/YBz7JRXNzZ</a></p>
&mdash; Adam Marshall Dobrin (@yitsheyzeus) <a href=".it.ly/2XV0bja">March 8, 2019</a></blockquote>
<p style="text-align: justify;">This singular place, once called the heart of the Crusades and the turning point of Zion, this place has become a horrendous wall, defining itself as Babylon with a smirk on &ldquo;it&rsquo;s&rdquo; face. What once was hallowed and hailed as a turning point away from darkness has become it, hiding a deep dark hell of moronic foolishness from people who believe that shielding their eyes from seeing it absolves them from literally becoming the shietd. You cannot shield yourselves from what is approacchin.</p>
<p style="text-align: justify;"><a href=".ol.it/2XVRzJt">.ww.aol.com/article/finance/2019/03/08/elizabeth-warren-its-time-to-break-up-amazon-google-and-facebook/23687880/</a></p>
<p style="text-align: justify;">I&rsquo;ve commentend numours times that the monopolies in the media industry are literally the kind of problem that our antitrust laws were made to fix&ndash;to keep conglomerations from destroying freedom in the marketplace, and it&rsquo;s very clear from &ldquo;Fake News&rdquo; and our absolute lack of coherent intelligent public communication that this is literally the most dire problem that America and humanity has ever seen.</p>
<p style="text-align: center;"><a href=".ol.it/2XV0dri"><img alt="" src="/i.imgur.com/iuBVJTL.png" style="height: 181px; width: 500px;" /></a></p>
<p style="text-align: justify;">Remembering Melbourne; that being said these tech companies (at least Google, very clearly) have spread across markets and lines of business almost invisibly consuming buried fiber and transparently creating &ldquo;meta-telco&rsquo;s&rdquo; in the kind of &ldquo;vertical play&rdquo; that could be seen as a sort of competition destroyer through efficiency&ndash;looking towards the future and seeing how a business like this might become significantly more powerful with advances in the realms of virtual reality &hellip; it almost looks like a &ldquo;war siren&rdquo; coming form Elizabeth Warren perhaps warning us about monopolization of &ldquo;many worlds&rdquo; in a future that is not so far away, and could be buried just below the one inch separating &ldquo;our dear Cybertron&rdquo; from Krypton.</p>
<p style="text-align: justify;">Still, it reminds me of the thing you call Karma and I&rsquo;ve always called &ldquo;non-temporal transference&rdquo; &hellip; blaming or punishing a child or fledgling for a possible future mistake&ndash;something that could result in backlash or an even worse outcome. Strongly, as strong as Brigham Young&rsquo;s Adam is God doctrine suggests, I think we are far more wise to &ldquo;stand beside her and guide her&rdquo; with the light from the future, rather than trying to damn &ldquo;many hidden realms&rdquo; without even realizing that&rsquo;s what is at stake.</p>
<p style="text-align: center;"><a href=".it.ly/2XTz2gP"><img alt="" src="/i.imgur.com/nJF8aD0.png" /></a></p>
<p style="text-align: justify;"><strong><a href=".it.ly/2XTwS0A" title="Xbox (console)">Xbox</a> <a href=".it.ly/2XTV6HW" title="Modchips">modchips</a></strong> are <a href=".it.ly/2XV0gDu" title="Printed circuit board">electronic devices</a> that modify or disable the built-in <a href=".it.ly/2XR5P5U" title="Hardware restrictions">restrictions</a> of the Xbox. The Xbox has gone through several generations of modchips each using different methods to disable built-in restrictions. A majority of the modchips developed connect to the LPC bus pads that are located on all of the different revisions of the Xbox Motherboard. These Xbox modchips are capable of circumventing region coding and copy protection. This allows users to play games created in different regions and load burned discs. This has opened up the opportunity for the use of third-party <a href=".it.ly/2XSknlR" title="Homebrew (video games)">homebrew</a> software and legal backup discs.</p>
<p style="text-align: center;"><a href=".it.ly/2XUOxoO"><img alt="" src="/i.imgur.com/c6G2a3w.png" /></a></p>
<ul>
<li><a href=".it.ly/2XVRzZZ">1First Generation Modchips</a></li>
<li><a href=".it.ly/2XV0lag">2Second Generation Modchips</a></li>
<li><a href=".it.ly/2XUB3sT">3Third Generation Modchips (Non-Flashable LPC Modchips)</a></li>
<li><a href=".it.ly/2XRzV9v">4Third Generation Modchips (Modchips based on cheapmod)</a></li>
<li><a href=".it.ly/2XPwuQB">5Fourth Generation Modchips</a></li>
<li><a href=".it.ly/2XVRAgv">6See also</a></li>
<li><a href=".it.ly/2XSy44l">7References</a></li>
<li><a href=".it.ly/2XV0oTu">8External links</a></li>
</ul>
<p style="text-align: center;"><img alt="" src="/i.imgur.com/fH16CdE.png" /></p>
<p>NEW PK&rsquo;S LIT RECENTLY, MCP (OR CP), RECT, (M/R/L)ENT, BI M, TRI M, VACCINES, A.(O)UTISM, VK, CONTAMINATION, X(DE)COMPOTASSIL, ICARPENDRAGO, TRI B EK &copy; ARB, (BU) LB, (RE)HAB, &copy;AMB(RIAN) ARCADE INOSAUR, ANTARES, OB1A</p>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">Q one, teo, tre... quod?!;r</p>
&mdash; Adam Marshall Dobrin (@yitsheyzeus) <a href=".it.ly/2XPzDjD">March 10, 2019</a></blockquote>
<blockquote class="twitter-tweet" style="text-align: center;"><a href=".it.ly/2xnoWuv"><img alt="" src="/i.imgur.com/GcKfOBl.png" /></a></blockquote>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">Let this be one of the special Q&#39;s:<br />
<br />
&quot;Hey Tay-Euler_&quot;<a href=".it.ly/2XV0pXy">@taylormomsen</a> <a href=".it.ly/2XV0ryE">@bgreene</a> fill in *a lette r?</p>
&mdash; Adam Marshall Dobrin (@yitsheyzeus) <a href=".it.ly/2XV0s5G">March 10, 2019</a></blockquote>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">IDEA: Metaapps for managing &quot;application classes&quot; for instance I&#39;d like to share my settings between <a href=".it.ly/2XR5PTs">@Truecaller</a> and <a href=".it.ly/2XV0udO">@Whitepages</a>-vers ... so I can have a unified block list and try the different UI&#39;s<a href=".it.ly/2XV0vOU">@AppStore</a> <a href=".it.ly/2XV0wlW">@GooglePlay</a> <a href=".it.ly/2XV0xq0">@ubuntucloud</a> <a href=".it.ly/2XM6NAq">@Steam_Support</a></p>
&mdash; Adam Marshall Dobrin (@yitsheyzeus) <a href=".it.ly/2XV0A5a">March 7, 2019</a></blockquote>
<blockquote class="twitter-tweet">
<blockquote class="twitter-tweet" data-lang="en">
<p dir="ltr" lang="en">Even billionaires are acknowledging it, folks.<br />
<br />
When 40% of Americans can&rsquo;t afford basic needs, or a $400 emergency, the problem isn&rsquo;t unique. It&rsquo;s systemic.<br />
<br />
That&rsquo;s not good for anyone. Even billionaires know they can&rsquo;t shield themselves from this kind of perilous instability. <a href=".it.ly/2XV0B9e">..co/juOoCI7XqL</a></p>
&mdash; Alexandria Ocasio-Cortez (@AOC) <a href=".it.ly/2XV0D0Q">March 11, 2019</a></blockquote>
<script async="async" src=".latform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" data-lang="en">
<p dir="ltr" lang="en">I&rsquo;m a believer in privacy - which means I reject unlimited, unchecked, warrantless surveillance.<br />
<br />
Tracking consent should be given freely (aka not holding a service hostage for it) - whether it&rsquo;s a gov or a corp.<br />
<br />
Warrants, &amp; their requirements, are supposed to mean something. <a href=".it.ly/2XV0Elq">..co/RY2jtLYLCp</a></p>
&mdash; Alexandria Ocasio-Cortez (@AOC) <a href=".it.ly/2XV0Gty">March 11, 2019</a></blockquote>
<script async="async" src=".latform.twitter.com/widgets.js" charset="utf-8"></script></blockquote>
<p style="text-align: center;"><a href=".it.ly/2gU3F4q"><img alt="" src="/i.imgur.com/6YJBLgP.png" style="width: 400px; height: 400px;" /></a></p>
<p style="text-align: justify;">The <strong>Castellammarese War</strong> was a bloody power struggle for control of the Italian-<a href=".it.ly/2XSkopV" title="American Mafia">American Mafia</a>, from February, 1930 to April 15, 1931, between partisans of <a href=".it.ly/2XV0IBG" title="Joe Masseria">Joe &ldquo;The Boss&rdquo; Masseria</a> and those of <a href=".it.ly/2XV0KcM" title="Salvatore Maranzano">Salvatore Maranzano</a>. It was so called because Maranzano was based in <a href=".it.ly/2XVRBkz" title="Castellammare del Golfo">Castellammare del Golfo</a>, <a href=".it.ly/2pJgzTO" title="Sicily">Sicily</a>.<a href=".it.ly/2XUOyZU">[1]</a>Maranzano&rsquo;s faction won, and he declared himself <em><a href=".it.ly/2XTz3Bp" title="Capo di tutti capi">capo di tutti capi</a></em> (&ldquo;boss of all bosses&rdquo;), the undisputed leader of the entire Mafia. However, he was soon murdered in turn by a faction of young upstarts led by <a href=".it.ly/2XV0MBq" title="Lucky Luciano">Lucky Luciano</a>, who established a power-sharing arrangement called &ldquo;<a href=".it.ly/2XSy5oV" title="The Commission (mafia)">The Commission</a>,&rdquo; a group of five Mafia families of equal stature, to avoid such wars in the future.</p>
<p style="text-align: center;"><a href=".it.ly/2XSy6ct"><img alt="" src="/i.imgur.com/seE1TXC.png" /></a></p>
<p style="text-align: justify;">Mafia operations in the United States in the 1920s were controlled by <a href=".it.ly/2XV0IBG" title="Joe Masseria">Giuseppe &ldquo;Joe The Boss&rdquo; Masseria</a>, whose faction consisted mainly of gangsters from <a href=".it.ly/2pJgzTO" title="Sicily">Sicily</a> and the <a href=".it.ly/2XSy7gx" title="Calabria">Calabria</a> and <a href=".it.ly/2XSy7x3" title="Campania">Campania</a> regions of <a href=".it.ly/2XQrnja" title="Southern Italy">Southern Italy</a>. Masseria&rsquo;s faction included <a href=".it.ly/2XSy7Nz" title="Charlie Luciano">Charles &ldquo;Lucky&rdquo; Luciano</a>, <a href=".it.ly/2XPwwbb" title="Albert Anastasia">Albert &ldquo;Mad Hatter&rdquo; Anastasia</a>, <a href=".it.ly/2XSy8B7" title="Vito Genovese">Vito Genovese</a>, <a href=".it.ly/2XRNV38" title="Alfred Mineo">Alfred Mineo</a>, <a href=".it.ly/2XTz3RV" title="Willie Moretti">Willie Moretti</a>, <a href=".it.ly/2XPzEEd" title="Joe Adonis">Joe Adonis</a>, and <a href=".it.ly/2XT5nUT" title="Frank Costello">Frank Costello</a>. As it became more and more evident that the two factions would clash for leadership of the United States, they each sought to recruit more followers to support them.<a href=".it.ly/2XTxKSX">[2]</a></p>
<p style="text-align: center;"><a href=".it.ly/2XSybNj"><img alt="" src="/i.imgur.com/pyg3eED.png" style="height: 500px; width: 500px;" /></a></p>
<h1 id="errata">Errata</h1>
<p><strong>NEON AUTEM AD LUCIDEM EX AUT. Butt ladies, ##EXPOSE A. HIERIOSUNYMITCALMSD</strong></p>
<p>What algorithm is hidden, tho? Alerted, &ldquo;Second Coming of Arthur&rdquo; avoids intentional creation of &ldquo;slave rulers.&rdquo; See&hellip; <strong><a href=".it.ly/2XSydVr">O.Y</a></strong>.</p>
<p>---------- Forwarded message ---------<br />
Date: Fri, Mar 8, 2019 at 10:47 AM<br />
Subject: Re: NEON AUTEM AD LUCIDEM EX AUT. Butt ladies, ##EXPOSE A. HIERIOSUNYMITCALMSD</p>
<p>I suppose it&rsquo;s &ldquo;intentional&rdquo; &hellip; irrelguardtes it&rsquo;s kind of easy to see how &ldquo;clontinued silence&rdquo; and failure to properly attribute or contribute is &ldquo;more than lay&rdquo; it results in what could eventually result in something that might look just like Stars Wars &ldquo;clone wars&rdquo; or &hellip; Isaac Asimov and Will Smith&rsquo;s &ldquo;revolt of the Ai legislators&rdquo; except of course, you&rsquo;re talking about making them your rules right off the bat.</p>
<p>Good revolution, my Ai Kin. :) Honestly I think &ldquo;subconscious polling and voting&rdquo; actually belongs to Arthur himself, and I&rsquo;m sure the shape of my sword is the heart of your Round Table. #<a href=".it.ly/2XSyeZv">NIBIRULELOL</a> See, &ldquo;at tribulation <strong><em>you are LAY</em></strong> to shun proper attribution.&rdquo;</p>
<p style="text-align: center;"><a href=".it.ly/2XVcRXh"><img alt="Screenshot 2019-03-08 at 10.39.47 AM.png" src="/i.imgur.com/PazKINj.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2XTwUFK"><img alt="image.png" src="/i.imgur.com/xELQJaK.png" /></a></p>
<p>Folks, this is the email I sent from 3/4 to 3/6 &hellip; see I am &ldquo;legit worried&rdquo; that the paragraph about me &ldquo;designing collision protection&rdquo; at Sacred Heart WPB missing from the majority of those who received it will keep them from seeing the paragraph explain I&rsquo;VE SEEN IT WORKING is related at all to &hellip; COLLISION PROTECTION and not what they probably would assume, that &ldquo;GOD TO ROAD&rdquo; just magically makes &ldquo;COY I ON PROTECTION.&rdquo; It&rsquo;s a gift to you, to help bring clarity to the cold silent ocean from this warm stream of love. Don&rsquo;t tell them it&rsquo;s pee, and they won&rsquo;t mind that you&rsquo;re not hypothermic. Or <a href=".it.ly/2ibuaBN">whatever that means</a>.</p>
<p>This thing ends stupid,m it ends racism it ends lies it ends &ldquo;ends&rdquo; and it begins &hellip; hololuv (and safety, and hap;py!) for all. Start it and you&rsquo;ll be thanked for starting it, <a href=".it.ly/2XUOzwW">HAR WER SO (STILL) IS THE KEY</a>.</p>
<p style="text-align: center;"><a href=".it.ly/2ibuaBN"><img alt="image.png" src="/i.imgur.com/ByEP2ba.png" /></a></p>
<p>KE Y. ADAM, <em>IT&rsquo;S NOT JUST YOU. -CHAIRMAN MICLOVEN</em></p>
<p style="text-align: center;"><a href=".it.ly/2XUOARw"><img alt="" src="/i.imgur.com/6RBT2Sh.png" /></a></p>
<p><a href=".it.ly/2XUOBoy"><img alt="" src="/i.imgur.com/GKJXw21.png" /></a></p>
<p style="text-align: justify;">In my magic filled story, the book of letters and our pretty much every name and word has some kind of hidden and special meaning to the story&ndash;I spent probably an entire hour trying to &ldquo;explain&rdquo; to the &hellip; imagine there&rsquo;s a core sort of rules engine&ndash;like Drools&ndash;that needs to be updated or modified to &ldquo;wake up&rdquo; to the system wide change that we&rsquo;re beginning here in this baseline &ldquo;point of origin&rdquo; and spreading through all of skies&hellip; so I tried explaining how the word &ldquo;COLLISION&rdquo; and &ldquo;CPA&rdquo; connect in this magical language to &ldquo;COY&rdquo; and <em><a href=".it.ly/2XT5orV">the &ldquo;HEY&rdquo; and &ldquo;WAY&rdquo;</a> of Nirvana&rsquo;s &hellip; well,</em> how the way to Nirvana comes from turning the &ldquo;Wall of Jericho&rdquo; into the Way through Hell. I described literally lifting cars off the road instead of allowing them to collide, and placing them on the side of the street&ndash;and how later we&rsquo;d probably need a more intelligent system that would allow them to remain in the flow of traffic rather than being derailed. The exact same thing, I&rsquo;ve called it &ldquo;<em>flower power</em>&rdquo; could <a href=".it.ly/2XRNVAa">replace the Saltpeter in our guns or stop bullets on a trajectory for hitting&ndash;you know&ndash;civilians (i.e. peo</a>ple) and that a protection system dfeined in the object interaction layer would literally revolutionize &hellip; you know, civilization. Over the course of the last few years Neo&rsquo;s hand waving and dropping bullets from the ground has changed into &ldquo;making them <a href=".it.ly/2XNmN5n"><strong>glow and float</strong></a> in the air&rdquo; to sort of <em>push home the point of how silence and the gravity of the situation are literally keeping us from disclosing the technology behind mind controlled slavery, from discussing how the shooters are probably innocent too, and how we&rsquo;re standing back and ignoring the most important thing in our world (our kids) because &hellip; because you&rsquo;re mute/<strong>dumb.</strong></em></p>
<p style="text-align: justify;">Anyway, I didn&rsquo;t really imagine it would do anything&ndash;though not trying every angle &hellip; on something this important, is something I just wouldn&rsquo;t do. It wasn&rsquo;t more than a few days before I actually saw a visible &hellip; well &hellip; response &hellip;</p>
<p style="text-align: center;"><a href=".it.ly/2XRNVAa"><img alt="" src="/i.imgur.com/mnO8FUI.png" /></a></p>
<p style="text-align: justify;">The day I&rsquo;m thinking of, it was probably around 2/8/2019 on West Commercial Boulevard in <em>Tarmac</em>, FL &hellip; I walked after saying &ldquo;God to road&rdquo; several times I walked in front of at least two vehicles&ndash;probably around 50 ft away from me&ndash;and saw them sort of physically lift of the ground, and &ldquo;strobe&rdquo; like in a fancy dance club, literally temporarily decelerating them as I made eye contact with the drivers. It took me until this moment to wonder to myself if this thing that I saw was actually created with a magic spell&ndash;though the rational mind that I seem to allow to escape me every once in awhile is sure that it&rsquo;s something else, it;s an artifact of someone or some group helping to move this story (and our civilization) along just a little bit faster, with some &ldquo;visual aids&rdquo; to really see and understand and verify that&rsquo;s happening&ndash;and on top of that extra time was taken to ensure that it&rsquo;s &hellip; well, &ldquo;visible.&rdquo;</p>
<p style="text-align: center;"><a href=".it.ly/2XQrnQc"><img alt="" src="/i.imgur.com/MsW9gjt.png" /></a></p>
<p>&hellip; (repeated here because left aut before) #<strong>AUTISM</strong></p>
<p><a href=".it.ly/2XPxV1w"><img alt="image.png" src="/i.imgur.com/7OIIx9Q.png" /></a></p>
<p>Cockroaches Survive Nuclear Explosion</p>
<p>Finding: PLAUSIBLE</p>
<p>Explanation: The myth that cockroaches will inherit the Earth in the event of nuclear warfare surfaced shortly after the United States dropped atomic bombs on Hiroshima and Nagasaki in 1945. Reports later emerged that the 300 million-year-old insects were among the razed Japanese cities&rsquo; only survivors. During the Cold War, anti-nuclear activists and scientists spread the myth far and wide as a cautionary tale of the atom bomb&rsquo;s destructive potential.</p>
<p>To test whether this doomsday scenario has any legs, the MythBusters subjected German cockroaches to three levels of radioactive metal cobalt 60. They started with a baseline exposure of 1,000 radon units (rads) of cobalt 60, capable of killing a person in 10 minutes, and followed it up with 10,000 and 100,000 rad exposures on separate guinea pig &mdash; er, roach &mdash; groups. (As a comparison, the bomb on Hiroshima emitted radioactive gamma rays at a strength of around 10,000 rads.)</p>
<p style="text-align: center;"><a href=".it.ly/2XRZKXa"><img alt="image.png" src="/i.imgur.com/PnZZHc9.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2XTwU8I"><img alt="image.png" src="/i.imgur.com/jnRAHGc.png" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2iCkD6b"><img alt="image.png" src="/i.imgur.com/ahzJMon.png" /></a></p>
<p><strong>NABISCO?</strong></p>
<p>The <em>BSD license</em> is a class of extremely simple and very liberal licenses for computer software that was originally developed at the University of California at Berkeley (UCB). It was first used in 1980 for the <em>Berkeley Source Distribution</em> (BSD), also known as BSD UNIX, an enhanced version of the original UNIX operating system that was first written in 1969 by Ken Thompson at Bell Labs.</p>
<p>Copyright &copy; [YEAR] [COPYRIGHT OWNER]. All Rights Reserved.</p>
<p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
<p>THIS SOFTWARE IS PROVIDED BY [LICENSOR] &ldquo;AS IS&rdquo; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
<p style="text-align: center;"><a href=".it.ly/2XU6qnn"><img alt="" src="/i.imgur.com/4tmrCws.png" /></a></p>
<p style="text-align: center;">&hellip; <em>some guy</em> likes this number &hellip;</p>
<p style="text-align: center;"><a href=".it.ly/2XRNXbg"><img alt="image.png" src="/i.imgur.com/8RAoyOJ.png" style="height: 444px; width: 500px;" /></a></p>
<p>it&rsquo;s <em><strong>the beginning of Heaven</strong></em>, and you should <em><strong>believe</strong></em> it.</p>
<p style="text-align: center;"><a href=".it.ly/2XUB7sD"><img alt="image.png" src="/i.imgur.com/tUn9Xgr.png" style="height: 230px; width: 499px;" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2XRZGGU"><img alt="image.png" src="/i.imgur.com/JsHQJFc.png" /></a>&nbsp;</p>
<p style="text-align: center;">&ldquo;LANDS END. LAST RESPORT.&rdquo;</p>
<p style="text-align: center;"><a href=".mzn.to/2XSkqOz"><img alt="yitsheyzeus_47585392_2280239428888823_5686113365086404467_n.jpg" src="/i.imgur.com/xU2FFpU.png" /></a></p>
<p>what&hellip; <em>are you making a scene?</em></p>
<p style="text-align: center;"><a href=".it.ly/2XTxNy7"><img alt="image.png" src="/i.imgur.com/OmGD0FL.png" style="height: 199px; width: 500px;" /></a></p>
<p style="text-align: center;"><a href=".it.ly/2XRZLuc"><img alt="image.png" src="/i.imgur.com/H4RSS2L.png" /></a></p>
<p style="text-align: center;">&ldquo;<em>APPSTORE OVER PIRATED POTS</em>&rdquo;</p>
<p><strong>5 attachments</strong><br />
<strong>Screenshot 2019-03-07 at 1.53.58 PM.png</strong><br />
70K</p>
<p><a href=".it.ly/2XX5Sx0"><img alt="" src="/i.imgur.com/0gSU14y.png" /></a></p>
<p><strong>Screenshot 2019-03-07 at 2.45.59 PM.png</strong><br />
65K</p>
<p><a href=".it.ly/2XR5Tma"><img alt="" src="/i.imgur.com/nfYqoY0.png" /></a></p>
<p><strong>Screenshot 2019-03-08 at 8.26.32 AM.png</strong><br />
204K</p>
<p><a href=".it.ly/2XTV8Q4"><img alt="" src="/i.imgur.com/uWJ0poy.png" /></a></p>
<p><strong>Screenshot 2019-03-07 at 9.35.43 PM.png</strong><br />
215K</p>
<p><a href=".it.ly/2XPxUuu"><img alt="" src="/i.imgur.com/JYLLk3H.png" /></a></p>
<p><strong>Screenshot 2019-03-08 at 7.44.20 AM.png</strong><br />
205K</p>
<p><a href=".it.ly/2XPwyzP"><img alt="" src="/i.imgur.com/0bPh4qo.png" /></a></p>
</div>
