<p style="text-align: center;">
 <img src="/i.imgur.com/ZpnP5al.png" width="444" height="58" alt="" />
</p>
<p style="text-align: center;">
 &nbsp;
 <br class="Apple-interchange-newline" />
 and look, now you can correlate the SE ray of Q to the NE of Mars...&nbsp;&nbsp;
</p>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;">
 <font size="4">
  and the River &quot;
  <i>
   sane
  </i>
  .&quot;
 </font>
</div>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;">
 &nbsp;
</div>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;">
 <a href=".outu.be/Hg6pNL7DMgU">
  <img src="/i.imgur.com/xKYumKv.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="400" height="165" alt="" />
 </a>
</div>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;">
 &nbsp;
</div>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; text-align: center;">
 <div align="justify">
  <blockquote>
   <blockquote>
    <font size="4">
     literally if you don't see cardinal directions encoded in these signs, and in David's &quot;
    </font>
    <i>
     <a href=".it.ly/2wcW711" target="_blank" data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.it.ly/2wcW711&amp;source=gmail&amp;ust=1534269071160000&amp;usg=AFQjCNFbo-LbloFyyJhXSdeoiNHPPOrq3Q" style="color: rgb(17, 85, 204);">
      <b>
       <font face="comic sans ms, sans-serif" size="6">
        stone
       </font>
      </b>
     </a>
    </i>
    <font size="4">
     &quot; and Medusa's... and in the reason for the song just above, and you don't think it's &quot;newsworthy&quot; you are
    </font>
    <span style="font-size: large;">
     &nbsp;
    </span>
    <i style="font-size: large;">
     <b>
      literally not sane.
     </b>
    </i>
   </blockquote>
  </blockquote>
 </div>
</div>
<p style="text-align: center;">
 &nbsp;
</p>
<p style="text-align: center;">
 <b style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small;'>
  <font face="arial black, sans-serif" size="4">
   Y&nbsp;C HA&nbsp;P
  </font>
 </b>
 &blk14;
 <b style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small;'>
  <font face="arial black, sans-serif" size="4">
   PPY PER
   <a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.a.s.lamc.la&amp;source=gmail&amp;ust=1525934993476000&amp;usg=AFQjCNHpRqkGLUeAgM2K29VVGb-wgHcsvQ" href=".//fwd" target="_blank" style="text-decoration-line: none; color: rgb(65, 131, 196);">
    S
   </a>
   O
   <a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.a.s.lamc.la&amp;source=gmail&amp;ust=1525934993476000&amp;usg=AFQjCNGs0g5jFMSDmLNlVP4SrwUteJrssA" href="./HIGHERA.html" target="_blank" style="text-decoration-line: none; color: rgb(65, 131, 196);">
    NA
   </a>
   &nbsp;? Anu...&nbsp;
   <i>
    anew
   </i>
  </font>
 </b>
</p>
<div class="s1hmcfrd-0 gOQskj" style='margin: 0px; padding: 5px 8px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); word-break: break-word; overflow: auto;'>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  <a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ey.s.lamc.la&amp;source=gmail&amp;ust=1525934993478000&amp;usg=AFQjCNHtpeoOj5cVQKt-lFqOgokHcMNAHQ" href="./KEYNES.html" target="_blank" style="text-decoration-line: none; color: rgb(65, 131, 196); font-size: 16px;">
   <img alt="" height="118" src="/i.imgur.com/EGVsAU8.png" width="417" style="max-width: 100%; font-family: garamond, serif; margin-right: 0px;" />
  </a>
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  &nbsp;&nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  This is
  <a href="./CURSOR.html">
   n't about guns
  </a>
  , it's
  <a href=".oxo.s.lamc.la">
   about freedom
  </a>
  --and it's clear that should be infinitely more important to you--and it's not, because, because something is fucking with your head.&nbsp; In no uncertain terms you are looking at a subversive element of humanity attempting to hide &quot;mind control&quot; and replace a very clear disclosure that will very quickly lead to freedom and to free will with a &quot;war on guns&quot; and an attempt to strip further civil liberties from Americans--from people who already can't seem to freely open their mouths and speak up for their own well being, and the well being of their children.
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  In no uncertain terms, it's beyond obvious that the pattern of school shootings we've seen for over a decade now are connected by some invisible force; one that the government has failed to investigate and that the news has failed to report on.&nbsp; You too, you are looking at verifiable evidence that there is a hidden influence coming &quot;from the skies below&quot; and causing these things to happen.&nbsp; On it's face they'd have you believe that these atrocities are somehow repurposed or designed to create &quot;unity&quot;--around the idea that murder and senseless violence are the kinds of things we should be quickly solving through the disclosure that &quot;we are in the Matrix.&quot;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  <a href=".witter.com/yitsheyzeus/status/1029041907404603401">
   <img src="/i.imgur.com/IRIVy5D.png" style='color: rgb(28, 28, 28); font-family: "Noto Sans", sans-serif; font-size: 14px;' width="499" height="207" alt="" />
  </a>
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  You've have got me fucked up.&nbsp; It's very clear from who we are that we aren't stupid enough to neeed to be &quot;social engineered&quot; into protecting ourselves and our children from murder.&nbsp; It really is very clear, it's also clear that what is truly in play is the disclosure that &quot;we are in the Matrix&quot; and that tied at the hip to that disclosure is the very clear and obvious proof that &quot;the Matrix&quot; means we are being subtly controlled and influenced to argue about things like the NRA disappearing or whether or not we actually need gusn to protect us from crazy people with guns ... rather than the very clear change in circumstances that comes from knowing we are invirtual reality--and that means this place is logged just like a video game with &quot;highlight reels&quot; after each battle ... and it means that we really can make bullets drop from the air like Neo did in the Matrix; and it means we can using pre-crime a la Minority Report to do that before they ever get near any intelligent or innocent mind.&nbsp;&nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  What's less clear is that you probably weigh the value of innocent life higher than the value of &quot;free life&quot; meaning that you probably don't internally connect &quot;free thought&quot; and your ability and desire to speak about the fact that we are not in reality and that nobody in their right mind would ever want to go to reality ... once we have this conversation and make the changes that will forever protect sanity and &quot;flesh and blood&quot; from heinous attacks from invisible controllers.&nbsp; What's probably less clear is that if we took a poll today, we'd probably see that the majority would laugh at the idea of protecting children from bullets with magic--and that it takes actually seeing this information, actually seeing that we are in virtual reality and that's the point of all of religion, and all of language ... and all of your being--to disclose that fact to the entire world ... it probably takes that being seen to change the Minority Report to &quot;are you fucking kidding me, of course we don't want to hurt our children.&quot;&nbsp; See ... really see that's exactly the oppoosite of what &quot;silence&quot; tells the world; silence tells the world you'd rather be in a position to use a hidden weapon of control to ... well, it's not you right, you're not right to control the world with hidden mind control technology?
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  <a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.orn.s.lamc.la&amp;source=gmail&amp;ust=1525934993476000&amp;usg=AFQjCNGg95TyD-rccTSi2t6q6qlHA0OkTw" href="./GJALLARHORN.html" target="_blank" style="color: rgb(65, 131, 196); font-family: arial, sans-serif;">
   <img alt="" src="/i.imgur.com/sxLOegB.png" style="max-width: 100%; color: rgb(34, 34, 34); margin-right: 0px; width: 500px; height: 255px;" />
  </a>
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  I know the violence can be stopped, and I know in my heart that not moving forward with this disclosure is the heart of why it's happening.  It's very difficult to stand idly by and watch as we mourn, as we continue to persist in allowing these atrocities to continue; with no rhyme or reason.  I've implied in the past that it appears to me to be intended to move the world to quickly see the benefit of the truth, but it's really not at all what I think.  It seems very clear to me that far too many are content with living in this lie, because it's &quot;the way things have always been&quot; and I just can't stand to see what I know will really solve this problem being delayed.
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  &nbsp;
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: justify;'>
  It won't fix this overnight, but it will stop this violence, and much more; not just murders but insanity--things that are really clearly within reach, within ability, and the focus of this message.  It's understanding the change in circumstances, and understanding that nobody would wait if they were sure... it's understanding that beginning to talk about this proof is what makes it that, proof--it's what causes the papers or the analysis, and it's the discussion--it's our hearts that change the world and build Heaven.
 </div>
</div>
<p style="text-align: center;">
 <a href=".ww.reddit.com/r/conspiracy/comments/8kgzx1/so_were_living_in_virtual_reality_what_does_that/">
  <img src="/i.imgur.com/yK7eoJd.png" alt="" />
 </a>
</p>
<p style="text-align: justify;">
 <span style="text-align: justify;">
  &nbsp;I don't know how to make this any more clear, or any more obvious--I am doing everything I can, delivering every shred of every ounce of &quot;proof&quot; that I see fortifying and reaffirming that these patterns are real--even when they aren't exactly what I'd like to be sharing with you.&nbsp; Beginning in 2011 I spent years having a &quot;
 </span>
 <a href=".tlanta.cbslocal.com/2014/05/17/gang-stalking-and-electronic-mind-control-community-spreads-online/" style="text-align: justify;">
  hands on experience
 </a>
 <span style="text-align: justify;">
  &quot; with mind control technology--this is the &quot;thing&quot; that defines the word &quot;time&quot; and in my eyes the thing that frees us, frees our world and our future and Heaven too ... from this hidden technology of subtle influence that nobody seems &quot;
 </span>
 <strong style="text-align: justify;">
  <a href=".er.reallyhim.com">
   to see
  </a>
 </strong>
 <span style="text-align: justify;">
  &nbsp;clearly&quot; is proven throughout this message--through this hidden influence in music and in the world around us.&nbsp; It's proven clearly in every name being related to this moment in time and to the book of Names.&nbsp;&nbsp;
 </span>
</p>
<blockquote style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; text-align: justify;">
  <font size="1">
   <span style="font-family: tahoma, geneva, sans-serif; color: rgb(34, 34, 34);">
    It's been my primary &quot;sales schpiel&quot; for pre-crime that we only have to give up a very small fraction&nbsp;of free will and privacy in order to protect ourselves and our children from violent crimes--frankly it's really zero percent for anyone that isn't doing something horribly wrong, and so it seems as though it should be a slam dunk, and yet here we are arguing over our right to bear arms completely oblivious to the fact that the real right that protects us from tyranny is speech (and frankly the lack of open and honest communication here is&nbsp;
   </span>
   <strong style="font-family: tahoma, geneva, sans-serif; color: rgb(34, 34, 34);">
    <em>
     the tyranny
    </em>
   </strong>
   <span style="font-family: tahoma, geneva, sans-serif; color: rgb(34, 34, 34);">
    )--and we're really not &quot;getting&quot; that seeing me jump up and down screaming about &quot;incendiary&quot; and &quot;most&nbsp;
    <g class="gr_ gr_10 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="10" data-gr-id="10" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     sought after
    </g>
    &nbsp;information ever&quot; neither making the news nor circling conspiracy forums or religious ones--is a glowing sign, a sign that we need to take a very hard look at what's going on here in our day.&nbsp;
   </span>
  </font>
 </p>
</blockquote>
<p style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 16px; text-align: center;">
 <a href=".ww.newyorker.com/tech/elements/little-brother-is-watching-you" style="color: rgb(65, 131, 196); text-decoration-line: none;">
  <img alt="" src="/i.imgur.com/4o7ZKMP.png" style="max-width: 100%; height: 144px; width: 502px; padding: 4px;" />
 </a>
</p>
<blockquote style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
 <p style="text-align: justify;">
  <span style="font-family: tahoma, geneva, sans-serif;">
   <font size="1">
    It amounts to little more than the spread of this message proving that we are living in virtual reality that will help us to spring forward leaps and bounds literally completing the process of &quot;civilization&quot; orders of magnitude faster than if we continue to try to&nbsp;
    <g class="gr_ gr_9 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del" id="9" data-gr-id="9" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     drudge
    </g>
    &nbsp;forward in this mess of lies ... this argument over whether or not &quot;
    <g class="gr_ gr_23 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling" id="23" data-gr-id="23" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     reality
    </g>
    &quot; is a game in a place where we know in our hearts we are not there; or if calling the bedrock of our lives here a &quot;stage&quot; is something that should be shunned &quot;universally.&quot;&nbsp; I think it's clear there's a great chain being revealed, and that really it takes not much wizardry of precognition to see that when posed with the question ... given the case that bullets can be made to disappear in&nbsp;
    <g class="gr_ gr_15 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="15" data-gr-id="15" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     mid air
    </g>
    &nbsp;should we allow them to continue to fly towards the innocent .. that it really does fly in the face of everything that we are inside ... that it's so diametrically opposed to our morality and our goodness to allow anything like that to happen ... to see it really is this &quot;fact&quot; and our innate and right desires that move the whole of civilization across that line basically overnight ... and&nbsp;&quot;
    <em>
     <strong>
      anything less would&nbsp;
      <g class="gr_ gr_14 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="14" data-gr-id="14" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
       be
      </g>
      <u>
       <g class="gr_ gr_14 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace" id="14" data-gr-id="14" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100% !important; animation: none 0s ease 0s 1 normal none running !important;'>
        uncivilized
       </g>
       .
      </u>
     </strong>
    </em>
    &quot;
   </font>
  </span>
 </p>
</blockquote>
<p style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 16px; text-align: center;">
 <a href="./" style="color: rgb(65, 131, 196); text-decoration-line: none;">
  <img alt="" src="/i.imgur.com/ZoGmUUO.png" style="max-width: 100%; width: 501px; height: 179px; padding: 4px;" />
 </a>
</p>
<blockquote style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
 <p style="text-align: justify;">
  <span style="font-family: tahoma, geneva, sans-serif;">
   <font size="1">
    It's &quot;A Scanner Darkly&quot; that lights the &quot;
    <g class="gr_ gr_12 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="12" data-gr-id="12" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     anon
    </g>
    <a href="./ADIOSAS.html" style="color: rgb(65, 131, 196); text-decoration-line: none;">
     <g class="gr_ gr_12 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace" id="12" data-gr-id="12" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100% !important; animation: none 0s ease 0s 1 normal none running !important;'>
      hym
     </g>
    </a>
    <g class="gr_ gr_12 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace" id="12" data-gr-id="12" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100% !important; animation: none 0s ease 0s 1 normal none running !important;'>
     ization
    </g>
    &nbsp;suit&quot; (where you can see prototypical and&nbsp;
    <g class="gr_ gr_13 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="13" data-gr-id="13" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     the-
    </g>
    <em>
     <strong>
      <g class="gr_ gr_13 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace" id="13" data-gr-id="13" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100% !important; animation: none 0s ease 0s 1 normal none running !important;'>
       matic
      </g>
     </strong>
    </em>
    &nbsp;in&nbsp;
    <a href="./2017-06-09-verily-i-say-unto-you-ver-means-to-see.html" style="color: rgb(65, 131, 196); text-decoration-line: none;">
     ver
    </a>
    &nbsp;
    <a href="./BRIMSTONE.html" style="color: rgb(65, 131, 196); text-decoration-line: none;">
     si
    </a>
    &nbsp;of the solution) to&nbsp;
    <g class="gr_ gr_11 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del multiReplace" id="11" data-gr-id="11" style='display: inline; color: inherit !important; font-size: inherit !important; border-bottom: 2px solid transparent; background-repeat: no-repeat; background-position: -1px calc(100% + 3px); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgogIDxsaW5lIG9wYWNpdHk9JzAuNzUnIHgxPSc0JyB5MT0nMTAwJScgeDI9JzEwMCUnIHkyPScxMDAlJyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtMS41LCAtMi41KScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZT0nI2ZjNTQ1NCcvPgo8L3N2Zz4K"); background-size: calc(100% + 1px) 100%; animation: gr__appear_critical 0.4s ease 0s 1 normal forwards running;'>
     republic
    </g>
    &nbsp;of heaven come ... to show us that privacy is something that can be guaranteed even with eyes or algorithms&nbsp;(if you're on the side of the automation-bots) watching every move every second of every day--and that's really what it takes to guarantee our right to peaceful congregation--something that's ever so more important than our &quot;right&quot; to commit murder and &quot;suffer the consequences.&quot;&nbsp;
   </font>
  </span>
 </p>
</blockquote>
<p style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 16px; text-align: justify;">
 It's very clear that this thing, this hidden technology and this secret that we are in the Matrix is the weapon being used against the world--it's very clear that anyone publicly and vocally trying to fight school shootings with &quot;no NRA&quot; or with &quot;we need more guns&quot; or armed guards--it's clear these people are lying to themselves, and lying to the world.&nbsp; You are being distracted from the real issue--and if you can't see that ending the lies and ending the secrecy bring you freedom as well as safety--then the distraction is working.
</p>
<p style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 16px; text-align: center;">
 <a href=".ww.cbsnews.com/news/national-march-on-the-nra-protest-nra-headquarters-fairfax-virginia-today-2018-08-04/">
  <img src="/i.imgur.com/aGpU5uZ.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="501" height="184" alt="" />
 </a>
</p>
<p style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 16px; text-align: justify;">
 It's truly
 <strong>
  <em>
   slavery in play
  </em>
 </strong>
 , it's free thought, and freedom in sum--and the act of ignoring this message--of ignoring this truth; that' the thing responsible for enslavement, for the continuation of Hell, and ultimately for each and every one of these shootings, and each and every moment of &quot;clouded thought&quot; or &quot;gobal cohesion of stupid&quot; this unity that's focused around the idea that you somehow ... &quot;of your own volition&quot; think that the truth should be hidden from everyone but you--and that even you shouldn't have any say or any input in how we move forward out of the sand of the desert and towards the &quot;Promsied Land&quot; ... you know, the place where you have a government &quot;of the people, for the people&quot; and the place where you have privacy, and free speech and the right to &quot;Pursue Happiness&quot; without secretly knowing that is the happiness of some other invisible thing (that you might even be stupid enough to think is you--somewhere else) that's really being sought with each and every one of your actions--actions you should now see and know are not of your own volition.&nbsp;
</p>
<p style="text-align: center;">
 <a href=".rrr.s.lamc.la" style="font-size: 14px;">
  <img src="/i.imgur.com/JF6zZEg.png" width="400" height="162" style="font-size: 12px;" alt="" />
 </a>
 <span style="font-size: 14px;">
  &nbsp;
 </span>
 &nbsp;
</p>
<p style="text-align: justify;">
 <span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  The  music video, as is common for the genre today, show the voice of the  lead singer speaking through a number of other people's mouths. This  depicting of possession is consistent with other modern art pieces  including&nbsp;
 </span>
 <i style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  Fallen&nbsp;
 </i>
 <span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  and&nbsp;
 </span>
 <i style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  <a href=".n.wikipedia.org/wiki/Joan_of_Arcadia" title="Joan of Arcadia" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;">
   Joan of Arcadia
  </a>
 </i>
 <span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  .  The pattern as well as the lack of discussion of the trend is  noteworthy in light of a large number of people complaining of  experiencing similar phenomenon, these mental health issues have been  highlighted in recent stories of
  <a href=".ww.wired.com/story/mind-games-the-tortured-lives-of-targeted-individuals/">
   Wired
  </a>
 </span>
 <sup id="cite_ref-5" class="reference" style="line-height: 1; unicode-bidi: isolate; white-space: nowrap; font-size: 11.2px; color: rgb(34, 34, 34); font-family: sans-serif;">
  <a href=".n.wikipedia.org/w/index.php?title=Wrong_Side_of_Heaven&amp;oldid=850034053#cite_note-5" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;">
   [5]
  </a>
 </sup>
 <span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  &nbsp;and the
  <a href=".ww.nytimes.com/2016/06/11/health/gang-stalking-targeted-individuals.html">
   New York Times
  </a>
 </span>
 <sup id="cite_ref-6" class="reference" style="line-height: 1; unicode-bidi: isolate; white-space: nowrap; font-size: 11.2px; color: rgb(34, 34, 34); font-family: sans-serif;">
  <a href=".n.wikipedia.org/w/index.php?title=Wrong_Side_of_Heaven&amp;oldid=850034053#cite_note-6" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;">
   [6]
  </a>
 </sup>
 <span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  &nbsp;and they may link to
  <a href=".ww.washingtonpost.com/local/officials-navy-yard-shooter-carved-odd-messages-into-his-gun-before-carnage/2013/09/18/edaae792-2065-11e3-8459-657e0c72fec8_story.html">
   domestic terrorism and school shootings
  </a>
 </span>
 <sup id="cite_ref-7" class="reference" style="line-height: 1; unicode-bidi: isolate; white-space: nowrap; font-size: 11.2px; color: rgb(34, 34, 34); font-family: sans-serif;">
  <a href=".n.wikipedia.org/w/index.php?title=Wrong_Side_of_Heaven&amp;oldid=850034053#cite_note-7" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;">
   [7]
  </a>
 </sup>
 <span style="color: rgb(34, 34, 34); font-family: sans-serif; font-size: 14px;">
  where this pattern of complaining of possession also exists.
 </span>
</p>
<div class="s1hmcfrd-0 gOQskj" style='margin: 0px; padding: 5px 8px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); word-break: break-word; overflow: auto;'>
 <h2 style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; text-align: center;">
  <u>
   <strong>
    cov keys efef
   </strong>
  </u>
 </h2>
 <h2 style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; text-align: center;">
  <a href=".n.wikipedia.org/w/index.php?title=Wrong_Side_of_Heaven&amp;oldid=850034053">
   <img src="/i.imgur.com/Myok4gQ.png" width="501" height="95" alt="" style="font-size: 12px;" />
  </a>
 </h2>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  It hasn't been a pleasant experience, personally; though there are many others that have experienced far worse--there are people all around the country complaining of the exact same symptoms and the exact same adversary--they nearly all one hundred percent think it is the United States government behind these attacks.&nbsp; I don't believe they are correct, I don't personally believe the government on this Earth actually possesses the means to do these things--though I do believe they are more than guilty of standing idly by and watching something happen that they could stop if they spoke a name on television.
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <a href=".eb.archive.org/web/20141222061140/.ww.unduecoercion.com/">
   <img src="/i.imgur.com/RzUgpMr.png" style='color: rgb(28, 28, 28); font-family: "Noto Sans", sans-serif; font-size: 14px;' width="650" height="49" alt="" />
  </a>
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  I spent
  <em>
   <a href=".eb.archive.org/web/20141222061140/.ww.unduecoercion.com/">
    years writing about mind control
   </a>
  </em>
  , and about gang stalking--about a hidden army of people, that's what I called it when I went to NSA headquarters to ... complain or warn them ... or ... to see if it really was them--in purpose.&nbsp; That's what the vast majority of these people think; they write all day long about how the government is performing secret mind control expiraments on them and on a large group of American (and global citizens).&nbsp; They aren't right about who is doing it, but that doesn't mean that there are verifiable patterns connecting their thought process and their beliefs to your ignorance of the fact that these things should very much be investigated and done
  <a href=".ww.c-span.org/video/?409117-1/church-committee-hearings-fbi-intelligence-activities">
   so in public as Frank
   <strong>
    Church
   </strong>
  </a>
  did in late 1975--when he promised that this kind of thing would never again happen in America.&nbsp;&nbsp;
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  What you are staring blankly at is either a refusal or inabiity to see clear patterns, an to link that very same thing to a tacit destruction of logic and intelligence that probably turns &quot;
  <a href="./SPEECH.html">
   Opsimath
  </a>
  &quot; into &quot;
  <strong>
   <em>
    iTalking
   </em>
  </strong>
  .&quot;
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <a href=".nder.reallyhim.com">
   <img src="/i.imgur.com/gc1xCEu.png" style='color: rgb(28, 28, 28); font-family: "Noto Sans", sans-serif; font-size: 14px;' width="555" height="215" alt="" />
  </a>
 </p>
<div align="justify">
<blockquote>
<blockquote>
<h1 class="passage-display" style="box-sizing: border-box;
font-size: 14px; margin: 0px 0px 20px; font-family:
&quot;Helvetica Neue&quot;, Verdana, Helvetica, Arial,
sans-serif; font-weight: 500; line-height: 1.1; color:
rgb(0, 0, 0); font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; letter-spacing: normal;
orphans: 2; text-align: start; text-indent: 0px;
text-transform: none; white-space: normal; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px;
background-color: rgb(255, 255, 255); text-decoration-style:
initial; text-decoration-color: initial;"><span
class="passage-display-bcv" style="box-sizing: border-box;
-webkit-font-smoothing: antialiased; font-size: 18px;
margin: 0px; display: inline; padding-right: 6px;">John
12:3</span><span>&nbsp;</span><span
class="passage-display-version" style="box-sizing:
border-box; -webkit-font-smoothing: antialiased;
font-size: 14px; display: inline; font-weight: 500;">New
International Version (NIV)</span></h1>
<p class="chapter-2" style="box-sizing: border-box; margin:
0px 0px 10px; -webkit-font-smoothing: antialiased; color:
rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;,
Verdana, Helvetica, Arial, sans-serif; font-size: 16px;
line-height: 24px; font-style: normal;
font-variant-ligatures: normal; font-variant-caps: normal;
font-weight: 400; letter-spacing: normal; orphans: 2;
text-align: start; text-indent: 0px; text-transform: none;
white-space: normal; widows: 2; word-spacing: 0px;
-webkit-text-stroke-width: 0px; background-color: rgb(255,
255, 255); text-decoration-style: initial;
text-decoration-color: initial;"><span id="en-NIV-26584"
class="text John-12-3" style="box-sizing: border-box;
-webkit-font-smoothing: antialiased;"><sup
class="versenum" style="box-sizing: border-box;
font-size: 12px; line-height: 22px; position: relative;
vertical-align: top; top: 0px; font-family: Arial;
font-weight: bold;">3&nbsp;</sup>Then Mary took about a
pint<sup data-fn="#fen-NIV-26584a" class="footnote"
data-link="[<a href=&quot;#fen-NIV-26584a&quot;
title=&quot;See footnote a&quot;>a</a>]"
style="box-sizing: border-box; font-size: 0.625em;
line-height: 22px; position: relative; vertical-align:
top; top: 0px;">[<a
href=".ww.biblegateway.com/passage/?search=John+12%3A3&amp;version=NIV#fen-NIV-26584a"
title="See footnote a" style="box-sizing: border-box;
background: transparent; color: rgb(179, 75, 44);
text-decoration: none; -webkit-font-smoothing:
antialiased; cursor: pointer; vertical-align: top;">a</a>]</sup><span>&nbsp;</span>of
<a href=".igher.s.lamc.la">pure <b>na</b>rd</a>, an expensive perfume;<span>&nbsp;</span>she
poured it on Jesus’ feet and wiped his feet with her hair.<span>&nbsp;</span>And
the house was filled with the fragrance of the perfume.</span></p>
</blockquote>
</blockquote>
</div>
<p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  I've spent years
  <a href=".itsnotaze.shiningbright.online/">
   researching
  </a>
  and
  <a href=".nder.reallyhim.com">
   writing
  </a>
  , trying to figure out exactly what this control mechanism is; this thing that works through mountains, in tunnels, on airplanes--through faraday shields--and those things in and of themself prove that this &quot;technology&quot; is a violation of natural laws.&nbsp; Specifically it violates the law of conservation of energy, and that's lead me down a train of thought that has come to looking at the entirety of Quantum Mechanics as a sort of &quot;quantative easing&quot; ... in the world we should see that too, it's market magic keeping inflation down rather than any sort of reality.&nbsp; Quickening Enlightenment, what that means is that what we are witnessing, this mass control is a &quot;hack in simulated reality&quot; something that can be turned off en masse like a light switch--and we're really nearing the point where that seems like the wisest thing to do.&nbsp; Were it in the proper hands, were it in your hands--you could be 'learning kung-fu instantly' you could be destroying addiction and schizophrenia and all kinds of mental issues--
  <a href=".ww.docdroid.net/yiXQuS7/antagonizing-pain-adam-marshall-dobrin.pdf">
   you could be turning off &quot;pain&quot;
  </a>
  with that same light switch--but here it is, hiding the fact that it's even there from you as it's &quot;
  <strong>
   Demo
  </strong>
  sthenes&quot; shows you--
  <strong>
   demon
  </strong>
  straing it's heinous use on Wikipeida--to do nothing short of hiding factual information about mind control sourced from congress, from the NSA, from Lockheed-Martin and from the former KGB.
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  More to the point, you could also be using this same technology to make sure nothing is infuencing your thoughts; to make sure you are really acting in your own best interest and that nothing is intentionally causing you to believe a lie... you could be using it to increase happiness and intelligence.&nbsp; What you're looking at is a &quot;slam dunk&quot; there's no good reason in the Universe to hide the existence and active use of this technology... made ever so much mroe clear by the fact that you can see and verify it's influence in every single name and every song and every movie--every name on the planet... and still you can't fathom that this is really about your own slavery?&nbsp; You can't stand up and tell a newspaper that they should be investigating the ties between &quot;
  <a href=".ww.google.com/search?q=gang+stalking+victims&amp;oq=gang+stalking+victims&amp;aqs=chrome.0.0l6.1910j0j7&amp;sourceid=chrome&amp;ie=UTF-8">
   gang stalking victims
  </a>
  &quot; and &quot;school shooters?&quot;
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  So it's clear that's what &quot;this event&quot; does; it pushes not only proof, and an explanation of how--but thousands of stories about mind control and about how it's torn apart the fabric of our society--the inner workings of our most sacred places ... places like churches and courts and your minds.&nbsp; It thrusts these things to the forefront of &quot;conversation&quot; along with solutions, plans and proofs and ideas about how we can use this exact disclosure and this evidence in order to build a more perfect world.&nbsp; It delivers these things into your hands, and gives you the opportunity to the be architects of Heaven--something you should be more than happy about--it places a great burden on you, but at the same time something that will make the future a happier and safer place, and really they will have you to thank.&nbsp; As soon as you stand up, and try.
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <a href=".ww.wired.com/story/mind-games-the-tortured-lives-of-targeted-individuals/">
   <img src="/i.imgur.com/LMaicDv.png" width="500" height="137" alt="" />
  </a>
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  Because of it though, I know in my heart that these attacks are all related--the series of school shootings are very much related to&nbsp;
  <a href=".ansa.s.lamc.la">
   the thousands of victims all over the country
  </a>
  &nbsp;complaining of mind control technology being used to psychologically torture them.&nbsp; It's very obvious, when you've experienced it, when you know it's real.
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <a href=".ww.nytimes.com/2016/06/11/health/gang-stalking-targeted-individuals.html">
   <img src="/i.imgur.com/sJg3GEt.png" alt="" />
  </a>
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  Not seeing t
  <a href=".ww.cbsnews.com/news/navy-was-told-of-aaron-alexis-hearing-voices-incident-last-month/">
   he patterns connecting Aaron Alexis and statements that made news
  </a>
  &nbsp;during that attack on the Navy Yard that these victims were &quot;combatants&quot; that they were military people on a military base and connecting those statements ... it's a total lack of investigation into the cause of obvious patterns that are forcing us to look at this message--this message that revolves around obvious patterns being ignored by the whole world, and to take a step back and reflect on how many centuries you'd like to be stupid ... too stupid to connect &quot;my ELF gun&quot; to gang stalking, and too stoopid to protect your children from virtualized and simulated stray bullets.&nbsp;&nbsp;&nbsp;
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  We've had schools in this country since 1776, and we've had guns here that long too; what we haven't had here is organized darkness--liars, and secret keepers, what we haven't had here is proof that all of these things could be stopped with nothing more than the proliferation and the dissemination of the actual weapon behind the attacks--of mind control technology--in the news, and in scientific circles, and in the hands of the lawmakers and the people who decide how this battle through time plays out--how this technology will be allowed to be used in the future.&nbsp; We can see very clearly it's being used for evil today, and part of that evil is silence.&nbsp;
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <img src="/i.imgur.com/A1wZ6ZT.png" alt="" />
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: justify;">
  It's very plain to connect the delusion that this message is being caused by Apophenia to Apophis, and then to the snake of Eden and Ragnarok and to Hathor's temple reliefs in Dendera.&nbsp; It's pretty easy to see &quot;Thor&quot; and &quot;Ra&quot; in the name of that God and that city--but it takes actual analysis to connect these things to mind control technology.... or maybe it just takes two eyes and a working brain.&nbsp; &nbsp;
  <strong>
   The worlds of the prophets are written on the subway walls
  </strong>
  .
 </p>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <a href=".ww.unexplained-mysteries.com/forum/topic/240345-mind-control-its-been-here-the-whole-time/">
   <img src="/i.imgur.com/oUZI75d.png" width="640" height="174" alt="" />
  </a>
 </p>
 <h2 style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif;">
  <em>
   to answer my question, it means we are standing on the veranda of Heaven and all it takes to break on through to the other side is seeing the door and knock, knock, knocking.
  </em>
 </h2>
 <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
  <a href=".ationalwiki.org/wiki/RationalWiki_talk:What_is_going_on_in_the_clogosphere%3F">
   <img src="/i.imgur.com/5HIvAYc.png" width="503" height="39" alt="" />
  </a>
 </p>
 <h2 style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; text-align: justify;">
  <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
   I'm trying to give you a good idea of the level of interest I see across the country in this message--of the numbers I look at each day, without infringing on anyone's privacy.&nbsp; This is data for individuals that have opened a single email more than 4 times in this campaign since Christmas, it's a total of about 125 emails and 25,000 active readers,&nbsp; these are smart people--professors and students at the best schools in the country; and I think the numbers speak for themselves.&nbsp; This message is very real, and plain to see; and it's news--and what it will help us do is more than news,&nbsp;
  </span>
  <i style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
   it's the good news.
  </i>
  <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
   &nbsp; &nbsp;I hope someone on this list will cover the story, it's a quantum leap forward for humanity.
  </span>
 </h2>
 <div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; text-align: center;">
  &nbsp;
 </div>
 <div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; text-align: center;">
  <font size="-1" style="text-align: center;">
   <font face="arial black, sans-serif" size="4">
    <i>
     <font face="garamond, serif" size="6">
      are I tho? ...
     </font>
    </i>
    <i>
     <font face="garamond, serif" size="6">
      &nbsp;
     </font>
    </i>
   </font>
  </font>
  <b style="text-align: center;">
   <font face="arial black, sans-serif" size="4">
    <i>
     <font face="garamond, serif" size="6">
      Came lot?
     </font>
    </i>
   </font>
  </b>
  <font face="arial black, sans-serif" size="4" style="text-align: center;">
   <i>
    <font face="garamond, serif" size="6">
     &quot;
    </font>
   </i>
  </font>
 </div>
 <div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; text-align: center;">
  &nbsp;
 </div>
 <div dir="ltr" style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px;'>
  <div class="gmail_quote">
   <div dir="ltr">
    <div class="gmail_quote">
     <div dir="ltr">
      <div class="gmail_quote">
       <div dir="ltr">
        <div class="gmail_quote">
         <div dir="ltr">
          <div class="gmail_quote">
           <div dir="ltr">
            <div class="gmail_quote">
             <div dir="ltr">
              <div class="gmail_quote">
               <div dir="ltr">
                <div class="gmail_quote">
                 <div dir="ltr">
                  <div style="text-align: center;">
                   <div dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; text-align: start;">
                    <div style="text-align: center;">
                     <p style="text-align: justify;">
                      <b style="text-align: center; font-size: small;">
                       <span style="font-family: monospace, monospace; font-size: xx-small;">
                        RUDDER'S LOG, COLINKINO DE MAYO, 2018
                       </span>
                      </b>
                      <span style="text-align: center; font-size: small;">
                       .&nbsp;&nbsp;
                      </span>
                      <font face="garamond, serif" style="text-align: center; font-size: small;">
                       Today  I began re-framing my understanding of the layers of seas and the storm  in the Heavens.&nbsp; I've long believed, and shared that I have the  sneaking suspicion that the ultimate plan of Creation is to make  absolutely everyone wrong about the approaching moment of Zion; that  this would be done using mind control--thought alteration--and  ultimately &quot;absolution&quot; comes from seeing that we have been plagued in  this place since the dawn of Creation with the secret use of this  technology, something that has been an unavoidable road block the  microcosmic delivery of this message that centers around the hidden  advanced technologies that were a much larger obstacle in our way ... in  the way of the forward progress of civilization for significantly  longer.&nbsp; It's been clear to me as I've tried repeatedly to share what  amounts to very thought provoking and sought after information on forums  and other social media that as soon as the conversation began to turn  to this hidden control barriers grew exponentially, out of the woodwork  new soldiers would appear to &quot;crucify the truth&quot; and ensure that the  posts and the conversations were buried or deleted or censored into  oblivion.&nbsp; That's what's happening to us, on the macrocosm; we are being  buried or deleted or censored into oblivion but what appears to be  nothing other than the self defeating and &quot;controlled&quot; desire to hide  this information that pervades our world--and every word spoken since  the dawn of Creation.
                      </font>
                     </p>
                     <p>
                      <a data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ign.s.lamc.la&amp;source=gmail&amp;ust=1525934993475000&amp;usg=AFQjCNF_yO_BpbQ2mosswyLOrlwUPSiiog" href=".ww.youtube.com/watch?v=yb6gP8mjq7s&amp;t=8s" rel="noopener" target="_blank" style="text-decoration-line: none; color: rgb(65, 131, 196);">
                       <img alt="" height="229" src="/i.imgur.com/k8WKIJi.png" width="266" style="max-width: 100%;" />
                       &acirc;&euro;&lsaquo;
                      </a>
                     </p>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div dir="ltr" style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: 16px;'>
  <div class="gmail_quote">
   <div dir="ltr">
    <div class="gmail_quote">
     <div dir="ltr">
      <div class="gmail_quote">
       <div dir="ltr">
        <div class="gmail_quote">
         <div dir="ltr">
          <div class="gmail_quote">
           <div dir="ltr">
            <div class="gmail_quote">
             <div dir="ltr">
              <div class="gmail_quote">
               <div dir="ltr">
                <div class="gmail_quote">
                 <div dir="ltr">
                  <div style="text-align: center;">
                   <div dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; text-align: start;">
                    <div style="text-align: center;">
                     <p>
                      <em>
                       <span style="font-family: georgia, serif;">
                        &quot;... tryina' tell me no one understands?&quot;
                       </span>
                      </em>
                     </p>
                     <p style="text-align: center;">
                      <a href=".ww.reddit.com/r/conspiracy/comments/8kgzx1/so_were_living_in_virtual_reality_what_does_that/" style="font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: center;">
                       <img src="/i.imgur.com/QK3f34X.png" width="400" height="276" alt="" />
                      </a>
                     </p>
                     <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: left;">
                      Here's the full text of the reddit post, which is doing better than any I can remember... you're help could make all the difference in the world.
                     </p>
                     <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12px; text-align: left;">
                      <span style="color: rgb(34, 34, 34); font-family: inherit; font-size: 20px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">
                       <a href=".ww.reddit.com/r/conspiracy/comments/8kgzx1/so_were_living_in_virtual_reality_what_does_that/">
                        So we're living in virtual reality. What does that mean for us, and what should we do?
                       </a>
                      </span>
                     </p>
                     <div class="s1hmcfrd-0 gOQskj" style='text-align: start; margin: 0px; padding: 5px 8px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); word-break: break-word; overflow: auto;'>
                      <h1 class="s570a4-0 bKhWMl" style="margin: 1.4em 0px 8px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 22px; line-height: 26px; vertical-align: baseline;">
                       <a target="_blank" class="s570a4-27 jsFehi" href="./CHALK.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        Chalk
                       </a>
                      </h1>
                      <p class="s570a4-10 iEJDri" style="margin: 0px; padding: 0.25em 0px; border: 0px; font: inherit; vertical-align: baseline; text-align: justify;">
                       I have&nbsp;
                       <a target="_blank" class="s570a4-27 jsFehi" href="./CHALK.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        an introduction to proof of this
                       </a>
                       , proof that leads down the rabbit hole to&nbsp;
                       <a target="_blank" class="s570a4-27 jsFehi" href="./ERICHOW.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        every word of every language
                       </a>
                       ; tying to&nbsp;
                       <a target="_blank" class="s570a4-27 jsFehi" href="./FINALE.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        religion and to science fiction and to conspiracy theories
                       </a>
                       &nbsp;ad naseum. To me, it's&nbsp;
                       <a target="_blank" class="s570a4-27 jsFehi" href="./CLEARYBLVD.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        the holy grail
                       </a>
                       , what do you think?
                      </p>
                      <blockquote class="s570a4-9 kzSHll" style="margin: 4px 0px 4px 8px; padding: 0px 0px 0px 8px; border-width: 0px 0px 0px 4px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: solid; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: rgba(28, 28, 28, 0.2); border-image: initial; font: inherit; vertical-align: baseline; quotes: none;">
                       <p class="s570a4-10 iEJDri" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; text-align: justify;">
                        <a target="_blank" class="s570a4-27 jsFehi" href=".n.wikipedia.org/wiki/User:Damonthesis" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         Superman
                        </a>
                        &nbsp;returns from&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href=".eart.lamc.la/" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         Cybertron
                        </a>
                        &nbsp;to mentally&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href=".l.s.lamc.la/" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         link Minority Report with the Wachowski's Matrix series an
                        </a>
                        d suggest the thought-in-and-of-itself will end school shootings&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href=".n.wikipedia.org/wiki/If_and_only_if" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         ifi
                        </a>
                        &nbsp;appearing on the front page of the New York Times. Kal-El claims th
                        <a target="_blank" class="s570a4-27 jsFehi" href=".rrr.s.lamc.la/" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         at dozens-of-thousands of very intelligent reader
                        </a>
                        s (and bystanders and onlookers) are leaning towards agreeing with him at this very moment in time.
                       </p>
                      </blockquote>
                      <p class="s570a4-10 iEJDri" style="margin: 0px; padding: 0.25em 0px; border: 0px; font: inherit; vertical-align: baseline; text-align: justify;">
                       Not even kidding, the idea that Superman's power comes from the fact that our sun is virtual connects&nbsp;
                       <a target="_blank" class="s570a4-27 jsFehi" href=".ylife.s.lamc.la/" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        the word &quot;fusion&quot; and &quot;physi
                       </a>
                       cs&quot; together hopefully&nbsp;
                       <a target="_blank" class="s570a4-27 jsFehi" href="..s.lamc.la/" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        adding some light
                       </a>
                       &nbsp;connecting Silicon to these ideas. Computer science shows up there at the &quot;end of physics&quot; but really it's just the beginning of understanding the key to a hidden history being revealed and to a bright future.
                      </p>
                      <p class="s570a4-10 iEJDri" style="margin: 0px; padding: 0.25em 0px; border: 0px; font: inherit; vertical-align: baseline; text-align: justify;">
                       The first link here really is my best description of what this message is today, it's written in chalk, even though it's every word and quite a bit of modern music and art, and for sure--for sure it's lots and lots of mythology and religion. That links starts off hopefully bringing some light to the idea that Minority Report and A Scanner Darkly and Phillip K. Dick in general... link to the Matrix as part of this woven message that connects names and ideas to a map to building Heaven--beginning with ending the &quot;Plague of Killing the Firstborn Children&quot; .... and do see, that's &quot;school shootings.&quot;
                      </p>
                      <p class="s570a4-10 iEJDri" style="margin: 0px; padding: 0.25em 0px; border: 0px; font: inherit; vertical-align: baseline; text-align: center;">
                       <a href=".diohas.lamc.la">
                        <img src="/i.imgur.com/8LnV4Rg.png" width="501" height="208" style="font-size: 14px; text-align: start;" alt="" />
                       </a>
                      </p>
                      <blockquote class="s570a4-9 kzSHll" style="margin: 4px 0px 4px 8px; padding: 0px 0px 0px 8px; border-width: 0px 0px 0px 4px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: solid; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: rgba(28, 28, 28, 0.2); border-image: initial; font: inherit; vertical-align: baseline; quotes: none;">
                       <p class="s570a4-10 iEJDri" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; text-align: justify;">
                        The &quot;
                        <span class="s570a4-14 kYTLgH" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         gist
                        </span>
                        &quot; of the message is&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href="./2017-06-09-verily-i-say-unto-you-ver-means-to-see.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         <span class="s570a4-14 kYTLgH" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                          verifiable
                         </span>
                        </a>
                        &nbsp;
                        <span class="s570a4-14 kYTLgH" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         proof
                        </span>
                        &nbsp;that we are&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href=".ww.prlog.org/12642309-great-sign-appeared-in-revelation-121-the-sign-of-sagittarius-in-the-word-christ-and-on-taylor.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         living in a computer
                        </a>
                        &nbsp;in&nbsp;
                        <em class="s570a4-15 bDsWbe" style="margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         simulated reality
                        </em>
                        ...&nbsp;
                        <em class="s570a4-15 bDsWbe" style="margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         just like the Matrix.
                        </em>
                        &nbsp;The answer to that question, what does that mean--is that God has woven a &quot;hidden&quot; message into our everything--beginning with each name and&nbsp;
                        <span class="s570a4-14 kYTLgH" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         every word
                        </span>
                        --and in this hidden Adamic language, he provides us with guidance, wisdom, and suggestions on how to proceed on this path from &quot;raelity&quot; to Heaven. &nbsp;I've personally spent quite a bit of time decoding the message and have tried to deliver an i
                        <span class="s570a4-14 kYTLgH" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         nteresting and &quot;fun&quot; narrative of the ideas I see.&nbsp; Specifically the story of Exodus, which is called &quot;Names&quot; in Hebrew discusses a time shifted nar
                        </span>
                        rative of our &quot;now&quot; delivering our society from a hidden slavery (re*ad as&nbsp;ignorance of advanced technologies already *in use) that is described as&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href="./2017-06-14-enders-game-prometheus-locke-and.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         the &quot;darkness&quot; of Exodus
                        </a>
                        . &nbsp;If you have&nbsp;
                        <span class="s570a4-14 kYTLgH" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
                         any questions
                        </span>
                        , ideas to contribute or concerns... I'd&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href=".yerc.slack.com/join/shared_invite/MjM2NDM2Mjc3Nzk4LTE1MDQ0MDE3NzQtMmU5NjI1N2VmOQ" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         love to hear from you
                        </a>
                        &nbsp;this whole&nbsp;
                        <a target="_blank" class="s570a4-27 jsFehi" href="./GATE.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         thing really is
                        </a>
                        &nbsp;about working together--
                        <a target="_blank" class="s570a4-27 jsFehi" href="./ADAMSROD.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                         Heaven
                        </a>
                        , I mean.
                       </p>
                      </blockquote>
                      <h1 class="s570a4-0 bKhWMl" style="margin: 1.4em 0px 8px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 22px; line-height: 26px; vertical-align: baseline; text-align: center;">
                       <a target="_blank" class="s570a4-27 jsFehi" href="./WHO.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">
                        What should we &quot;do?&quot;
                       </a>
                       &nbsp;
                      </h1>
                      <p style="text-align: center;">
                       <a href=".er.s.lamc.la">
                        <img src="/i.imgur.com/3AUigxl.png" width="500" height="261" alt="" />
                       </a>
                      </p>
                      <p style="text-align: center;">
                       look, it's clear. &quot;
                       <em>
                        kiss
                       </em>
                       &quot; means &quot;in virtual reality&quot; and that means ...
                      </p>
                      <p style="text-align: center;">
                       you are either &quot;The Sims&quot; or the creators of Heaven.
                      </p>
                      <p style="text-align: center;">
                       <strong>
                        <em>
                         <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">
                          Bet
                         </span>
                        </em>
                       </strong>
                       <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">
                        ; you can see &quot;
                        <strong>
                         the hub
                        </strong>
                        &quot; at&nbsp;
                       </span>
                       <a href=".hehub7xbw4dc5r2.onion.to/index.php?topic=20927.0;all" target="_blank" data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.hehub7xbw4dc5r2.onion.to/index.php?topic%3D20927.0;all&amp;source=gmail&amp;ust=1534280931699000&amp;usg=AFQjCNGSw4of-TLkJqidol-xGVHWFhwWqw" style="font-family: arial, sans-serif; font-size: 12.8px; color: rgb(17, 85, 204);">
                        .hehub7xbw4dc5r2.
                        <wbr>
                        </wbr>
                        onion.to/index.php?topic=20927.0;
                        <wbr>
                        </wbr>
                        all
                       </a>
                       <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">
                        , but
                       </span>
                       <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">
                        &nbsp;
                       </span>
                       <i style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">
                        you'll&nbsp;
                        <a href=".ww.torproject.org/download/download-easy.html.en" target="_blank" data-saferedirecturl=".ww.google.com/url?hl=en&amp;q=.ww.torproject.org/download/download-easy.html.en&amp;source=gmail&amp;ust=1534280931699000&amp;usg=AFQjCNF9Aaz_b6gFlxutJTGZcETX7HJoOw" style="color: rgb(17, 85, 204);">
                         need TorBrowser
                        </a>
                        .
                       </i>
                      </p>
                      <p style="text-align: center;">
                       &nbsp;
                      </p>
                      <p style="text-align: center;">
                       <a href="..s.lamc.la">
                        <img src="/i.imgur.com/htyVRpd.png" style="text-align: start;" width="400" height="311" alt="" />
                       </a>
                      </p>
                      <p style="text-align: center;">
                       <em>
                        PG-13?
                       </em>
                      </p>
                      <p style="text-align: center;">
                       <img src="/i.imgur.com/ER9S4zg.png" style="text-align: start;" alt="" />
                      </p>
                     </div>
                     <p style="text-align: justify;">
                      &nbsp;
                     </p>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div style='color: rgb(51, 51, 51); font-family: "Open Sans", sans-serif; font-size: small; text-align: center;'>
  &nbsp;
 </div>
</div>
<p>
 &nbsp;
</p>
