<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div>
<div style="text-align: center;"><a href="./"><img src="/i.imgur.com/dwLIonP.png" alt="" /></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
<div style="text-align: center;"><a href=".mega.september2016.com/"><img id="BLOGGER_PHOTO_ID_6495017500754793394" src="/i.imgur.com/canHZnh.png" alt="" width="460" height="178" border="0" /></a></div>
</div>
<div style="text-align: center;"><a href="./MEDUSA.html"><img id="BLOGGER_PHOTO_ID_6495017512814991698" src="/i.imgur.com/abLzlvw.png" width="500" height="217" border="0" alt="" /></a>​&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div>
<div style="text-align: center;"><a href=".mega.september2016.com/"><img id="BLOGGER_PHOTO_ID_6495017525045310226" src="/i.imgur.com/En5SCA2.png" border="0" width="508" height="164" alt="" /></a></div>
<div>
<div style="text-align: center;"><a href=".en.september2016.com/"><img id="BLOGGER_PHOTO_ID_6495017531546454162" src="/i.imgur.com/7DVWpaW.png" border="0" width="500" height="369" alt="" /></a></div>
<div style="text-align: center;"><a href="./2017/06/enders-game-prometheus-locke-and.html?WkUNk/"><img id="BLOGGER_PHOTO_ID_6495017541576377202" src="/i.imgur.com/nfLUxbT.png" border="0" width="500" height="138" alt="" /></a></div>
<div>
<div style="text-align: center;"><a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html"><img id="BLOGGER_PHOTO_ID_6495017547005275602" src="/i.imgur.com/YHhNQsq.png" border="0" width="502" height="138" alt="" /></a></div>
<div><a href=".adragonbreath.blogspot.com/2017/09/ha-lot-are-idaho.html"><em><img id="BLOGGER_PHOTO_ID_6495017562531007890" style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/o8DEn5l.png" border="0" width="502" height="82" alt="" /></em></a></div>
</div>
</div>
<div>&nbsp;</div>
<div style="text-align: justify;"><strong>@TENT</strong>... He says, wish a grin somewhere between &quot;sheepish&quot; and knowing.... these are the words that begin a pivotal film, one that ties together hopes with dreams and stories of what it is that I think might actually happen here, in the very near future.&nbsp; It's a move made by a company called <strong>4D FILMS</strong> starring Michael Jackson and playing at Disney World in Florida, not so far... only a few hours from where I spent most of the thirty six years I've existed.&nbsp; It highlights something that <em>might be &quot;IT</em>&quot; in the Stephen King rendition of what that word means, something like &quot;to scare you into not paying attention&quot; but in my reading of the idea it's &quot;to scare you into&quot; doing something .... &quot;right&quot; because <a href="./THREETAG.html?aWkWO/">you think something &quot;wrong&quot; has happened</a>.&nbsp; Not to say 'the wrong thing' hasn't happened at all--we can see very clearly that something is not &quot;right&quot; today.&nbsp;&nbsp;</div>
<div>&nbsp;</div>
<div><a href=".mega.september2016.com/TION.html"><img id="BLOGGER_PHOTO_ID_6495017568851132466" style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/MlLuqaD.png" border="0" width="500" height="272" alt="" /></a></div>
<div style="text-align: center;"><a href=".adragonbreath.blogspot.com/2017/09/applegates-and-covenants.html"><img id="BLOGGER_PHOTO_ID_6495017579748507154" src="/i.imgur.com/39IJPL2.png" border="0" width="501" height="130" alt="" /></a></div>
<div>&nbsp;</div>
<div style="text-align: justify;">It connects a <em>number the Bible calls &quot;Holy only to God&quot;</em> to stories that we all know so well... to the days and nights of Noah's ark, to the years Moses and the Jews; here as a microcosm of all humanity in our world where <a href="./ERANDSON.html">Cairo is tied to Windows XP</a> and <a href=".adragonbreath.blogspot.com/2017/09/914.html">9/14 to windows ME</a> as a kind of hint as to what might be going on; as we are wandering around in the desert of Egypt waiting to enter the Promised Land of &quot;Flowing Milk and Honies&quot; that is just one more metaphor for &quot;Heaven&quot; after the Temple Mount and it's history.&nbsp; &nbsp;It ties too to the story of Jesus Christ in the book of Matthew wandering around in <a href=".ww.linkedin.com/pulse/wandering-wilderness-40-days-its-happening-right-now-dobrin">the wilderness for only 40 days</a>--and in that quick moment we might see that the desert and the wilderness and the storm of Noah all have something in common--something that never really get's talked about... you know, outside of Netflix and Brad Wright's Travelers... all of this to show you that the world has &quot;missed the point&quot; of the number 40, this thing is truly about &quot;time&quot; and that's exactly why &quot;days and nights&quot; ... years ... and wandering around looking for answers that are right in front of our&nbsp;<strong>nose</strong>.&nbsp;&nbsp;</div>
<div>&nbsp;</div>
<div style="text-align: center;"><a href=".ww.youtube.com/watch?v=PFQVCmbDgl4"><img id="BLOGGER_PHOTO_ID_6495017590911909762" src="/i.imgur.com/u6unM9m.png" border="0" width="245" height="135" alt="" /></a>&nbsp;<a href=".ww.youtube.com/watch?v=dFkXrJ8YWvI&amp;feature=youtu.be&amp;t=188"><img id="BLOGGER_PHOTO_ID_6495017602138647170" src="/i.imgur.com/JPWAewS.png" border="0" width="241" height="135" alt="" /></a></div>
<div>&nbsp;</div>
<div style="text-align: justify;">No southeast, that word tells me many people agree with, for those of you unfamiliar with the Compass of Christ that connects Jews and News &quot;south&quot; means down below ... a direction we will never go--I say to the blood of Christ as we continue to fall into the abyss of silence.&nbsp; &nbsp;Pivotal words... answers coming to us; &quot;<strong>WE ARE HERE TO CHANGE THE WORLD.</strong>&quot;&nbsp; Here I've called it &quot;God's glowing Y&quot; connecting the Flux Capacitor to the fourth dimension and to AM Y ADAMS, and a series of movies that show us just how his&nbsp;<em>other &quot;<a href="./2017/06/morning-is-broken.html">pen</a>&quot;&nbsp;</em>works.&nbsp; In the naming of things, like the book of Exodus named&nbsp;NAMES&nbsp;in Hebrew.&nbsp; Speaking of Names, <a href=".ww.youtube.com/watch?v=Fr_CHOxSyc8&amp;index=5&amp;list=PLgYKDBgxsoMNvBS6k4NffQQnobyUqXuMh">we are now approaching my birthday, December 8, 1980</a>--etched into my name is the acronym for &quot;date of birth&quot; showing me at least, that there's something special about that day.&nbsp; &nbsp;The Feast of the Immaculate Conception is what it's celebrated as, and today we can probably see very clearly that it's a joke too--<em>something about a mess.</em></div>
<div style="text-align: justify;"><em>&nbsp;</em></div>
<div style="text-align: justify;">HUMANITY PREVAILS OUT OF THE FIRE<em>, tattoo'd on my arm in 2012 around a modified EYE OF RA turning his tears to stars;&nbsp; a bright fire that begins as we can all see with proof of time travel booming out of Exodus, out of the Hebrew&nbsp;</em><a href=".ww.youtube.com/watch?v=AevgjKPDgfM&amp;feature=youtu.be">word for the fire of the Burning</a>&nbsp;<strong><a href="./2017/08/proof-of-time-travel-should-be-enough.html">Bush</a>;&nbsp;</strong>another shining bright name showing us design&nbsp;<a href="./">and purpose</a>&nbsp;pouring through the fabric of our reality, the tapestry&nbsp;<strong><a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html">that is the Matrix</a></strong>.&nbsp; &nbsp;Tied&nbsp;<a href=".mega.september2016.com/TION.html">closely to the English word for &quot;sea'&nbsp;</a>parted by an apostrophe is the most iconic phrase ever spoken by God, in the book of Genesis, and&nbsp;<a href="./SIGNAL.html">also encoded over those words</a>&nbsp;in&nbsp;<strong>Bible Code</strong>--not&nbsp;<a href="./ADAMSROD.html">an anomaly</a>--we see those words appearing now encoded in &quot;Linux and Chemistry&quot; I like to say, in my &quot;native Greek&quot;&nbsp;&nbsp;<em>to be...&nbsp;<strong>tongue in cheek</strong>,&nbsp;</em>backwards.&nbsp; &quot;Xe&quot;&nbsp;<em>the bright flash</em>&nbsp;of a beginning of a series of ele<a href=".ye.september2016.com/SVNLQ/">ments that begin with Mercury and end with Uranus tying 1:1 the first seven planets to a message linking &quot;ele</a>mentary&nbsp;<a href=".ww.youtube.com/watch?v=Sws3MZJIv9c&amp;list=PLgYKDBgxsoMM0iittdDlREVqTc4wn7ylK">my dear who</a>-sons&quot; to the Herald of the Second Coming of Jesus Christ, linking Revelation 1:20 to Ecclesiastes 9:11... spoken by President Bush tying them together&nbsp;<em><a href=".ww.youtube.com/watch?v=AevgjKPDgfM&amp;feature=youtu.be">during his inaugural address.</a></em></div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">To show us the design of our civilization, to show us time tra<a href=".mega.september2016.com/WHO.html">vel; and to explain why it is that we</a>&nbsp;really need to&nbsp;<a href=".en.september2016.com/">talk about things like pre-crime and how they are central to this message</a>&nbsp;of freedom and truth.... the truth that we are&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html">in the Matrix</a>&nbsp;and we're sick of watching this&nbsp;<em>darkness</em>.</div>
<div><em>&nbsp;</em></div>
<div><a href=".ye.september2016.com/"><img id="BLOGGER_PHOTO_ID_6495017610215924514" style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/aJDX2bM.png" width="500" height="267" border="0" alt="" /></a></div>
<div style="text-align: center;"><a href=".n.wikipedia.org/wiki/Xenon_lamp"><img id="BLOGGER_PHOTO_ID_6495017618880485442" src="/i.imgur.com/kGwh31m.png" border="0" width="270" height="280" alt="" /></a>&nbsp;<a href="./2017/08/proof-of-time-travel-should-be-enough.html"><img id="BLOGGER_PHOTO_ID_6495017626185344930" src="/i.imgur.com/reFXFtk.png" border="0" width="203" height="280" alt="" /></a></div>
<div style="text-align: center;"><a href="./2017/08/proof-of-time-travel-should-be-enough.html"><img id="BLOGGER_PHOTO_ID_6495017632855752130" src="/i.imgur.com/yECYEJw.png" border="0" width="214" height="100" alt="BUSH WHAT?" /></a>&nbsp;<a href=".ye.september2016.com/"><img id="BLOGGER_PHOTO_ID_6495017648105117890" src="/i.imgur.com/P0rvkkR.png" border="0" width="194" height="100" alt="MY DEAR SON!" /></a></div>
<div style="text-align: center;"><a href=".mega.september2016.com/WHO.html"><img id="BLOGGER_PHOTO_ID_6495017650518067074" src="/i.imgur.com/tBlVnpH.png" alt="PLANET ADAMAH... WHO-AH?" border="0" width="500" height="448" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><a href=".ww.youtube.com/watch?v=ufOxJRYU738"><img id="BLOGGER_PHOTO_ID_6495017659459273122" src="/i.imgur.com/bbHEGqJ.png" alt="" border="0" /></a></div>
<div style="text-align: center;"><a href=".adragonbreath.blogspot.com/2017/09/duck-duck-golden-egg.html"><img src="/i.imgur.com/uvL2C8P.png" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
<div>
<div style="text-align: justify;">A song&nbsp;<a href=".ww.youtube.com/watch?v=ufOxJRYU738" target="_blank" rel="noopener">with an interesting name</a>; see... losing &quot;free government&quot; is both an Elephant and an ass in the room.&nbsp; Don't be mal, see this is about &quot;civilization,&quot; really.&nbsp; To be clear and to the point, I am a real boy, Ghepetto, not Dumbo; and this is&nbsp;<a href=".ww.unduecoercion.com/2017/08/yesterda.html" target="_blank" rel="noopener">not the ELE</a>, the thing threatening &quot;life&quot; existing is a failure to see that &quot;not acting like you are alive&quot; is a threat to ... life existing.&nbsp; It's really obvious, I think; there's no force of superintelligence or a&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/let-there-be-light-and-in-similitude.html" target="_blank" rel="noopener">higher&nbsp; civilization</a>&nbsp;secretly at work here&nbsp;<a href=".tb.september2016.com/" target="_blank" rel="noopener">causing babies to starve</a>&nbsp;and&nbsp;<strong>blindness</strong>&nbsp;and&nbsp;<a href="./2017/10/the-cure.html" target="_blank" rel="noopener">cance<wbr></wbr>r</a>&nbsp;to be &quot;simulated.&quot;&nbsp;&nbsp;</div>
<p><a href=".ww.prlog.org/12646889-so-you-think-you-can-tell-heaven-from-hell-fake-blue-skies-from-antagonizing-pain.html"><img id="BLOGGER_PHOTO_ID_6495017669522181362" style="display: block; margin-left: auto; margin-right: auto;" src="/i.imgur.com/jHKg76c.png" width="400" height="75" border="0" alt="" /></a></p>
</div>
<div>
<div style="text-align: justify;">Think like a computer, it's a shit load of work you have to do to make those things happen; like spinning on a&nbsp;<span class="gmail-il">hamster</span>&nbsp;<span class="gmail-il">wheel</span>&nbsp;to make a&nbsp;light-bulb&nbsp;go on, except instead of a light bulb it's a &quot;starve your kid&quot; device.&nbsp; That's what we're dealing with here.&nbsp; Our&nbsp;<em><a href=".adragonbreath.blogspot.com/2017/11/re-its-sad-honestly-you-dont-see-it.html" target="_blank" rel="noopener">lack of &quot;working together&quot;</a></em>&nbsp;has caused us to fail to connect &quot;it's&nbsp;<a href=".adragonbreath.blogspot.com/2017/11/mal-who-to-is-it-all-hallows-morrow.html" target="_blank" rel="noopener">simulated</a>&quot; with &quot;<a href=".ww.prlog.org/12646889-so-you-think-you-can-tell-heaven-from-hell-fake-blue-skies-from-antagonizing-pain.html" target="_blank" rel="noopener">what that means</a>&quot; and &quot;what it can do for us&quot; and it's about time we woke up and became the heroes that we really are&nbsp;destined&nbsp;to be.&nbsp; It's more than &quot;a point&quot; simulating maladies is a sickness, period.&nbsp; Failing to connect &quot;silicon&quot; to &quot;sick&quot; is blindness, and we really need to work together ... today; to help all the &quot;near heroes&quot; here on Earth be a little less blind.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Really see the point, this is change that is morally required, mandated, nearly universally wanted... yesterday.&nbsp; Understand, it's the kind of thing we'd probably bitch about not having done fast enough, and then as soon as it's done for us; about how we could have done a better job--nobody wanted to&nbsp;<a href=".tb.september2016.com/" target="_blank" rel="noopener">eat Cake instead</a>.&nbsp; And here we are, failing to connect &quot;conversation&quot; as the most fundamental ingredient in any society to the fact that we are refusing to talk about something that is ... well, it's the most important thing in the world to us all, and to our future.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: center;">Just do it.&nbsp; &quot;Green Light.&quot;&nbsp; Nike.&nbsp; Adam says...&nbsp;ASAP?&nbsp; Please?</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;"><strong>ORY.</strong></div>
<div>&nbsp;</div>
</div>
<div style="text-align: center;"><a href=".reiten.fromthemachine.org/"><img src="/i.imgur.com/YvfXTAK.png" alt="" /></a></div>
<div style="text-align: justify;">&nbsp;</div>
<div>
<div style="text-align: justify;">In defense of the &quot;<a href=".edium.com/in-pursuit-of-happiness/on-the-salted-road-through-the-amduat-317cd4967339#.5sfavm80z">AMDuat</a>&quot; my reading of the ancient Egyptian recollection of where and why we are now tells me that this place ... that the Underworld was &quot;required&quot; in order to repopulate the Universe with actual life.&nbsp; That might seem like a bit of an exaggeration, though even here today we can see how--without the kind of oversight and foresight that I am suggesting we need to ensure things like &quot;nuclear winters&quot; don't happen &quot;by accident&quot; or some other kind of&nbsp;<strong>MAD self destruction</strong>&nbsp;happens....&nbsp;<em>achem</em>....&nbsp;</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Though the story I am hearing now, what I am piecing together is that Heaven ... or what came of past iterations of &quot;this&quot; became too reliant on &quot;computer science&quot; to solve it's problems; rather than solutions that would also work in the natural Universe.&nbsp; That too might seem like a stretch of the imagination, except you have abundant proof here that the &quot;darkness&quot; we are experiencing is something that is not possible in reality; and on top of that looking at quantum mechanics we can see very clearly how we might &quot;string st. ring&quot; up accidentally without really seeing that without this disclosure we'd be very confused if we ever did get to &quot;reality.&quot;&nbsp; &nbsp;</div>
<div>&nbsp;</div>
<div style="text-align: center;"><a href=".mega.september2016.com/TION.html"><img src="/i.imgur.com/fUkdKRT.png" alt="" /></a></div>
<div>&nbsp;</div>
<div style="text-align: justify;">Understand that&nbsp;<a href="./2017/06/and-fish-were-like-did-you-teach-these.html">our &quot;science&quot; has been intentionally made incorrect</a>; that we are believing that a computer hack is in fact something that could ever be in reality; even though Einstein and others gave us ample proof that &quot;god does not play dice with the universe&quot; and the spooky action here, this thing that is causing silence and retardation beyond belief is an &quot;IT&quot; that I would never allow &quot;out of the box.&quot;&nbsp; We need to ensure &quot;IT&quot; isn't in our box either, since this is our home--and we should&nbsp;<em>not</em>&nbsp;want to be &quot;retarded&quot; forever.&nbsp; &nbsp; Stop being &quot;IT.&quot;</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">With some &quot;insight&quot; we might see how &quot;<strong>IT</strong>&quot; was caused by &quot;<a href="./2017/06/and-fish-were-like-did-you-teach-these.html">magic</a>&quot; and this desire to ensure that control was maintained here int his place, a desire that I reaffirm here, as a child staring at something horrendously wrong, something I did not do.... and have spent my entire adult life trying to right.&nbsp; &nbsp;<a href=".eshuare.emplifyhr.com/CONFESSION.html">See that I know that my desire to &quot;maintain control&quot; is wrong</a>, and that I have no interest in &quot;IT&quot; contin<a href=".mega.september2016.com/TION.html">uing to run this sh</a>ow.&nbsp; At the same time, you are&nbsp;rebuking&nbsp;and fighting against my attempts&nbsp;<a href=".ate.shiningbright.online/">to get you &quot;in control&quot;</a>--what I think is obviously not only in your best interest, but the only way we can survive.&nbsp; If you do not begin to react and to act appropriately you might stop wondering why it is that &quot;IT&quot; never succeeds.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">IMO ... &quot;IT&quot; is thousands of people looking at this picture above and doing nothing, allowing this ridiculousness to continue buried in a sandstorm of silence... and the biggest story and most important disclosure in all of history...&nbsp;<em>not making the Fake News.</em>&nbsp;</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Don't be &quot;IT,&quot;&nbsp;<em>again.</em></div>
</div>
<div>&nbsp;</div>
<div style="text-align: center;"><a href=".ww.unduecoercion.com/2017/07/re-k.html"><img id="BLOGGER_PHOTO_ID_6495017683941105250" src="/i.imgur.com/mHpdC1K.png" width="185" height="200" border="0" alt="" /></a><a href=".ww.unduecoercion.com/2017/07/lets-go-skinny-dipping-come-on-itll-be_6.html"><img id="BLOGGER_PHOTO_ID_6495017689002818546" src="/i.imgur.com/ED3mh1a.png" width="187" height="200" border="0" alt="" /></a></div>
<div style="text-align: center;">&nbsp;</div>
</div>
<div dir="ltr">
<div style="text-align: center;">
<div class="gmail_quote" style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px; text-align: justify;">
<div dir="ltr" style="margin: 0px; outline: none; padding: 0px;">
<div style="margin: 0px; outline: none; padding: 0px; text-align: center;"><center>
<div style="margin: 0px; outline: none; padding: 0px; width: 555px;">
<div style="margin: 0px; outline: none; padding: 0px;"><center>
<div style="margin: 0px; outline: none; padding: 0px; width: 555px;"><center>
<div style="margin: 0px; outline: none; padding: 0px; width: 555px;">
<div class="gmail-separator" style="clear: both; margin: 0px; outline: none; padding: 0px;">
<div style="color: #222222;"><a href="./THREETAG.html"><img border="0" id="BLOGGER_PHOTO_ID_6495019890460906546" src="/i.imgur.com/YChX5ST.png" width="500" height="89" alt="" /></a></div>
</div>
<div class="gmail-separator" style="clear: both; margin: 0px; outline: none; padding: 0px;"><span style='color: rgb(85 , 0 , 85); font-family: "times new roman" , serif; font-size: 20px;'><a href=".witter.com/yitsheyzeus/status/804005770937462784" style='color: rgb(0 , 158 , 184); display: inline; font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; outline: none;'><img border="0" height="273" src="/i.imgur.com/JqLXL7y.png" style="border: 9px none; box-sizing: border-box; display: inline-block; margin: 10px 0px 10px auto; padding: 8px;" width="284" alt="" /></a><a href=".witter.com/yitsheyzeus/status/804001716979044352" style='color: rgb(0 , 158 , 184); display: inline; font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; outline: none;'><img border="0" height="278" src="/i.imgur.com/cIokKzF.png" style="border: 9px none; box-sizing: border-box; display: inline-block; margin: 10px 0px 10px auto; padding: 8px;" width="255" alt="" /></a></span></div>
</div>
<div style="margin: 0px; outline: none; padding: 0px; width: 555px;">&nbsp;</div>
<div style="margin: 0px; outline: none; padding: 0px; width: 555px;"><span style="font-size: medium;">And look,&nbsp;<b>here we are</b>, nearly ready to&nbsp;<b><span style='font-family: "arial narrow" , sans-serif;'><a href=".ww.youtube.com/watch?v=Sp1dfoTV_z4" style='display: inline; font-family: "arial" , sans-serif; outline: none;' target="_blank">build this thing together</a></span></b>.</span></div>
</center></div>
</center></div>
</div>
</center></div>
</div>
<div hspace="streak-pt-mark" style="margin: 0px; max-height: 1px; outline: none; padding: 0px; text-align: center;"><img alt="" src="/i.imgur.com/OkZm9tO.png" style="border: 0px; box-sizing: border-box; display: inline-block; height: auto; margin: 10px auto; max-height: 0px; max-width: 100%; overflow: hidden; padding: 8px; width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
</div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;">&nbsp;</div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;"><a class="gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-m_-6330286821405748585gmail-m_1768202478829021272gmail-m_8445519148962311732gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-m_-6330286821405748585gmail-m_1768202478829021272gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-m_-6330286821405748585gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-playable" href=".ww.youtube.com/watch?v=Sp1dfoTV_z4" style='display: inline; font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; outline: none;' target="_blank"><img alt="Inline image 1" src="/i.imgur.com/i0B6qUQ.png" style="border: 0px; box-sizing: border-box; display: inline-block; height: auto; margin: 10px auto; max-width: 100%; padding: 8px;" width="288" /></a></div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;"><b style="background-color: white;"><span style='font-family: "arial black" , sans-serif; font-size: x-large;'><img alt="Inline image 3" height="70" src="/i.imgur.com/sKoUOlK.png" style="border: 0px; box-sizing: border-box; display: inline-block; margin: 10px 0px 10px auto; padding: 8px;" width="70" /></span></b><a href="..bp.blogspot.com/-fgqH7En_7tY/WiLyL-5INoI/AAAAAAAALFM/eq1cmk2E6dkF5937E4R-DelFulC1uhe7QCK4BGAYYCw/s1600/image-761934.png"><img alt="" border="0" id="BLOGGER_PHOTO_ID_6495019900296771202" src="/i.imgur.com/GpzJwKo.png" /></a></div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;"><a class="gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-m_-6330286821405748585gmail-m_1768202478829021272gmail-m_8445519148962311732gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-m_-6330286821405748585gmail-m_1768202478829021272gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-m_-6330286821405748585gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-m_2570774652781618968gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-m_-311997900303128250gmail-playable gmail-m_5355916849541164590m_6572630667622414320gmail-playable" href=".ww.youtube.com/watch?v=ONRTzWy26Ko" style='display: inline; font-family: "helvetica neue light" , , "helvetica neue" , "helvetica" , "arial" , sans-serif; outline: none;' target="_blank"><img alt="Inline image 2" height="482" src="/i.imgur.com/YTLBtBc.png" style="border: 0px; box-sizing: border-box; display: inline-block; margin: 10px 0px 10px auto; padding: 8px;" width="358" /></a>&nbsp;</div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;"><a href="./THREETAG.html?ackZb/"><img src="/i.imgur.com/vgXDTMa.png" style="background-color: rgb(255, 255, 255);" alt="" /></a></div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;"><a href="./2017/06/hammer.html"><img src="/i.imgur.com/RSKQD79.png" style="background-color: rgb(255, 255, 255);" alt="" /></a></div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;"><a href="./THREETAG.html"><img src="/i.imgur.com/XXHn7Fs.png" style="background-color: rgb(255, 255, 255);" alt="" /></a></div>
<div style="background-color: rgb(250 , 250 , 250); color: rgb(51 , 51 , 51); margin: 0px; outline: none; padding: 0px;">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div><img src="/i.imgur.com/pd5IyZh.png" alt="" />ᐧ</div>
</div>
</div>
<div><img src="/i.imgur.com/2TJ3bX8.png" alt="" />ᐧ</div>
</div>
</div>
<div><img src="/i.imgur.com/waOYBw2.png" alt="" />ᐧ</div>
</div>
<div hspace="streak-pt-mark" style="max-height: 1px;"><img alt="" src="/i.imgur.com/yuxcVR8.png" style="max-height: 0px; overflow: hidden; width: 0px;" /><span style="color: white; font-size: xx-small;">ᐧ</span></div>
