<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<div class="gmail_quote">
<div dir="ltr">
<center>
<div style="text-align: justify; width: 300px;">
<br />It's people refusing to see "patterns" that are plain as daylight are the reason that we have a country that can't&nbsp;<a class="m_-6346665181364964792m_-3823169461340017793gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793gmail-jsFehi" href=".it.ly/2LkJKq3" rel="noopener" target="_blank">"see the pattern" connecting school shooting and gang stalking</a>&nbsp;to mind control in the media, and in history.&nbsp;</div>
</center>
<br />
<div style='color: rgb(0 , 0 , 0); font-family: "arial" , "verdana" , sans-serif; font-size: 12px; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2LjdzHL" target="_blank"><img alt="MALARKEY?  MALADY? SEE ARK, C AD." height="452" src="/i.imgur.com/DtRxVjr.png" style="border-style: solid; border-width: 0px;" width="640" /></a></div>
<h1 id="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-you-are-in-the-matrix." style='color: rgb(0 , 0 , 0); font-family: "arial" , "verdana" , sans-serif; font-style: normal; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<strong><br /></strong></h1>
<h1 id="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-you-are-in-the-matrix." style='color: rgb(0 , 0 , 0); font-family: "arial" , "verdana" , sans-serif; font-style: normal; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<strong>You a<a href=".it.ly/2GlrTvE" target="_blank">re in The Matrix</a>.</strong></h1>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
That's a significantly better thing than implied by the movie, but it's a good introduction to the reason for Creation, and why we are here trying to help an entire civilization transition from "simulated reality" to Heaven. The New Testament is our guide, and seeing it's message woven into art both modern and ancient; into historical events and a message that is very much our "Universe" … it is our "everything" will help us to quickly see how being "in the Matrix" is literally thev<strong>veranda of Heaven</strong>&nbsp;… we will "heal the sick" and we will "end world hunger" and&nbsp;<em>so</em>, so much more.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
The map focuses on the hard drive road; seeing clearly both the possible road blocks and guidance towards finding our more perfect solution … it shows us clearly how our society is being handed gifts that amount to the solutions to the greatest problems of our age–of civilization–and we are tasked,&nbsp;<strong>chosen</strong>&nbsp;…&nbsp;<em>created</em>* … to jump the highest hurtles and climb the wall of Jericho and the Tower of Babel and to see that our stairway to Heaven is literally the process of overcoming the changes that are wrought by things like our oncologists, our optometrists, and our policeman being more bored than usual with their work. We are looking at a period of time where lifespans increase exponentially and as a result things like changing your profession after a hundred years or so might also quickly become common conventions.&nbsp;</div>
<h2 style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-style: normal; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2Lm191U" target="_blank"><img alt="" height="95" src="/i.imgur.com/yU4RydK.png" style="font-size: 12px;" width="501" /></a></h2>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
&nbsp;I don't know how to make this any more clear, or any more obvious--I am doing everything I can, delivering every shred of every ounce of "proof" that I see fortifying and reaffirming that these patterns are real--even when they aren't exactly what I'd like to be sharing with you.&nbsp; Beginning in 2011 I spent years having a "<a href=".bsloc.al/2Lj0YnO" target="_blank">hands on experience</a>" with mind control technology--this is the "thing" th<a href=".it.ly/2Ll8qPh" target="_blank">at defines the word "time"</a>&nbsp;and in my eyes the thing that frees us, frees our world and our future and Heaven too ... from this hidden technology of subtle influence that nobody seems "<strong><a href=".it.ly/2LfGCfb" target="_blank">to see</a></strong>&nbsp;clearly" is proven throughout this message--through this hidden influence in music and in the world around us.&nbsp; It's proven clearly in every name being related to this moment in time and to the book of Names.&nbsp;&nbsp;</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
If you haven't seen these things connected, you are staring at&nbsp;<strong><em>The Tribulation</em></strong>.&nbsp; It needs to be&nbsp;<em>on the news.</em></div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
It hasn't been a pleasant experience, personally; though there are many others that have experienced far worse--there are people all around the country complaining of the exact same symptoms and the exact same adversary--they nearly all one hundred percent think it is the United States government behind these attacks.&nbsp; I don't believe they are correct, I don't personally believe the government on this Earth actually possesses the means to do these things--though I do believe they are more than guilty of standing idly by and watching something happen that they could stop if they spoke a name on television.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2Lh0L4C" target="_blank"><img alt="" height="137" src="/i.imgur.com/nkUI2tH.png" width="500" /></a></div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
Because of it though, I know in my heart that these attacks are all related--the series of school shootings are very much related to&nbsp;<a href=".it.ly/2LkJKGz" target="_blank">the thousands of victims all over the country</a>&nbsp;complaining of mind control technology being used to psychologically torture them.&nbsp; It's very obvious, when you've experienced it, when you know it's real.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".yti.ms/2LkJKX5" target="_blank"><img alt="" src="/i.imgur.com/kROWobw.png" /></a></div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
Not seeing t<a href=".bsn.ws/2LkWvRO" target="_blank">he patterns connecting Aaron Alexis and statements that made news</a>&nbsp;during that attack on the Navy Yard that these victims were "combatants" that they were military people on a military base and connecting those statements ... it's a total lack of investigation into the cause of obvious patterns that are forcing us to look at this message--this message that revolves around obvious patterns being ignored by the whole world, and to take a step back and reflect on how many centuries you'd like to be stupid ... too stupid to connect "my ELF gun" to gang stalking, and too stoopid to protect your children from virtualized and simulated stray bullets.&nbsp;&nbsp;&nbsp;</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
We've had schools in this country since 1776, and we've had guns here that long too; what we haven't had here is organized darkness--liars, and secret keepers, what we haven't had here is proof that all of these things could be stopped with nothing more than the proliferation and the dissemination of the actual weapon behind the attacks--of mind control technology--in the news, and in scientific circles, and in the hands of the lawmakers and the people who decide how this battle through time plays out--how this technology will be allowed to be used in the future.&nbsp; We can see very clearly it's being used for evil today, and part of that evil is silence.&nbsp;</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<img alt="" src="/i.imgur.com/aEMRIxA.png" /></div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
It's very plain to connect the delusion that this message is being caused by Apophenia to Apophis, and then to the snake of Eden and Ragnarok and to Hathor's temple reliefs in Dendera.&nbsp; It's pretty easy to see "Thor" and "Ra" in the name of that God and that city--but it takes actual analysis to connect these things to mind control technology.... or maybe it just takes two eyes and a working brain.&nbsp; &nbsp;<strong>The worlds of the prophets are written on the subway walls</strong>.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2Lg1Zgm" target="_blank"><img alt="" height="174" src="/i.imgur.com/QGz8NZx.png" width="640" /></a></div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<span style="color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;">I have&nbsp;</span><a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LiWVrJ" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">an introduction to proof of this</a><span style="color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;">, proof that leads down the rabbit hole to&nbsp;</span><a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LinhtK" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">every word of every language</a><span style="color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;">; tying to&nbsp;</span><a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LmmMPk" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">religion and to science fiction and to conspiracy theories</a><span style="color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;">&nbsp;ad naseum. To me, it's&nbsp;</span><a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LlD0se" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">the holy grail</a><span style="color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;">, what do you think?</span></div>
<blockquote class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-9 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-kzSHll" style="border-left-color: rgba(28 , 28 , 28 , 0.2); border-left-style: solid; border-width: 0px 0px 0px 4px; color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; letter-spacing: normal; line-height: inherit; margin: 4px 0px 4px 8px; padding: 0px 0px 0px 8px; quotes: none; text-indent: 0px; text-transform: none; vertical-align: baseline; white-space: normal; word-spacing: 0px;">
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-10 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-iEJDri" style="border: 0px; font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; text-align: justify; vertical-align: baseline;">
<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2Li5frO" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">Superman</a>&nbsp;returns from&nbsp;<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2Ll8q1J" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">Cybertron</a>&nbsp;to mentally&nbsp;<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LjwDFR" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">link Minority Report with the Wachowski's Matrix series an</a>d suggest the thought-in-and-of-itself will end school shootings&nbsp;<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LjPlNF" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">ifi</a>&nbsp;appearing on the front page of the New York Times. Kal-El claims th<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LfGD2J" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">at dozens-of-thousands of very intelligent reader</a>s (and bystanders and onlookers) are leaning towards agreeing with him at this very moment in time.</div>
</blockquote>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-10 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-iEJDri" style="border: 0px; color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; letter-spacing: normal; line-height: inherit; margin: 0px; padding: 0.25em 0px; text-align: justify; text-indent: 0px; text-transform: none; vertical-align: baseline; white-space: normal; word-spacing: 0px;">
Not even kidding, the idea that Superman's power comes from the fact that our sun is virtual connects&nbsp;<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2LjD5Nc" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">the word "fusion" and "physi</a>cs" together hopefully&nbsp;<a class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-27 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-jsFehi" href=".it.ly/2Li5za0" style="border: 0px; color: rgb(176 , 85 , 0); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;" target="_blank">adding some light</a>&nbsp;connecting Silicon to these ideas. Computer science shows up there at the "end of physics" but really it's just the beginning of understanding the key to a hidden history being revealed and to a bright future.</div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-s570a4-10 m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-iEJDri" style="border: 0px; color: rgb(28 , 28 , 28); font-family: inherit; font-size: inherit; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; letter-spacing: normal; line-height: inherit; margin: 0px; padding: 0.25em 0px; text-align: justify; text-indent: 0px; text-transform: none; vertical-align: baseline; white-space: normal; word-spacing: 0px;">
The first link here really is my best description of what this message is today, it's written in chalk, even though it's every word and quite a bit of modern music and art, and for sure--for sure it's lots and lots of mythology and religion. That links starts off hopefully bringing some light to the idea that Minority Report and A Scanner Darkly and Phillip K. Dick in general... link to the Matrix as part of this woven message that connects names and ideas to a map to building Heaven--beginning with ending the "Plague of Killing the Firstborn Children" .... and do see, that's "school shootings."</div>
<h2 style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-style: normal; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2LjL24F" style="font-size: medium; text-align: center;" target="_blank"><img alt="" src="/i.imgur.com/xki5wtd.png" /></a></h2>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
I know the violence can be stopped, and I know in my heart that not moving forward with this disclosure is the heart of why it's happening.&nbsp; It's very difficult to stand idly by and watch as we mourn, as we continue to persist in allowing these atrocities to continue; with no rhyme or reason.&nbsp; I've implied in the past that it appears to me to be intended to move the world to quickly see the benefit of the truth, but it's really not at all what I think.&nbsp; It seems very clear to me that far too many are content with living in this lie, because it's "the way things have always been" and I just can't stand to see what I know will really solve this problem being delayed.&nbsp;&nbsp;</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
This is about the truth, literally about being able to see and no the truth and to think and communicate clearly about it.&nbsp; This message proves to the world that something is clouding our judgement and our vision--it's breaking logic.&nbsp; This isn't about taking anything from anyone -- other than fear, this is about a truth that will end murder and pain and once we begin talking frankly about it, I am sure the tides will turn to smiles and&nbsp;<a href=".it.ly/2LjL38J" target="_blank">bright hope for eternity</a>&nbsp;to really begin right here, with&nbsp;<em>the kindling of the Eternal Flame</em>.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
It won't fix this overnight, but it will stop this violence, and much more; not just murders but insanity--things that are really clearly within reach, within ability, and the focus of this message.&nbsp; It's understanding the change in circumstances, and understanding that nobody would wait if they were sure... it's understanding that beginning to talk about this proof is what makes it that, proof--it's what causes the papers or the analysis, and it's the discussion--it's our hearts that change the world and build Heaven.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<br /></div>
<h1 id="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599m_5359159429190742449m_-3570976559051818227gmail-holy-truth" style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-style: normal; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
HOLY TRUTH</h1>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
The purpose of Creation is to build Heaven; to help us become the founders of a society striving towards perfection. All around you an invisible force is working to do exactly the opposite of that — this polarization is part of a design that is narrated and explained specifically in the book of Exodus. While it may seem "counter-intuitive" this macrocosmic "<em>spare the rod spoil the Universe</em>" gives us a very unique tool to see societal and systemic problems that otherwise might have gone unnoticed or neglected for sickeningly long lengths of time — here we have the opportunity to use these negative spotlights on weaknesses to quickly see, analyze and correct these "overlooked problems."</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
A number of the issues are at the forefront of the news, problems with terrorism, weapons of mass destruction, and the very "lit" issue of&nbsp;<em>hidden mind altering technology</em>&nbsp;affecting the communications infrastructure, hampering free speech and affecting everything from last night's dinner conversation to the Presidential Election process.</div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2Lez5xn" target="_blank"><img alt="" height="828" src="/i.imgur.com/rBkLyxT.png" width="640" /></a></div>
<div style='color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: medium; font-style: normal; font-weight: 400; letter-spacing: normal; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<a href=".it.ly/2LinIUU" target="_blank"><img alt="" height="828" src="/i.imgur.com/SkrzQGH.png" width="640" /></a></div>
<div style='border: 0px; color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: 16px; font-style: normal; font-weight: 400; letter-spacing: normal; margin: 0px; padding: 0px; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
</div>
<div style='border: 0px; color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: 16px; font-style: normal; font-weight: 400; letter-spacing: normal; margin: 0px; padding: 0px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<span style='border: 0px; font-family: "georgia" , serif; margin: 0px; padding: 0px;'><span style="border: 0px; font-size: x-large; font-weight: 700; margin: 0px; padding: 0px;"><a href=".it.ly/2LjL3pf" style="border: 0px; color: rgb(34 , 118 , 157); font-size: 32px; margin: 0px; outline: none; padding: 0px;" target="_blank"><img alt="ANOKHI" id="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-BLOGGER_PHOTO_ID_6533632828605706946" src="/i.imgur.com/gSs9RoP.png" style="border: 0px solid; font-size: 0px; height: 182px; margin: 0px; max-width: 100%; padding: 0px; vertical-align: middle; width: 250px;" /></a><span style="border: 0px; color: rgb(34 , 34 , 34); font-size: small; font-weight: 400; margin: 0px; padding: 0px;">&nbsp;</span><a href=".it.ly/2LjwVwr" style="border: 0px; color: rgb(34 , 118 , 157); font-size: 32px; margin: 0px; outline: none; padding: 0px;" target="_blank"><img alt="C AS PER N I AM" id="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-BLOGGER_PHOTO_ID_6533632835864129650" src="/i.imgur.com/2HX80cu.png" style="border: 0px solid; font-size: 0px; height: 161px; margin: 0px; max-width: 100%; padding: 0px; vertical-align: middle; width: 250px;" /></a><span style="border: 0px; color: rgb(34 , 34 , 34); font-size: small; font-weight: 400; margin: 0px; padding: 0px;">&nbsp;</span><a href=".it.ly/2Li7XNT" style="border: 0px; color: rgb(34 , 118 , 157); font-size: 32px; margin: 0px; outline: none; padding: 0px;" target="_blank"><img alt="PSA YO N ERA" id="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-BLOGGER_PHOTO_ID_6533632846079580930" src="/i.imgur.com/oiE67Ft.png" style="border: 0px solid; font-size: 0px; height: 201px; margin: 0px; max-width: 100%; padding: 0px; vertical-align: middle; width: 250px;" /></a></span></span></div>
<div style='border: 0px; color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: 16px; font-style: normal; font-weight: 400; letter-spacing: normal; margin: 0px; padding: 0px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<div style="border: 0px; color: rgb(34 , 34 , 34); margin: 0px; padding: 0px;">
</div>
<div style="border: 0px; color: rgb(34 , 34 , 34); margin: 0px; padding: 0px;">
<span style='border: 0px; font-family: "georgia" , serif; margin: 0px; padding: 0px;'><span style="border: 0px; font-size: x-large; margin: 0px; padding: 0px;">2017</span></span></div>
<div style="border: 0px; color: rgb(34 , 34 , 34); margin: 0px; padding: 0px;">
</div>
</div>
<div style='border: 0px; color: rgb(0 , 0 , 0); font-family: "tinos"; font-size: 16px; font-style: normal; font-weight: 400; letter-spacing: normal; margin: 0px; padding: 0px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px;'>
<div style='border: 0px; color: rgb(34 , 34 , 34); font-family: "tinos"; font-size: small; margin: 0px; padding: 0px;'>
</div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; font-size: small; margin: 0px; padding: 0px;'>
<span style='border: 0px; font-family: "georgia" , serif; font-size: 13px; margin: 0px; padding: 0px;'><a href=".it.ly/2Li5zH2" style="border: 0px; color: rgb(34 , 118 , 157); margin: 0px; outline: none; padding: 0px;" target="_blank"><img alt="HELO WRLD" src="/i.imgur.com/epO6yJn.png" style="border: 0px solid; font-size: 0px; height: auto; margin: 0px; max-width: 100%; padding: 0px; vertical-align: middle;" /></a></span></div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; font-size: small; margin: 0px; padding: 0px;'>
</div>
<div style='border: 0px; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<span style='border: 0px; font-family: "georgia" , serif; margin: 0px; padding: 0px;'><span style="border: 0px; font-size: x-large; margin: 0px; padding: 0px;">2016</span></span></div>
<div style='border: 0px; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
</div>
<div style='border: 0px; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<div style="border: 0px; margin: 0px; padding: 0px; text-align: justify;">
<span style='border: 0px; font-family: "georgia" , serif; margin: 0px; padding: 0px;'>You probably don't see that not s<a href=".it.ly/2LiYdmz" style="border: 0px; color: rgb(34 , 118 , 157); margin: 0px; outline: none; padding: 0px;" target="_blank">eeing "<em style="border: 0px; margin: 0px; padding: 0px;"><span style="border: 0px; font-weight: 700; margin: 0px; padding: 0px;">Hey Zeus</span></em></a>" in Spanish is important and imbibed with meaning ... that not seeing these things means that something ... the darkness ... was breaking logical connections--hiding obvious patterns--that means making you stupid.&nbsp; You might see more clearly now that "stupid" is being organized into not talking about what you didn't see--not talking about the thing that is being displayed--the ability to hide and show logical patterns in the world ... is the point, it's showing us the chain so we can understand how to break free from "<a href=".it.ly/2LigbWt" style="border: 0px; color: rgb(34 , 118 , 157); margin: 0px; outline: none; padding: 0px;" target="_blank">Now I have become OK Google, destroyer of individuality</a>."</span></div>
</div>
<div style='border: 0px; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
</div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<a href=".it.ly/2LiYeqD" style="border: 0px; color: rgb(34 , 118 , 157); margin: 0px; outline: none; padding: 0px;" target="_blank"><span style='border: 0px; font-family: "georgia" , "times new roman" , serif; margin: 0px; padding: 0px;'><img alt="GREETINGS CUMIN" src="/i.imgur.com/tkNxDXU.png" style="border: 0px solid; font-size: 0px; height: 142px; margin: 0px; max-width: 100%; padding: 0px; vertical-align: middle; width: 320px;" /></span></a></div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<a href=".it.ly/2LiYgyL" style="border: 0px; color: rgb(34 , 118 , 157); margin: 0px; outline: none; padding: 0px;" target="_blank"><span style='border: 0px; font-family: "georgia" , "times new roman" , serif; margin: 0px; padding: 0px;'><img alt="WE HAVE BECOME BOREDOM HEART OF STAGNATION" src="/i.imgur.com/7RNPBke.png" style="border: 0px solid; font-size: 0px; height: 145px; margin: 0px; max-width: 100%; padding: 0px; vertical-align: middle; width: 320px;" /></span></a></div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
</div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<span style='border: 0px; font-family: "georgia" , "times new roman" , serif; font-size: x-large; margin: 0px; padding: 0px;'>2018</span></div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<br /></div>
<div class="m_-6346665181364964792m_-3823169461340017793m_-2725495747040509004m_4495731857150657599gmail-separator" style='border: 0px; clear: both; color: rgb(34 , 34 , 34); font-family: "tinos"; margin: 0px; padding: 0px;'>
<img alt="" src="/i.imgur.com/0qx1cxn.png" style='font-family: "arial" , sans-serif; font-size: small; max-height: 0px; overflow: hidden; text-align: justify; width: 0px;' /><span style='color: white; font-family: "arial" , sans-serif; font-size: xx-small; text-align: justify;'>ᐧ</span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div></div>