<p style="text-align: center;"><a href="./TY.html" style="font-family: Times; font-size: medium; text-align: center;"><img src="/i.imgur.com/hSEwzsk.png" width="500" height="537" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;">&nbsp;</p>
<h2 style="font-family: Times; text-align: center;"><em>hey... &quot;<strong>Us?</strong>&quot;&nbsp; is that you?</em></h2>
<p style="font-family: Times; font-size: medium;">&nbsp;</p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./ARFAXAD.html"><img src="/i.imgur.com/GqBB2iv.png" width="500" height="293" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;">(I mean, <em><a href=".ir.s.lamc.la">Hibachi</a></em>?) ... <a href=".n.wikipedia.org/wiki/Dome_of_the_Rock">IOD</a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href=".acebook.com/admdbrn"><img src="/i.imgur.com/pBERE8Z.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="400" height="359" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><em><a href="./CLIMAX.html">climax</a>&nbsp;and&nbsp;<a href="./APPARITION.html">he<strong>ari</strong>ng</a></em>, on the&nbsp;<a href=".hor.lamc.la/">trial of Christ</a>.</p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./CLIMAX.html"><img src="/i.imgur.com/ayFSh7D.png" width="501" height="307" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;">&nbsp;</p>
<p style="font-family: Times; font-size: medium; text-align: center;">@ Operations Center ... I MATH.&nbsp;&nbsp;<em><a href="./SPEECH.html">Opsimath</a></em>. @TOP, Computer Science, too;&nbsp;<em><a href="./SPEECH.html">TOPICS</a></em>.<em><br type="_moz" />
</em></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./PERSEUS.html"><img src="/i.imgur.com/DtBNVF9.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="500" height="448" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./FIRST.html"><img src="/i.imgur.com/Wnw7JAF.png" width="501" height="258" alt="" /></a></p>
<h1 style="font-family: Times; text-align: center;">&nbsp;</h1>
<h1 style="font-family: Times; text-align: center;"><em><a href="./SECORDANOLIVED.html">Hello? Is anyone out there?</a></em></h1>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./TY.html"><img src="/i.imgur.com/MSsWQ82.jpg" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;">&nbsp;</p>
<p style="font-family: Times; font-size: medium; text-align: center;"><em><span style="color: rgb(34, 34, 34); font-family: IBMPlexSans, sans-serif; font-size: 20px;">El Dorado. Zion. Paradise City. Ur.... on your way to Atlantis.</span></em></p>
<p style="font-family: Times; font-size: medium; text-align: justify;"><span style='color: rgb(28, 28, 28); font-family: "Noto Sans", sans-serif; font-size: 14px;'>All mythical stories about a city floating in the sky, rising out of the sea--post Star Wars V, anyway. &quot;Do our A.D. ... oh :(&quot; might shed some light on the source of the mythical places that turned from a man into a city, then a kingdom... and finally to an empire--at least according to the El Dorado stories we see today.</span></p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>Truth be told, U r really the key to that empire; to spanning the stars and to building the mythical place that we read pretty much nothing about across religion--the thing we call Heaven--and pretend to understand what it means.</p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: center;'><a href=".diohas.lamc.la"><img src="/i.imgur.com/IPuaxfl.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="400" height="166" alt="" /></a></p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>There's a very clear map to building this place, to seeing what &quot;Jerusalem&quot; really means ... and realizing you today stand on a haunted planet closer to Salem than any kind of &quot;Holy City&quot; should or ever would be. That's the point, it's broken--everything here is broken; and all with the intent of you &quot;picking up the pieces and putting it back together ... your way, hopefully not hitting it with a rock (Prince in Bride ref).&quot;</p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>Me J or u ... (gilate)&nbsp;<a target="_blank" class="s570a4-27 jsFehi" href="./TY.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">Salem, sold for under 100$</a></p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>There's a very clear map, connecting every major video game system and the Matrix together, explaining that's where we are, and the point is to use &quot;Matrix&quot; to end school shootings, hunger, disease (c it as &quot;malady&quot; and A.D. is why you are the timeline that actually builds the first successful &quot;ascended civilization&quot;) among other issues such as finding out you were born in a prison, told it was a crib, and really the whole time it's been nothing short of a torture chamber.</p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>As we continue to fight against Pink Floyd's wall, and the obvious idea that it has something to do with the SOS of the Sound of Silence and of course Jericho (not just the TV series) and ... well, countless other references from the idiomatic &quot;the writing is all about ...&quot; how we're being subtly controlled and coerced into thinking that it's A-OK to ignore atrocity here so that ... we can have a nice happy warm cushy place either not here now, or when we die.</p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: center;'><a href=".er.s.lamc.la"><img src="/i.imgur.com/BziFP0g.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="400" height="209" alt="" /></a></p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>I'm telling you we should be able to walk to Heaven today, and walk back; and have that wonderful &quot;freedom&quot; to move about throughout the virtual hard drive we were born in until the last drop of electron or positron or ... oil ... is left in existence. We should be able to do that safely, without fear of murder or being cloned and copied into someone else's &quot;Holoroom&quot; and we shouldn't have to be told that these are only the beginning of the concerns you should be pretty aware of at this point in time; as you are either possessing (and possessed) by some sea of letters hiding behind columns or coprorations or countries that have very little to do with the actual problem.</p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'><a target="_blank" class="s570a4-27 jsFehi" href="./ADIOSAS.html" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(176, 85, 0); text-decoration-line: none;">Adamedogate</a>.</p>
<p class="s570a4-10 iEJDri" style='margin: 0px; padding: 0.25em 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: "Noto Sans", sans-serif; vertical-align: baseline; color: rgb(28, 28, 28); text-align: justify;'>Something should be acting to protect you, and everyone everywhere from having their thoughts &quot;subtly altered&quot; as in &quot;I can't see a clear pattern connecting Tennessee&quot; to Xbox, Nintendo Entertainment System, Genesis ... and then the Rock of Ages&quot; or that you don't think having every video game system (and computer system) relate to some kind of religious &quot;apocalypse&quot; is something that should be on the news.</p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href=".//ALLTA.html"><img src="/i.imgur.com/klh4K9g.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href="./WISDATAM.html"><img src="/i.imgur.com/5vs1zX7.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="500" height="1196" alt="" /></a></p>
<p style="font-family: Times; font-size: medium; text-align: center;"><a href=".ww.biblewheel.com/GR/GR_358.php"><img src="/i.imgur.com/XNDONjI.png" style="font-family: Arial, Verdana, sans-serif; font-size: 12px;" width="500" height="465" alt="" /></a></p>
<p style="font-family: Times; font-size: medium;">&nbsp;</p>
<p>&nbsp;</p>
